	<form action="" method="post">
		<article class="module width_half">
			<header><h3>
				{if $user.sysu_id == ''}
					New user
				{else}
					Edit user - {$user.sysu_username} ({$user.sysu_name} {$user.sysu_surname})
				{/if}
			</h3></header>
			<div class="module_content">
					<fieldset>
						<label>* Username</label>
						<input type="text" name="sysu_username" value="{$user.sysu_username}" required />
					</fieldset>
					
					<fieldset class="half_left">
						<label>* Name</label>
						<input type="text" name="sysu_name" value="{$user.sysu_name}" required />
					</fieldset>
					
					<fieldset class="half_right">
						<label>* Surname</label>
						<input type="text" name="sysu_surname" value="{$user.sysu_surname}" required />
					</fieldset>
					
					<fieldset>
						<label>* E-mail</label>
						<input type="text" name="sysu_email" value="{$user.sysu_email}" required />
					</fieldset>
					
					<div class="clear"></div>
					
					<fieldset class="half_left">
						<label>* Password</label>
						<input type="password" name="sysu_password1" {if $user.sysu_id == ''}required{/if} />
					</fieldset>
					
					<fieldset class="half_right">
						<label>* Password (repeat)</label>
						<input type="password" name="sysu_password2" {if $user.sysu_id == ''}required{/if} />
					</fieldset>
	
					<div class="clear"></div>
		
					<fieldset class="half_left">
						<label>Role</label>
						<select name="sysu_is_admin">
							<option value="0" {if $user.sysu_is_admin == 0}selected{/if}>User</option>
							<option value="1" {if $user.sysu_is_admin == 1}selected{/if}>Superuser</option>
						</select>
					</fieldset>
	
					<fieldset class="half_right">
						<label>Is active</label>
						<input type="checkbox" name="sysu_is_active" {if $user.sysu_is_active == 1}checked{/if} />
					</fieldset>

					<div class="clear"></div>
			</div>
			<footer>
				<div class="submit_link">
					<input type="submit" value="Save" class="alt_btn" name="save" />
					<input type="submit" value="Cancel" name="cancel" formnovalidate />
				</div>
			</footer>
			
		</article>
	</form>		