		<article class="module width_full">
		<header><h3 class="tabs_involved">User list</h3></header>

		<div class="tab_container">
			<div id="tab1" class="tab_content">
			<table class="tablesorter border_radius_bottom" cellspacing="0"> 
			<thead> 
				<tr> 
    				<th>Username</th> 
    				<th>Name, surname</th>
    				<th>E-mail</th>
    				<th>Role</th>
                    <th>Active</th>
    				<th>Actions</th> 
				</tr> 
			</thead> 
			<tbody> 
				{foreach from=$user_list item=i}
					<tr> 
	    				<td><img src="/images/icn_profile.png" alt="" /> {$i.sysu_username}</td>
	    				<td>{$i.sysu_name} {$i.sysu_surname}</td>
	    				<td>{$i.sysu_email}</td>
	    				<td>{if $i.sysu_id == 1}Admin{elseif $i.sysu_is_admin == 1}Superuser{else}User{/if}</td>
                        <td>{if $i.sysu_is_active == 1}Yes{else}No{/if}</td> 
	    				<td>
                            {if $user_info.user_id == 1 || $i.sysu_id == $user_info.user_id || ($user_info.user_is_admin == 1 && $i.sysu_is_admin != 1)}
	    					<a class="icn" href="/admin/user/edit/id/{$i.sysu_id}">
	    						<input type="image" src="/images/icn_edit.png" title="Edit" />
	    					</a>
                            {/if}
	    					{if $i.sysu_id != 1 && ($user_info.user_id == 1 || ($user_info.user_is_admin == 1 && $i.sysu_is_admin != 1))}
	    					<a class="icn" href="/admin/user/delete/id/{$i.sysu_id}" onclick="if(!confirm('Are you sure you want to delete user {$i.sysu_name} {$i.sysu_surname} permanently?')) { return false }">
	    						<input type="image" src="/images/icn_trash.png" title="Trash" />
	    					</a>
	    					{/if}
	    				</td> 
					</tr> 
				{/foreach}
			</tbody> 
			</table>
			</div>
						
		</div>
		
		</article>
