<div class="factory-container theme-bright">
    <div class="theme-switcher">
        <a href="#" class="bright active" data-theme="bright"></a
        ><a href="#" class="dark" data-theme="dark"></a>
    </div>

    <div class="factory">
        <div class="trigger palags" data-constructor-type="palags">
            <span>{$tr->_('konstruēt')} {$tr->_('palagu')}</span>
        </div>
        <div class="trigger spilvendrana-1" data-constructor-type="spilvendrana-1">
            <span>{$tr->_('konstruēt')}<br>{$tr->_('spilvendrānu')}</span>
        </div>
        <div class="trigger spilvendrana-2" data-constructor-type="spilvendrana-2">
            <span>{$tr->_('konstruēt')}<br>{$tr->_('spilvendrānu')}</span>
        </div>
        <div class="trigger virspalags" data-constructor-type="virspalags">
            <span>{$tr->_('konstruēt')}<br>{$tr->_('virspalagu')}</span>
            <div class="diagonal"></div>
        </div>
    </div>

    <div class="side-icons">
        <div class="icon-1"></div>
        <div class="icon-2"></div>
        <div class="icon-3"></div>
        <div class="icon-4"></div>
        <div class="icon-5"></div>
        <div class="icon-6"></div>
    </div>
</div>

<div class="buy">
    <div class="pricing">
        <p>{$tr->_('Jūsu ideālā gultas veļa')}:</p>

        <ul>
            <li>
                <span class="item">{$tr->_('Virspalags')}</span>
                <span class="amount">{*1*}</span>
                <span class="price price-virspalags">0.00 €</span>
            </li>

            <li>
                <span class="item">{$tr->_('Spilvendrānas')}</span>
                <span class="amount">{*3*}</span>
                <span class="price price-spilvendrana">0.00 €</span>
            </li>

            <li>
                <span class="item">{$tr->_('Palags')}</span>
                <span class="amount">{*2*}</span>
                <span class="price price-palags">0.00 €</span>
            </li>
        </ul>

        <div class="dotted-line"></div>

        <div class="total-price">
            <span class="total">{$tr->_('Kopējā cena')}:</span>
            <span class="price">0.00 €</span>
        </div>
    </div>

    <div class="buttons">
        <a href="#" class="delivery"><span>{$tr->_('bezmaksas piegāde')}</span></a
        ><a href="#" class="order">{$tr->_('gatavs_2')}</a>
    </div>

    <div class="info">
    	{if $lang == 'lv'}
	        <p>PAR GULTAS VEĻAS KOMPLEKTU:</p>
			<ul>
				<li>Īpaši maigs, mīksts un viegls materiāls, ar vienmērīgi gludu virsmu.</li>
				<li>Sniegs Jums vēsuma sajūtu vasarā, bet ziemā sildīs.</li>
				<li>Nelips Jums pie ādas, nesviedrēs un neelektrizēsies.</li>
				<li>Neizraisa kairinājumu: piemērots jutīgai un bērniņa ādai.</li>
				<li>Unikālas mitruma vadīšanas īpašības.</li>
				<li>Regulē ķermeņa mitruma svārstības, uzlabos ādu un Jūsu veselību.</li>
				<li>Pilnīgi higiēnisks: kavē baktēriju rašanos.</li>
				<li>Izturīgs, ērti lietojams un ātri žūstošs.</li>
			</ul>
	
			<p>KĀ KOPT:</p>
			<ul>
				<li>Var mazgāt gan ar rokām, gan veļas mašīnā.</li>
				<li>Ieteicams mazgāt 30–40 °C temperatūrā , izvēloties maigākus mazgāšanas līdzekļus.</li>
				<li>Aizliegts mazgājot izmantot "centrifūgu", kā arī žāvēšanas mašīnas.</li>
				<li>Ieteicams gludināt vē mitru, „vieglā, saudzīgā” režīmā.</li>
				<li>Aizliegts balināt.</li>
			</ul>
		{else if $lang == 'ru'}
			<p>ПРЕИМУЩЕСТВА TENCEL®:</p>
			<ul>
				<li>Особо нежный, мягкий и легкий материал – поверхность равномерная и гладкая.</li>
				<li>Терморегулирующий – тепла зимой, а прохладой – летом.</li>
				<li>Не липнет к Вашей коже, не вызывает потение и не электризуется.</li>
				<li>Не вызывает раздражения: подойдет для чувствительной и детской кожи.</li>
				<li>Уникальные особенности впитывания влаги, регулировка изменений влажности тела</li> 
				<li>Tкань способна улучшить кожу и Ваше здоровье.</li>
				<li>Полностью гигиенична: задерживает появление бактерий.</li>
				<li>Прочная, легкая в использовании ткань, быстро сохнет.</li>
			</ul>
			
			<p>КАК ПОЛЬЗОВАТЬСЯ:</p>
			<ul>
				<li>Mожно стирать как руками, так и в стиральной машинке.</li>
				<li>B стиральной машине в щадящем режиме при температуре 30–40 °С.</li>
				<li>Рекомендуем гладить в «легком, бережном» режиме или „Silk”.</li> 
				<li>Белье запрещается отбеливать.</li>
				<li>Не используйте в центрифугах.</li>
			</ul>
		{else}
			<p>ADVENTAGES OF TENCEL® FABRIC:</p>
			<ul>
				<li>Very delicate, soft and light material due to the uniformly smooth surface.</li> 
				<li>Thermo regulating</li>
				<li>Shall not stick to the skin, make you sweat or electrify.</li>
				<li>Does not cause irritation: suitable for sensitive and child's skin.</li>
				<li>Unique moisture conduction properties regulating responding to fluctuations in body moisture,</li>
				<li>Improves skin and overall health.</li>
				<li>Fabric is made with the use of eucalyptus wood pulp</li>
				<li>Entirely hygienic - hinders formation of bacteria.</li>
				<li>Durable - easy to use and quick drying.</li>
			</ul>
			
			<p>HOW TO TAKE CARE:</p>
			<ul>
				<li>May wash by hand or in washing machine.</li>
				<li>Washed in a washing machine on a delicate mode at a temperature of  30–40 °C  using suitable detergents.</li>
				<li>Don’t use centrifuge!</li>
				<li>Recommended to iron in a light and delicate mode in "Silk" programme.</li>
				<li>It is not permitted to bleach product.</li>
			</ul>
		{/if}
    </div>

    <div class="share">
        <div class="social">
            <a href="http://www.facebook.com/zigzagfactory.lv" class="facebook" target="_blank"></a
            ><a href="http://twitter.com/zigzagfactory" class="twitter" target="_blank"></a
            ><a href="http://instagram.com/zigzagfactory" class="instagram" target="_blank"></a
            ><a href="http://www.draugiem.lv/zigzagfactory/" class="draugiem" target="_blank"></a>
        </div>
    </div>
</div>

<!--
<div class="closed" style="position:absolute;top:0;left:0;bottom:0;right:0;background-color: rgba(255,255,255,0.5);font-size:30px;line-height:700px;text-align:center;">
	<span style="display: inline-block;vertical-align: middle;line-height: normal; ">{$tr->_('JAU DRĪZUMĀ')} ...</span>
</div>
-->

<script type="text/template" id="tpl-constructor">
<div class="constructor-container"><div class="constructor-container-inner">
    <div class="logo"></div>

    <div class="constructor">
        <a href="#" class="close"></a>

        <div class="constructor-content">
            <div class="constructor-attributes side">
                <div class="size dropdown">
                    <span class="label">{$tr->_('izmēri')}:</span>

                    <div class="selectbox">
                        <a href="#" class="selectbox-element">
                            <span><%- sizes[0].clss_width %> x <%- sizes[0].clss_height %> {$tr->_('cm')}</span>
                        </a>

                        <div class="selectbox-list sizes">
	                        <% _.forEach(sizes, function (size) { %>
	                            <a href="#" class="selectbox-list-item" data-width="<%- size.clss_width %>" data-height="<%- size.clss_height %>" data-size-id="<%- size.clss_id %>" data-base-price="<%- size.clss_base_price %>">
	                                <span><%- size.clss_width %> x <%- size.clss_height %> {$tr->_('cm')}</span>
	                            </a>
                            <% }); %>
                        </div>
                    </div>
                </div>

                <div class="color-selector">
                    <h2>{$tr->_('auduma krāsas')}:</h2>

                    <div class="color-selector-content">
                        <div class="colors">
	                        <% _.forEach(colors, function (color) { %>
	                            <span class="color" data-color-id="<%- color %>" style="background-color: #<%- color %>;" draggable="true"></span>
                            <% }); %>
                        </div>

                        <div class="color-switcher">
                            <a href="#" class="color-previous">previous</a>
                            <img class="color-texture" src="/images/darbnica/constructor-colors/color-<%- colors[0] %>.jpg">
                            <a href="#" class="color-next">next</a>
                        </div>
                    </div>
                </div>
{*
                <% if (type === 'virspalags' || type === 'spilvendrana') { %>
                <div class="accessories-selector">
                    <h2>aksesuāri:</h2>

                    <div class="accessories-selector-content">
                        <div class="accessories">
                        </div>

                        <div class="accessory-colors">
                        </div>

                        <div class="accessory-info">
                        </div>
                    </div>
                </div>
                <% } %>
*}
                <div class="aa dropdown">
                    <span class="label"><% if (type === 'palags') { %>{$tr->_('apstrāde')}<% } else { %>{$tr->_('aizdare')}<% } %>:</span>

                    <div class="selectbox">
                        <a href="#" class="selectbox-element">
                            <span><%- options[0].name %></span>
                        </a>

                        <div class="selectbox-list apstrade-aizdare">
                        	<% _.forEach(options, function (option) { %>
                            	<a href="#" class="selectbox-list-item" data-aa-id="<%- option.id %>">
                                	<span>{$tr->_('<%- option.name %>')}</span>
                                </a>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="constructor-builder">
                <div class="builder">
	                <% if (type === 'palags') { %>
	                    <div class="drop-palags-color droppable-target">
	                        <div class="tip">
                                {$tr->_('Ievelciet palaga krāsu')}
	                        </div>
	                    </div>
	                <% } %>
                </div>

                <% if (type === 'virspalags' || type === 'spilvendrana-1' || type === 'spilvendrana-2') { %>
                    <div class="drop-bottom-color droppable-target">
                        <div class="tip">
                            <% if (type === 'virspalags') { %>
                                {$tr->_('Ievelciet virspalaga apakšpuses krāsu')}
                            <% } else if (type === 'spilvendrana-1' || type === 'spilvendrana-2') { %>
                                {$tr->_('Ievelciet spilvendrānas otras puses krāsu')}
                            <% } %>
                        </div>
                    </div>
                <% } %>
            </div>

            <div class="constructor-info side">
                <h1><% if (type === 'palags') { %>{$tr->_('Palags')}<% } else if (type === 'virspalags') { %>{$tr->_('Virspalags')}<% } else if (type === 'spilvendrana-1' || type === 'spilvendrana-2') { %>{$tr->_('Spilvendrāna')}<% } %></h1>

                <div class="pricing-info">
                	{if $lang == 'lv'}
                		<p>Vienai blakus esošai krāsai, izvēloties nākamo krāsu, starp tām veidojas vīle, pēc kā tiek rēķinātas Dizaina izmaksas. Katra dizaina 1 cm vīles cena ir 0,02 EUR. Vienas "rūtiņas" izmēri realitātē- 5x5 cm.</p>
                	{else if $lang == 'ru'}
                		<p>Дополнительная плата может быть применена при создании швов между двумя цветными тканями.  Цена 1 см шва составляет EUR 0,02 EUR. Один «квадрат» реальность размера 5х5 см.</p>
                	{else}
                		<p>Additional cost is generated by the created fabric seams between fabrics of two different colour. Sewing of seams cost 0.02 EUR per cm. One of the "square" reality-size 5x5 cm.</p>
                	{/if}                
                </div>

                <div class="fabric-info">
                	{if $lang == 'lv'}
						<p class="action size" style="display: none;">Izvēlieties atbilstošo izmēru.</p>                	
						<p class="action colors" style="display: none;">Izvēlieties audumu krāsas, noklikšķinot ar peli uz laukumiem, kurus vēlaties izkrāsot.</p>
						
						{if $type == 'palags'}
							<p class="action options" style="display: none;">Izvēlieties palaga malu apstrādes veidu.</p>
						{else}
							<p class="action options" style="display: none;">Izvēlieties aizdares veidu.</p>
						{/if}				
								
						<p class="action bottom-color" style="display: none;">Izvēlieties auduma krāsu, „ievelciet” ar peli uz apakšpusei paredzētā laukuma.</p>
                	{else if $lang == 'ru'}
						<p class="action size" style="display: none;">Выберите соответствующий размер.</p>                	
						<p class="action colors" style="display: none;">Выберите цвета ткани, просто кликнув мышкой на поля, которые необходимо выделить цветом.</p>

						{if $type == 'palags'}
							<p class="action options" style="display: none;">Выберите тип обработки края.</p>
						{else}
							<p class="action options" style="display: none;">Выберите тип застежки.</p>
						{/if}				

						<p class="action bottom-color" style="display: none;">Выберите цвет ткани, просто "нажмите и перетащите" мышкой в нижней части окна.</p>                	                	
                	{else}
						<p class="action size" style="display: none;">Select a suitable size.</p>                	
						<p class="action colors" style="display: none;">Select fabric colours by clicking on the areas that you wish to colour.</p>

						{if $type == 'palags'}
							<p class="action options" style="display: none;">Select blanket side processing type.</p>
						{else}
							<p class="action options" style="display: none;">Select closing type.</p>
						{/if}				

						<p class="action bottom-color" style="display: none;">Select a colour for the fabric and "drag in" with the mouse on the area intended for the underside.</p>                	
                	{/if}
                </div>

                <div class="fabric-description">
                	{if $lang == 'lv'}
                		<p class="info size" style="display: none;">Izvēlieties precīzu izmēru, kāds Jums ir nepieciešams. Jūsu izvēlētajam spilvendrānu vai virspalaga izmēram papildus pieskaitīsim 1 cm, lai tas labi izskatītos un būtu ērti lietojams.</p>
                		<p class="info colors" style="display: none;">Spēle ar krāsām, ļaujiet savai iztēlei pārtapt mākslas darbā. Radiet tieši savu sapņu gultas veļu!</p>
                		
						{if $type == 'palags'}
							<p class="info options" style="display: none;">Praktiski uzlabojumi palagam. Varam nodrošināt standarta palagu "Apstrādātas maliņas" vai ar gumiju pa perimetru, tikai izvēlieties matrača augstumu, vai gumiju tikai palaga stūros, lai aptvertu Jūsu matraci. Tas ir tikai Jūsu ērtībām.</p>
						{else}
	                		<p class="info options" style="display: none;">Virspalaga un spilvendrānu aizdare standartā tiek veidota kājgaļa un sāna vidusdaļā. Ja vēlaties citu, droši izvēlieties vai dariet mums zināmu pasūtījuma noformēšanas komentāru sadaļā.</p>
						{/if}				

                		<p class="info bottom-color" style="display: none;">Virspalaga un spilvendrānu apakšpuse, kā arī palags tiek izgatavots no viengabala krāsaina auduma bez dizaina, lai Jūs varētu baudīt eikalipta auduma priekšrocības.</p>
                	{else if $lang == 'ru'}
                		<p class="info size" style="display: none;">Выберите точный размер, который нужен именно Вам. К указанным Вами размерам наволочки и пододеяльника мы дополнительно прибавим по 1 см, чтобы белье было удобным в использовании и красиво смотрелось.</p>
                		<p class="info colors" style="display: none;">Играйте с цветами, позвольте своему воображению стать реальным шедевром. Создайте постельное белье своей мечты!</p>

						{if $type == 'palags'}
							<p class="info options" style="display: none;">Практические улучшения простыни. Мы можем обеспечить доставку стандартной простыни(Обработанные швы) или с резинкой по периметру (выберите только высоту матраса), или резинкой только по углам простыни, чтобы она удобно охватывала Ваш матрас. Все это – для Вашего удобства.</p>
						{else}
	                		<p class="info options" style="display: none;">Застежка пододеяльника и наволочки расположена в центре задней части. Если Вы хотите, чтобы мы расположили ее в другом месте, просто выбираете или сообщите нам при оформлении заказа в поле комментариев.</p>
						{/if}				

                		<p class="info bottom-color" style="display: none;">Нижняя часть пододеяльника и наволочки, а также простыня, изготовлены из цельного куска цветной ткани без дизайна, тем самым давая Вам возможность насладиться всеми преимуществами тенцеля.</p>                	                	
                	{else}
                		<p class="info size" style="display: none;">Please select exactly the size that you need. We shall add 1 cm to the size of pillow case and slipcover selected by you for it to look go and be easy to use.</p>
                		<p class="info colors" style="display: none;">Play with colours and let your imagination to become a piece of art. Create the bed linen of your dreams!</p>

						{if $type == 'palags'}
							<p class="info options" style="display: none;">Practical blanket improvements. We offer standards blankets (Finished edges) or rubber band around perimeter (please select mattress height), in the corners of the blanket to attach to your mattress. For your convenience.</p>
						{else}
 		               		<p class="info options" style="display: none;">By default the closing of slipcover and pillow case is made in the middle part of  bed foot, and side half . Should you wish to place it elsewhere please choose, or indicated in the order completion comments section.</p>
						{/if}				

                		<p class="info bottom-color" style="display: none;">The underside of slipcover and pillowcase as well as the blanket is made from a single piece coloured fabric without design in order to allow you fully enjoy the benefits of tencel fabric.</p>                	
                	{/if}
                </div>

                <div class="costs">
                    <p class="cost base-price">
                        <span class="label">{$tr->_('auduma bāze')}</span>
                        <span class="price">0.00 &euro;</span>
                    </p>

                    <% if (type !== 'palags') { %>
                    <p class="cost design">
                        <span class="label">{$tr->_('dizains')}</span>
                        <span class="price">0.00 &euro;</span>
                    </p>
                    <% } %>
{*
                    <p class="cost accessories">
                        <span class="label">{$tr->_('aksesuāri')}</span>
                        <span class="price">0.00 &euro;</span>
                    </p>
*}
                </div>

                <div class="total-price">
                    <span class="label">{$tr->_('cena')}</span>
                    <span class="price">0.00 &euro;</span>
                </div>

                <div class="buttons">
                    <a href="#" class="delivery"><span>{$tr->_('bezmaksas')}<br>{$tr->_('piegāde')}</span></a
                    ><a href="#" class="order">{$tr->_('gatavs_2')}</a>
                </div>
            </div>
        </div>
    </div>
</div></div>
</script>

