<div class="content-container masonry" data-gutter="20" style="transition: 0.3s height;">
	{foreach $gallery_list as $gallery}
    <article class="item" data-item-id="{$gallery.pgal_id}">
        <figure>
        	<img src="/uploads/galleryimages/{$gallery.pgal_id}/lt_{$gallery.first_image[0]['pimg_name']}" alt="" />
        </figure>
        <section class="content">
            <div class="details">
                <div class="details-inner">
                    <p class="name">{$tr->_('Gultasveļas<br>komplekts')}<br>{$gallery.lgal_title}</p>
                    {if $gallery.pgal_starting_price != ''}<p class="price">{$gallery.pgal_starting_price} EUR</p>{/if}
                </div>
            </div>
        </section>
    </article>
    {/foreach}
</div>

	<script type="text/javascript">
		var gallery_open_id = "{$open_id}";
	</script>

    <script type="text/template" id="tpl-gallery-overlay">
        <div class="overlay-container"><div class="overlay-inner-container">
            <div class="overlay-logo"></div>
            
            <div class="overlay">
                <a href="#" class="overlay-close"></a>

                <div class="overlay-content">
                    <div class="overlay-images">
                        <figure class="overlay-image">
                            <img src="/uploads/galleryimages/<%- id %>/<%- images[0].img_name %>" alt="">
                        </figure>

                        <div class="overlay-thumbnails">
                            <% _.forEach(images, function (image, index) { %>
	                            <figure class="overlay-thumbnail <% if (index == 0) { %>selected<% } %>" data-src="/uploads/galleryimages/<%- id %>/<%- image.img_name %>">
	                                <img src="/uploads/galleryimages/<%- id %>/st_<%- image.img_name %>" alt="">
	                            </figure>                            
                            <% }); %>
                        </div>
                    </div>

                    <div class="overlay-product-details">
                        <header>
                            <h2>{$tr->_('gultas veļas komplekts')}</h2>
                            <h1><%- name %></h1>
                        </header>

                        <div class="items">
                            <% _.forEach(items, function (item) { %>
                            <div class="item">
                                <span class="label"><%- item.type %>:</span>
                                <div class="selectbox">
                                    <a href="#" class="selectbox-element">
                                        <span class="size"><%- item.sizes[0].size %></span>
                                        <span class="price">(<%- item.sizes[0].price %> €)</span>
                                    </a>

                                    <div class="selectbox-list">
                                        <% _.forEach(item.sizes, function (size) { %>
                                            <a href="#" class="selectbox-list-item" data-size="<%- size.code %>" data-price="<%- size.price %>" data-id="<%- size.id %>">
                                                <span class="size"><%- size.size %></span>
                                                <span class="price">(<%- size.price %> €)</span>
                                            </a>
                                        <% }); %>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                        </div>

                        <div class="description">
                        	<%= description %>
                        </div>

                        <div class="washing-instructions"></div>

                        <div class="shop">
                            <div class="total-label">{$tr->_('cena')}</div>
                            <div class="total">€ <span class="total-price"><%- totalPrice.toFixed(2).toString() %></span><br>+ {$tr->_('bezmaksas piegāde')}</div>

                            <div class="delivery-info">{$tr->_('Izvēlētais roku darbs piegādei tiks nodots pēc 4 darba dienām.')}</div>

                            <a href="#" class="add-to-basket">{$tr->_('pievienot grozam')}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div></div>
    </script>