{$_view->doctype()}
<!--[if IE 6]>		<html class="ie6 old-ie" lang="{$lang}"> <![endif]-->
<!--[if IE 7]>		<html class="ie7 old-ie" lang="{$lang}"> <![endif]-->
<!--[if IE 8]>		<html class="ie8 old-ie" lang="{$lang}"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="{$lang}">
<!--<![endif]-->
<head>
{* Title *}
{$_view->headTitle()}

{* Meta tags *}
{$_view->headMeta()}

{* HTML5 shiv *}
<!--[if lt IE 9]>
	<script src="/js/html5shiv.js"></script>
<![endif]-->

{* Stylesheets, favicon, etc. *}
{$_view->headLink()}
</head>
<body>
    <div class="page-wrapper">
        <header class="page-header">
            <div class="sakt-konstruet"></div>
            <div class="main-menu-bg"></div>

            {if $selected == 'katalogs'}
            	<div class="sub-menu-bg"></div>
            {/if}

            <div class="page-header-logo">
                <a href="/{$lang}" class="{if $selected == 'grozs' || $selected == 'katalogs'}galerija{else}{$selected}{/if}"></a>
            </div>

            <div class="main-menu">
            	{*$_navigation_top*}

                <nav>
                	<a href="/{$lang}/gultas-vela" class="gultas-vela{if $selected == 'gultas-vela'}active{/if}">{$tr->_('gultas veļa')}</a>
                    <a href="/{$lang}/par-zig-zag" class="par-zig-zag{if $selected == 'par-zig-zag'} active{/if}">{$tr->_('par zig zag')}</a>
                    <a href="/{$lang}/darbnica" class="darbnica{if $selected == 'darbnica'} active{/if}">{$tr->_('darbnīca')}</a>
                    <a href="/{$lang}/katalogs" class="galerija{if $selected == 'katalogs'} active{/if}">{$tr->_('katalogs')}</a>
                    <a href="/{$lang}/audumi" class="audumi{if $selected == 'audumi'} active{/if}">{$tr->_('audumi')}</a>
                    <a href="/{$lang}/atsauksmes" class="atsauksmes{if $selected == 'atsauksmes'} active{/if}">{$tr->_('atsauksmes')}</a>
                </nav>
            </div>

            {if $selected == 'katalogs' && $gallery_categories}
            <div class="sub-menu">
                <nav>
                	{foreach $gallery_categories as $item name=gal_cat}
                    	<a href="#" data-item-id="{$item.ccat_id}">{$item.ccat_name}</a>
                    {/foreach}
                </nav>
            </div>
            {/if}

            <div class="alt-menu">
                <nav>
                	{foreach $_languages as $language}
                    	<a href="/{$language.clsl_code}"{if $lang == $language.clsl_code} class="active"{/if}>{$language.clsl_code}</a>
                    {/foreach}
                </nav>

                <nav class="faq">
                    <a href="/{$lang}/buj">{$tr->_('b.u.j.')}</a>
                </nav>

                <nav class="cart">
                    <a href="/{$lang}/grozs">{$tr->_('pirkumu grozs')} (<span id="cart_qty">{if $cart._qty}{$cart._qty}{else}0{/if}</span>)</a>
                </nav>
            </div>
        </header>

        <div class="page-content {if $selected == 'katalogs'}galerija{elseif $selected == 'index'}galvena{elseif $selected}{$selected}{/if}">

        	{$_layout->content}

        </div>
        
        <footer class="page-footer">

        	{if $selected != 'gultas-vela'}
	            <div class="page-footer-badges">
	                <div class="badge gultasvela {$lang}"></div>
	                <div class="badge draudziga {$lang}"></div>
	                <div class="badge roku {$lang}"></div>
	                <div class="badge garantija {$lang}"></div>
	                <div class="badge piegade {$lang}"></div>
	                <div class="badge maksajumi {$lang}"></div>
	            </div>
	        {/if}	        
            
            <div class="page-footer-content">
	            <div class="page-footer-menu-container">
	                <div class="page-footer-menu">
	                    <p>{$tr->_('sākt')}</p>
	                    <nav>
	                        <a href="/{$lang}/darbnica">{$tr->_('konstruēt')}</a>
	                        <a href="/{$lang}/katalogs">{$tr->_('katalogs')}</a>
	                        <a href="/{$lang}/audumi#bezmaksas-paraugs">{$tr->_('bezmaksas paraugs')}</a>
	                    </nav>
	                </div>

	                <div class="page-footer-menu">
	                    <p>{$tr->_('klientu serviss')}</p>
	                    <nav>
	                        <a href="/{$lang}/apmaksa">{$tr->_('apmaksa')}</a>
	                        <a href="/{$lang}/piegade">{$tr->_('piegāde un termiņi')}</a>
	                        <a href="/{$lang}/audumi">{$tr->_('audums')}</a>
	                        <a href="/{$lang}/garantija">{$tr->_('garantija')}</a>
	                        <a href="/{$lang}/buj">{$tr->_('b.u.j.')}</a>
	                        <a href="/{$lang}/par-zig-zag#kontakti">{$tr->_('kontakti')}</a>
	                    </nav>
	                </div>

	                <div class="page-footer-menu">
	                    <p>{$tr->_('par mums')}</p>
	                    <nav>
	                        <a href="/{$lang}/par-zig-zag#kapec-dizainet-savu-unikalo-gultas-velu">{$tr->_('kādēļ')} zigzag factory</a>
	                        <a href="/{$lang}/atsauksmes">{$tr->_('atsauksmes')}</a>
	                        <a href="#">{$tr->_('kā izveidot gultas veļu')}</a>
	                        <a href="/{$lang}/par-zig-zag#kas-mes-esam">{$tr->_('kas mēs esam')}</a>
	                        <a href="/{$lang}/par-zig-zag#ka-mes-gatavojam">{$tr->_('kā mēs gatavojam')}</a>
	                        <a href="/{$lang}/par-zig-zag#ka-iegadaties">{$tr->_('kur pirkt')}</a>
	                        <a href="/{$lang}/par-zig-zag#draugi-un-partneri">{$tr->_('draugi un partneri')}</a>
	                    </nav>
	                </div>

	                <div class="page-footer-menu">
	                    <p>{$tr->_('informācija')}</p>
	                    <nav>
	                        <a href="/{$lang}/privatums">{$tr->_('privātums')}</a>
	                        <a href="/{$lang}/noteikumi">{$tr->_('lietošanas noteikumi')}</a>
	                    </nav>
	                </div>

	                <div class="page-footer-menu">
	                    <p>{$tr->_('seko mums')}</p>
	                    <nav>
	                        <a class="social facebook" href="http://www.facebook.com/zigzagfactory.lv" target="_blank"></a>
	                        <a class="social twitter" href="http://twitter.com/zigzagfactory" target="_blank"></a>
	                        <a class="social instagram" href="http://instagram.com/zigzagfactory" target="_blank"></a>
	                        <a class="social draugiem" href="http://www.draugiem.lv/zigzagfactory/" target="_blank"></a>
	                    </nav>
	                </div>
	            </div>

            	<div class="copyright">&copy; zigzag factory, 2014.</div>
            </div>
        </footer>
    </div>
    <!-- Scripts -->
	{* JAVASCRIPTS *}

	{$_view->headScript()}

	{* TWITTER *}
	<script>window.twttr = (function (d, s, id) {
	  var t, js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id; js.src= "https://platform.twitter.com/widgets.js";
	  fjs.parentNode.insertBefore(js, fjs);
	  return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
	}(document, "script", "twitter-wjs"));
	</script>
	
	{* GOOGLE ANALYTICS *}
	<script>
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-51351522-1']);
	  _gaq.push(['_trackPageview']);
	
		(function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
	</script>
</body>
</html>
