/* Essentials */

html, div, map, dt, isindex, form, header, aside, section, section, article, footer {  
    display: block;  
} 

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	background: #F8F8F8;
	font-size: 12px;
}

.clear {
	clear: both;
}

.cf:before,
.cf:after { content: ''; display: table; } 
.cf:after { clear: both; }
.cf { zoom: 1; } /* For IE 6/7 (trigger hasLayout) */

.hidden {
	display: none;
}

.spacer {
	height: 20px;
}

a {
/* 	color: #77BACE; */
	color: #666;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


/* Header */

header#header {
	height: 55px;
	width: 100%;
	background: #222222 url(../images/header_bg.png) repeat-x;
}

header#header h1.site_title, header#header h2.section_title {
	float: left;
	margin: 0;
	font-size: 22px;
	display: block;
	width: 20%;
	height: 55px;
	font-weight: normal;
	text-align: left;
	text-indent: 1.8%;
	line-height: 55px;
	color: #fff;
	text-shadow: 0 -1px 0 #000;
}

header#header h1.site_title a {
	color: #fff;
	text-decoration: none;
}

header#header h2.section_title {
	text-align: center;
	text-indent: 4.5%;
	width: 71%;
	background: url(../images/header_shadow.png) no-repeat left top;
}

.btn_view_site {
	float: left;
	width: 9%;
}

.btn_view_site a {
	display: block;
	margin-top: 12px;
	width: 91px;
	height: 27px;
	background: url(../images/btn_view_site.png) no-repeat;
	text-align: center;
	line-height: 29px;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 0 #000;
}

.btn_view_site a:hover {
	background-position: 0 -27px;
}

/* Secondary Header Bar */

section#secondary_bar {
	height: 38px;
	width: 100%;
	background: #F1F1F4 url(../images/secondary_bar.png) repeat-x;
}

section#secondary_bar .user {
	float: left;
	width: 20%;
	height: 38px;
}

.user p {
	margin: 0;
	padding: 0;
	color: #666666;
	font-weight: bold;
	display: block;
	float: left;
	width: 85%;
	height: 35px;
	line-height: 35px;
	text-indent: 25px;
	text-shadow: 0 1px 0 #fff;
	background: url(../images/icn_user.png) no-repeat center left;
	margin-left: 6%;
}

.user a {
	text-decoration: none;
	color: #666666;
}

.user a:hover {
	color: #77BACE;
}

.user a.logout_user {
	float: left;
	display: block;
	width: 16px;
	height: 35px;
	text-indent: -5000px;
	background: url(../images/icn_logout.png) center no-repeat;
}

/* Breadcrumbs */

section#secondary_bar .breadcrumbs_container {
	float: left;
	width: 80%;
	background: url(../images/secondary_bar_shadow.png) no-repeat left top;
	height: 38px;
}

article.breadcrumbs {
	float: left;
	padding: 0 10px;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	height: 23px;
	margin: 4px 3%;
}

.breadcrumbs a {
    background: none;
	display: inline-block;
	float: left;
	height: 24px;
	line-height: 23px;
}

.breadcrumbs a.current, .breadcrumbs a.current:hover {
	color: #9E9E9E;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
}

.breadcrumbs a:link, .breadcrumbs a:visited {
	color: #44474F;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	font-weight: bold;
}

.breadcrumbs a:hover {
	color: #222222;
}

.breadcrumb_divider {
	display: inline-block;
	width: 12px;
	height: 24px;
	background: url(../images/breadcrumb_divider.png) no-repeat;
	float: left;
	margin: 0 5px;
}

/* Sidebar */

aside#sidebar {
	width: 20%;
/* 	background: #E0E0E3 url(../images/sidebar.png) repeat; */
	background: #e0e0e3;
	-webkit-box-shadow: 2px 2px 6px 0 #aaa; -moz-box-shadow: 2px 2px 6px 0 #aaa; box-shadow: 0 0 6px 2px #aaa;
	float: left;
	min-height: 500px;
	margin-top: -4px;
	padding-bottom: 22px;
}

#sidebar hr {
	border: none;
	outline: none;
	background: url(../images/sidebar_divider.png) repeat-x;
	display: block;
	width: 100%;
	height: 2px;
}


/* Sidebar Menu */

/*#sidebar h3 {*/
#sidebar > ul > li > a {
	color: #1F1F20;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #fff;
	font-size: 13px;
	font-weight: bold;
	margin: 10px 0 10px 6%;
	display: block;
	float: left;
	width: 90%;
}
	#sidebar > ul > li:hover > a {
		text-decoration: none;
	}

.toggleLink {
	color: #999999;
	font-size: 10px;
	text-decoration: none;
	display: block;
	float: right;
	margin-right: 2%;
}

#sidebar .toggleLink:hover {
	color: #77BACE;
	text-decoration: none;
}

#sidebar ul {
	clear: both;
	margin: 0; padding: 0;
}

#sidebar ul > li > ul > li {
	list-style: none;
	margin: 0 0 0 12%; padding: 0;
}

#sidebar > ul > li > ul > li > a {
	color: #666666;
	padding-left: 25px;
	text-decoration: none;
	display: inline-block;
	height: 17px;
	line-height: 17px;
	text-shadow: 0 1px 0 #fff;
	margin: 2px 0;
}

#sidebar > ul > li > ul > li > a:hover {
	color: #444444;
	text-decoration: underline;
}

/* Sidebar Icons */

.icn_new_article {
	background: url(../images/icn_new_article.png) no-repeat center left;
}
.icn_edit_article {
	background: url(../images/icn_edit_article.png) no-repeat center left;
}
.icn_categories {
	background: url(../images/icn_categories.png) no-repeat center left;
}
.icn_tags {
	background: url(../images/icn_tags.png) no-repeat center left;
}
.icn_add_user {
	background: url(../images/icn_add_user.png) no-repeat center left;
}
.icn_view_users {
	background: url(../images/icn_view_users.png) no-repeat center left;
}
.icn_profile {
	background: url(../images/icn_profile.png) no-repeat center left;
}
.icn_folder {
	background: url(../images/icn_folder.png) no-repeat center left;
}
.icn_photo {
	background: url(../images/icn_photo.png) no-repeat center left;
}
.icn_audio {
	background: url(../images/icn_audio.png) no-repeat center left;
}
.icn_video {
	background: url(../images/icn_video.png) no-repeat center left;
}
.icn_settings {
	background: url(../images/icn_settings.png) no-repeat center left;
}
.icn_security {
	background: url(../images/icn_security.png) no-repeat center left;
}
.icn_jump_back {
	background: url(../images/icn_jump_back.png) no-repeat center left;
}

/* Edit/delete/list icons */
.icn_edit {
	background-image: url(../images/icn_edit.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
	float:  left;
	padding: 3px 6px;
	width: 16px; height: 16px;
}
	.icn_edit:hover { background-image: url(../images/icn_edit_hover.png); }
.icn_trash {
	background-image: url(../images/icn_trash.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
	float:  left;
	padding: 4px 6px;
	width: 16px; height: 14px;
}
	.icn_trash:hover { background-image: url(../images/icn_trash_hover.png); }
.icn_list {
	background-image: url(../images/icn_categories.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
	float:  left;
	padding: 3px 5px 2px;
	width: 17px; height: 17px;
}
	.icn_list:hover { background-image: url(../images/icn_categories_hover.png); }

.icn_restore {
	background-image: url(../images/icn_jump_back.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
	float:  left;
	padding: 4px 5px 1px;
	width: 17px; height: 17px;
}
	.icn_restore:hover { background-image: url(../images/icn_jump_back_hover.png); }

#sidebar p {
	color: #666666;
	padding-left: 6%;
	text-shadow: 0 1px 0 #fff;
	margin: 10px 0 0 0;
}

#sidebar a {
	text-decoration: none;
}

#sidebar footer {
	margin-top: 20%;
}


/* Main Content */


section#main {
	width: 80%;
	min-height: 500px;
/* 	background: url(../images/sidebar_shadow.png) repeat-y left top; */
	float: left;
	margin-top: -2px;
	padding-bottom: 20px;
}

#main h3 {
	color: #1F1F20;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #fff;
	font-size: 13px;
	margin: 8px 20px;
}

/* Modules */

.module {
	border: 1px solid #9BA0AF;
	width: 100%;
	margin: 20px 3% 0 3%;
	margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #ffffff;
}

#main .module header h3 {
	display: block;
	width: 90%;
	float: left;
}

.module header {
	height: 38px;
	width: 100%;
/* 	background: #F1F1F4 url(../images/secondary_bar.png) repeat-x; */
	background: #f1f1f4;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e5e6ec)); 
	background: -webkit-linear-gradient(top, #ffffff, #e5e6ec);
	background: -moz-linear-gradient(top, #ffffff, #e5e6ec); 
	background: -ms-linear-gradient(top, #ffffff, #e5e6ec); 
	background: -o-linear-gradient(top, #ffffff, #e5e6ec); 
	border-bottom: 1px solid #9CA1B0;
	-webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px;
	border-top-left-radius: 5px; border-top-right-radius: 5px;
}

.module footer {
	height: 32px;
	width: 100%;
	border-top: 1px solid #9CA1B0;
/* 	background: #F1F1F4 url(../images/module_footer_bg.png) repeat-x; */
	background: #f1f1f4;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e5e6ec)); 
	background: -webkit-linear-gradient(top, #ffffff, #e5e6ec);
	background: -moz-linear-gradient(top, #ffffff, #e5e6ec); 
	background: -ms-linear-gradient(top, #ffffff, #e5e6ec); 
	background: -o-linear-gradient(top, #ffffff, #e5e6ec); 
	-webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;
}

.module_content {
	margin: 10px 20px;
	color: #666;
}

	.module_content.no_margin {
		margin: 0;
	}

	.module_content ul {
		margin: 0;
		padding: 0;
	}
		.module_content ul.no-list-style {
			list-style: none;
		}


/* Module Widths */

.width_full {
	width: 95%;
}

.width_half {
	width: 46%;
	margin-right: 0;
	float: left;
}
	.width_half.right {
		float: right;
		margin-left: 0;
		margin-right: 3%;
	}

.width_quarter {
	width: 26%;
	margin-right: 0;
	float: left;
}

.width_3_quarter {
	width: 66%;
	margin-right: 0;
	float: left;
}

/* Stats Module */

.stats_graph {
	width: 64%;
	float: left;
}

.stats_overview {
	background: #F6F6F6;
	border: 1px solid #ccc;
	float: right;
	width: 26%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.overview_today, .overview_previous {
	width: 50%;
	float: left;
}

.stats_overview p {
	margin: 0; padding: 0;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #fff;
}

.stats_overview p.overview_day {
	font-size: 12px;
	font-weight: bold;
	margin: 6px 0;
}

.stats_overview p.overview_count {
	font-size: 26px;
	font-weight: bold;
	color: #333333;
}

.stats_overview p.overview_type {
	font-size: 10px;
	color: #999999;
	margin-bottom: 8px;
}

/* Content Manager */

.tablesorter {
	width: 100%;
/* 	margin: -5px 0 0 0; */
	margin: 0;
}
	
.tablesorter tbody .sortable-placeholder {
	height: 50px;
	width: 100%;
}

.tablesorter td,
.tablesorter th {
	/*border-bottom: 1px dotted #ccc;*/
	border-top: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}
	.tablesorter tr td:last-child,
	.tablesorter tr th:last-child {
		border-right: none;
	}
	
.tablesorter td {
	margin: 0;
	padding: 5px;
}

.tablesorter thead tr {
	height: 34px;
	/*background: url(../images/table_sorter_header.png) repeat-x;*/
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ececef)); 
	background: -webkit-linear-gradient(top, #ffffff, #ececef);
	background: -moz-linear-gradient(top, #ffffff, #ececef); 
	background: -ms-linear-gradient(top, #ffffff, #ececef); 
	background: -o-linear-gradient(top, #ffffff, #ececef); 
	text-align: left;
/* 	text-indent: 10px; */
	cursor: pointer;
}
	.tablesorter thead th {
		padding: 0 5px;
	}

.tablesorter tr:nth-child(even) td,
.tablesorter tr:nth-child(even) th {
	background-color: #f6f6f6;
}

.tablesorter tr:nth-child(odd) td,
.tablesorter tr:nth-child(odd) th {
	background-color: #fff;
}

.tablesorter tbody tr:hover td { background-color: #d3d3d3; }
	
.tablesorter.border_radius_bottom tr:last-child td:first-child,
.tablesorter.border_radius_bottom tr:last-child th:first-child {
	-webkit-border-bottom-left-radius: 5px; 
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
}

.tablesorter.border_radius_bottom tr:last-child td:last-child,
.tablesorter.border_radius_bottom tr:last-child th:last-child {
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
}

.tablesorter a.icn:hover {
	text-decoration: none;
}


.tablesorter input[type=image] {
	margin-right: 10px;
}

.tablesorter input[type=text].editable {
	width: 100%;
	border: 0;
	background-color: inherit;
	font-size: 120%;
	font-style: italic;	
	outline: 0;
}

ul.tabs,
ul.links {
	margin: 5px 10px 0 0;
	padding: 0;
	float: right;
	list-style: none;
	height: 24px; /*--Set height of tabs--*/
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
}
	ul.tabs {
		border: 1px solid #ccc;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: 0 1px 0 #fff;
		-moz-box-shadow: 0 1px 0 #fff;
		box-shadow: 0 1px 0 #fff;
	}

ul.tabs li,
ul.links li {
	float: left;
	margin: 0;
	padding: 0;
	line-height: 24px;
}
	ul.links li {
		border: 1px solid #ccc;
		margin-left: 4px;
	}

ul.tabs li a,
ul.links li a {
	text-decoration: none;
	display: block;
	padding: 0 10px;
	height: 24px;]
}

ul.tabs li a {
	color: #999;
}
ul.tabs li a:hover,
ul.links li a {
	color: #44474F;
}

html ul.tabs li.active a  {
	color: #44474F;
}

html ul.tabs li.active, 
html ul.tabs li.active a:hover,
html ul.links li a:hover  {
	background: #F1F2F4;
	-webkit-box-shadow: inset 0 2px 3px #818181;
	-moz-box-shadow: inset 0 2px 3px #818181;
	box-shadow: inset 0 2px 3px #818181;
}

html ul.links li,
html ul.links li,
html ul.links li a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

html ul.tabs li:first-child, html ul.tabs li:first-child a {
	-webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px; border-bottom-left-radius: 5px;
}

html ul.tabs li:last-child, html ul.tabs li:last-child a  {
	-webkit-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px; border-bottom-right-radius: 5px;
}

#main .module header h3.tabs_involved,
#main .module header h3.links_involved {
	display: block;
/* 	width: 60%; */
	width: auto;
	float: left;
}

/* Messages */

.message {
	border-bottom: 1px dotted #cccccc;
}

input[type=submit],
input[type=button],
button {
	background: #D0D1D4 url(../images/btn_submit.png) repeat-x;
	border: 1px solid #A8A9A8;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	font-weight: bold;
	height: 22px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 10px;
	color: #666;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
}

input[type=submit]:hover,
input[type=button]:hover,
button:hover {
	color: #333333;
}

input[type=submit].alt_btn {
	background: #D0D1D4 url(../images/btn_submit_2.png) repeat-x;
	border: 1px solid#30B0C8;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	font-weight: bold;
	height: 22px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 10px;
	color: #003E49;
	text-shadow: 0 1px 0 #6CDCF9;
	cursor: pointer;
}

input[type=submit].alt_btn:hover {
	color: #001217;
}

input[type=submit].btn_post_message {
	background: #D0D1D4 url(../images/post_message.png) no-repeat;
	display: block;
	width: 37px;
	border: none;
	height: 24px;
	cursor: pointer;
	text-indent: -5000px;
}

input[type=submit].btn_post_message:hover {
	background-position: 0 -24px;
}

.post_message {
	text-align: left;
	padding: 5px 0;
}

.post_message input[type=text] {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #bbb;
	height: 20px;
	width: 70%;
	color: #ccc;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	text-indent: 10px;
	background-position: 10px 6px;
	float: left;
	margin: 0 3.5%;
}

.post_message input[type=text]:focus {
	outline: none;
	border: 1px solid #77BACE;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	color: #666666;
}

.post_message input[type=image] {
	float: left;
}

.message_list {
	height: 250px;
	overflow-x:hidden;
	overflow-y: scroll;
}

/* New/Edit Article Module */

fieldset {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #F6F6F6;
	border: 1px solid #ccc;
	padding: 1%;
	margin: 10px 0;
	width: 98%;
}

.width_quarter fieldset {
	padding: 2%;
	width: 96%;
}

	fieldset.half_left {
		float: left;
		margin-right: 3%;
		width: 46%;
	}
	fieldset.half_right {
		float: right;
		width: 46%;
	}

fieldset label {
	display: block;
	width: 30%;
	/*line-height: 25px;*/
	margin-bottom: 5px;
	text-shadow: 0 1px 0 #fff;
	font-weight: bold;
	/*text-transform: uppercase;*/
	width: 50%;
}

	fieldset>label { width: 100%; }

	fieldset label.checkbox {
		display: inline-block;
		float: none;
		font-weight: normal;
		width: 50%;
	}

fieldset input[type=text],
fieldset input[type=password] {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	height: 20px;
	color: #666666;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	padding-left: 1%;
	background-position: 10px 6px;
	margin: 0;
	display: block;
	float: left;
	width: 97%;
}
	fieldset.half_left input[type=text],
	fieldset.half_left input[type=password],
	fieldset.half_right input[type=text],
	fieldset.half_right input[type=password] { padding-left: 2%; }

fieldset input[type=checkbox] {
	margin: 0 10px;
}
	

fieldset input[type=text]:focus,
fieldset input[type=password]:focus {
	outline: none;
	border: 1px solid #77BACE;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}

fieldset select {
	border: 1px solid #bbb;
	/*height: 20px;*/
	color: #666666;
	width: 99%;
}

fieldset textarea {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	color: #666666;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	padding: 6px 1%;
	background-position: 10px 6px;
	display: block;
	float: left;
	resize: vertical;
	width: 97%;
}

fieldset textarea:focus {
	outline: none;
	border: 1px solid #77BACE;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
	box-shadow: inset 0 2px 2px #ccc, 0 0 10px #ADDCE6;
}


.submit_link {
	float: right;
	margin-right: 3%;
	padding: 5px 0;
}

.submit_link select {
	width: 150px;
	border: 1px solid #bbb;
	height: 20px;
	color: #666666;
}

#main .module_content h1 {
	color: #333333;
	text-transform: none;
	text-shadow: 0 1px 0 #fff;
	font-size: 22px;
	margin: 8px 0px;
}

#main .module_content h2 {
	color: #444444;
	text-transform: none;
	text-shadow: 0 1px 0 #fff;
	font-size: 18px;
	margin: 8px 0px;
}

#main .module_content h3 {
	color: #666666;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #fff;
	font-size: 13px;
	margin: 8px 0px;
}

#main .module_content h4 {
	color: #666666;
	text-transform: none;
	text-shadow: 0 1px 0 #fff;
	font-size: 13px;
	margin: 8px 0px;
}

#main .module_content li {
	line-height: 150%;
}
	

/* Alerts */

#main h4.alert_info {
	display: block;
	width: 95%;
	margin: 20px 3% 0 3%;
	margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #B5E5EF url(../images/icn_alert_info.png) no-repeat;
	background-position: 10px 10px;
	border: 1px solid #77BACE;
	color: #082B33;
	padding: 10px 0;
	text-indent: 40px;
	font-size: 14px;
}

#main h4.alert_warning {
	display: block;
	width: 95%;
	margin: 20px 3% 0 3%;
	margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #F5F3BA url(../images/icn_alert_warning.png) no-repeat;
	background-position: 10px 10px;
	border: 1px solid #C7A20D;
	color: #796616;
	padding: 10px 0;
	text-indent: 40px;
	font-size: 14px;
}

#main h4.alert_error {
	display: block;
	width: 95%;
	margin: 20px 3% 0 3%;
	margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #F3D9D9 url(../images/icn_alert_error.png) no-repeat;
	background-position: 10px 10px;
	border: 1px solid #D20009;
	color: #7B040F;
	padding: 10px 0;
	text-indent: 40px;
	font-size: 14px;
}

#main h4.alert_success {
	display: block;
	width: 95%;
	margin: 20px 3% 0 3%;
	margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #E2F6C5 url(../images/icn_alert_success.png) no-repeat;
	background-position: 10px 10px;
	border: 1px solid #79C20D;
	color: #32510F;
	padding: 10px 0;
	text-indent: 40px;
	font-size: 14px;
}

/* Ajax upload */
.ajax_upload ul#fileList {
	list-style-type: disc;
	margin: 10px 20px 0;
}

.ajax_upload ul#imageList {
	margin: 20px 0 0 -10px;
}
	
	.ajax_upload ul#imageList li {
		cursor: move;
		margin-left: 10px;
		margin-bottom: 10px;
		display: inline-block;
		vertical-align: top;
	}
	
		.ajax_upload ul#imageList li a {
			color: #666;
			display: block;
		}

	.ajax_upload ul#imageList .sortable-placeholder {
		background-color: #dedede;
		height: 75px;
		width: 100px;
/*
		height: 148px;
		width: 194px;
*/
	}

.ajax_upload #filesToUpload { display: none; }

.ajax_upload .progress {
	border: 1px solid #ddd;
	border-radius: 3px;
	display: none;
	margin-top: 10px;
	padding: 1px; 
	position: relative;
	width: 100%; 
}

	.ajax_upload .progress .bar {
		background-color: #B4F5B4;
		border-radius: 3px;
		height: 20px; 
		width: 0%; 
	}

	.ajax_upload .progress .percent {
		display: inline-block;
		position: absolute;
		top: 3px; left: 48%;
	}

/* Classifiers & attributes */
#subtype_list ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	width: 98%;
}

	#subtype_list li.attrib_item {
		background-color: #eee;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border: 1px solid #9BA0AF;
		margin-bottom: 6px;
		padding: 1%;
		height: auto;
	}
		#subtype_list li.attrib_item input[type=button] {
			margin-top: 6px;
		}
		#subtype_list li.attrib_item input[type=text] {
			margin-right: 4%;
			width: 68%;
		}
		#subtype_list li.attrib_item select {
			width: 20%;
		}

	#subtype_list ul .sortable-placeholder {
		background-color: #dedede; 
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		height: 70px;
		width: 100%;
		margin-bottom: 6px;
	}

/* Attributes in add/edit stable view */
.stable_type_attribs .add_attrib { 
	color: #666;
	margin-left: 10px;
}

.stable_type_attribs fieldset label {
	float: left;
	line-height: 25px;
	margin-bottom: 0;
	margin-right: 4%;
	width: 30%;
}
.stable_type_attribs fieldset input[type=text] {
	margin-right: 4%;
	width: 38%;
}
.stable_type_attribs fieldset select {
	width: 20%;
}
.stable_type_attribs fieldset textarea {
	height: 80px;
}

.stable_type_attribs fieldset input[type=button] {
	background: none;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
	.stable_type_attribs fieldset input[type=button]:hover {
		text-decoration: underline;
	}

/* Stable type translations */
.stable_type_translations fieldset input[type=text] {
	width: 50%;
}
.stable_type_translations fieldset label {
	float: left;
	line-height: 25px;
	margin-bottom: 0;
}

#attrib_modal {
	background: #D0D1D4 url(../images/btn_submit.png) repeat-x;
	border: 1px solid #A8A9A8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	display: inline-block;
	font-weight: bold;
	outline: 0;
	padding: 4px 10px;
	text-shadow: 0 1px 0 #fff;
}

	#attrib_modal:hover {
		color: #333333;
		text-decoration: none;
	}

#google_map { height: 280px; }