.cls-fixed-side-menu, .page-content.par-zig-zag nav.content-menu, .page-content.audumi nav.content-menu {
  background-color: #e9e4de;
  background-color: rgba(233, 228, 222, 0.8);
  margin-left: -570px;
  padding: 10px;
  position: fixed;
  left: 50%;
  top: 174px;
  text-align: right; }
  .cls-fixed-side-menu a, .page-content.par-zig-zag nav.content-menu a, .page-content.audumi nav.content-menu a {
    display: block;
    font-size: 11px;
    padding-right: 14px;
    position: relative;
    text-transform: uppercase; }
    .cls-fixed-side-menu a.active:after, .page-content.par-zig-zag nav.content-menu a.active:after, .page-content.audumi nav.content-menu a.active:after, .cls-fixed-side-menu a:hover:after, .page-content.par-zig-zag nav.content-menu a:hover:after, .page-content.audumi nav.content-menu a:hover:after {
      content: "";
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      right: 0;
      top: 4px;
      width: 7px;
      height: 7px; }

.masonry-container, .page-content.galerija .content-container, .page-content.atsauksmes .content-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto; }
  .masonry-container .item, .page-content.galerija .content-container .item, .page-content.atsauksmes .content-container .item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #E9E9E9;
    padding: 5px;
    width: 190px; }
    .masonry-container .item figure, .page-content.galerija .content-container .item figure, .page-content.atsauksmes .content-container .item figure {
      background-color: #B4B0B0;
      width: 100%; }

.menu-defaults, .page-header .main-menu, .page-header .alt-menu {
  line-height: 25px;
  margin-top: 86px; }
  .menu-defaults nav, .page-header .main-menu nav, .page-header .alt-menu nav {
    height: 25px; }
  .menu-defaults a, .page-header .main-menu a, .page-header .alt-menu a {
    text-transform: uppercase; }

.selectbox {
  position: relative; }
  .selectbox .selectbox-element,
  .selectbox .selectbox-list a {
    color: #575756;
    font-size: 11px;
    padding-left: 6px;
    padding-right: 20px; }
  .selectbox .selectbox-element {
    zoom: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #FFF;
    display: block; }
    .selectbox .selectbox-element:before, .selectbox .selectbox-element:after {
      content: "";
      display: table; }
    .selectbox .selectbox-element:after {
      clear: both; }
  .selectbox .selectbox-list {
    background-color: #FFF;
    display: none;
    padding-top: 4px;
    position: absolute;
    right: 0;
    max-height: 200px;
    overflow: scroll;
    width: 100%;
    z-index: 1; }
    .selectbox .selectbox-list a {
      zoom: 1;
      display: block;
      padding-top: 4px;
      padding-bottom: 4px; }
      .selectbox .selectbox-list a:before, .selectbox .selectbox-list a:after {
        content: "";
        display: table; }
      .selectbox .selectbox-list a:after {
        clear: both; }
      .selectbox .selectbox-list a:hover {
        color: #FFF;
        background-color: #575756; }

html {
  width: 100%;
  height: 100%; }

body {
  background-attachment: fixed;
  background-image: url("../images/background2.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative;
  overflow-y: scroll; }

a {
  color: #1d1d1b;
  text-decoration: none; }

p {
  margin: 0; }

img {
  display: block;
  max-width: 100%; }

h1,
h2 {
  margin: 0; }

figure {
  margin: 0; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

.page-wrapper {
  width: 1008px;
  margin: 0 auto;
  padding: 0 66px; }
  .page-wrapper .page-content {
    position: relative; }

.page-header {
  zoom: 1;
  margin-bottom: 12px;
  position: relative; }
  .page-header:before, .page-header:after {
    content: "";
    display: table; }
  .page-header:after {
    clear: both; }
  .page-header > * {
    float: left; }
  .page-header .sakt-konstruet {
    background: url("../images/header/sakt-konstruet.png") no-repeat center center;
    position: absolute;
    top: 2px;
    left: 350px;
    width: 240px;
    height: 82px; }
  .page-header .main-menu-bg, .page-header .sub-menu-bg {
    background-color: #E9E4DE;
    float: none;
    position: absolute;
    top: 86px;
    right: -66px;
    left: -66px;
    z-index: -1;
    height: 25px; }
  .page-header .sub-menu-bg {
    top: 120px;
    left: 430px; }
  .page-header .page-header-logo a {
    background: url("../images/header/logo-home.png") no-repeat;
    display: block;
    width: 78px;
    height: 145px; }
    .page-header .page-header-logo a.par-zig-zag {
      background-image: url("../images/header/logo-par-zig-zag.png"); }
    .page-header .page-header-logo a.audumi {
      background-image: url("../images/header/logo-audumi.png"); }
    .page-header .page-header-logo a.atsauksmes {
      background-image: url("../images/header/logo-atsauksmes.png"); }
    .page-header .page-header-logo a.galerija {
      background-image: url("../images/header/logo-galerija.png"); }
    .page-header .page-header-logo a.darbnica {
      background-image: url("../images/header/logo-darbnica.png"); }
  .page-header .main-menu a {
    font-size: 13px;
    margin: 0 17px;
    padding: 0 2px; }
    .page-header .main-menu a.active, .page-header .main-menu a:hover {
      border-top-style: solid;
      border-top-width: 2px;
      border-bottom-style: solid;
      border-bottom-width: 2px; }
    .page-header .main-menu a.par-zig-zag.active, .page-header .main-menu a.par-zig-zag:hover {
      border-color: #8FFFFF; }
    .page-header .main-menu a.darbnica.active, .page-header .main-menu a.darbnica:hover {
      border-color: #A4FF93; }
    .page-header .main-menu a.galerija.active, .page-header .main-menu a.galerija:hover {
      border-color: #ACE5D5; }
    .page-header .main-menu a.audumi.active, .page-header .main-menu a.audumi:hover {
      border-color: #90E65B; }
    .page-header .main-menu a.atsauksmes.active, .page-header .main-menu a.atsauksmes:hover {
      border-color: #042128; }
  .page-header .sub-menu {
    float: none;
    position: absolute;
    top: 120px;
    left: 450px; }
    .page-header .sub-menu nav {
      height: 25px; }
    .page-header .sub-menu a {
      font-size: 13px;
      line-height: 25px;
      margin: 0 6px;
      padding: 0 2px; }
      .page-header .sub-menu a.active, .page-header .sub-menu a:hover {
        color: #8ec8b7; }
  .page-header .alt-menu {
    zoom: 1;
    float: right; }
    .page-header .alt-menu:before, .page-header .alt-menu:after {
      content: "";
      display: table; }
    .page-header .alt-menu:after {
      clear: both; }
    .page-header .alt-menu nav {
      float: left; }
      .page-header .alt-menu nav a {
        font-size: 12px; }
        .page-header .alt-menu nav a.active, .page-header .alt-menu nav a:hover {
          color: #33A780; }
      .page-header .alt-menu nav.faq {
        border-left: 1px solid #FFF;
        border-right: 1px solid #FFF;
        padding: 0 10px;
        margin: 0 10px; }
      .page-header .alt-menu nav.cart {
        position: relative; }
        .page-header .alt-menu nav.cart:after {
          content: "";
          background: url("../images/header/grozs.png") no-repeat center right;
          display: block;
          position: absolute;
          top: 0;
          right: -30px;
          height: 25px;
          width: 20px; }

.page-footer {
  margin-top: 12px; }
  .page-footer .page-footer-badges {
    zoom: 1;
    padding: 0 4px; }
    .page-footer .page-footer-badges:before, .page-footer .page-footer-badges:after {
      content: "";
      display: table; }
    .page-footer .page-footer-badges:after {
      clear: both; }
    .page-footer .page-footer-badges .badge {
      background-repeat: no-repeat;
      background-position: center center;
      display: block;
      float: left;
      margin-right: 20px;
      margin-bottom: 10px;
      width: 150px;
      height: 150px; }
      .page-footer .page-footer-badges .badge:last-child {
        margin-right: 0; }
      .page-footer .page-footer-badges .badge.gultasvela.lv {
        background-image: url("../images/footer/badge-gultasvela.png"); }
      .page-footer .page-footer-badges .badge.gultasvela.en {
        background-image: url("../images/footer/badge-gultasvela-en.png"); }
      .page-footer .page-footer-badges .badge.gultasvela.ru {
        background-image: url("../images/footer/badge-gultasvela-ru.png"); }
      .page-footer .page-footer-badges .badge.draudziga.lv {
        background-image: url("../images/footer/badge-draudziga.png"); }
      .page-footer .page-footer-badges .badge.draudziga.en {
        background-image: url("../images/footer/badge-draudziga-en.png"); }
      .page-footer .page-footer-badges .badge.draudziga.ru {
        background-image: url("../images/footer/badge-draudziga-ru.png"); }
      .page-footer .page-footer-badges .badge.roku.lv {
        background-image: url("../images/footer/badge-roku.png"); }
      .page-footer .page-footer-badges .badge.roku.en {
        background-image: url("../images/footer/badge-roku-en.png"); }
      .page-footer .page-footer-badges .badge.roku.ru {
        background-image: url("../images/footer/badge-roku-ru.png"); }
      .page-footer .page-footer-badges .badge.garantija.lv {
        background-image: url("../images/footer/badge-garantija.png"); }
      .page-footer .page-footer-badges .badge.garantija.en {
        background-image: url("../images/footer/badge-garantija-en.png"); }
      .page-footer .page-footer-badges .badge.garantija.ru {
        background-image: url("../images/footer/badge-garantija-ru.png"); }
      .page-footer .page-footer-badges .badge.piegade.lv {
        background-image: url("../images/footer/badge-piegade.png"); }
      .page-footer .page-footer-badges .badge.piegade.en {
        background-image: url("../images/footer/badge-piegade-en.png"); }
      .page-footer .page-footer-badges .badge.piegade.ru {
        background-image: url("../images/footer/badge-piegade-ru.png"); }
      .page-footer .page-footer-badges .badge.maksajumi.lv {
        background-image: url("../images/footer/badge-maksajumi.png"); }
      .page-footer .page-footer-badges .badge.maksajumi.en {
        background-image: url("../images/footer/badge-maksajumi-en.png"); }
      .page-footer .page-footer-badges .badge.maksajumi.ru {
        background-image: url("../images/footer/badge-maksajumi-ru.png"); }
  .page-footer .page-footer-content {
    background-color: black;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url("../images/footer/scissors.png");
    background-repeat: no-repeat;
    background-position: 12px 44px;
    color: #ffffd7;
    padding: 22px 50px; }
    .page-footer .page-footer-content .page-footer-menu-container {
      zoom: 1; }
      .page-footer .page-footer-content .page-footer-menu-container:before, .page-footer .page-footer-content .page-footer-menu-container:after {
        content: "";
        display: table; }
      .page-footer .page-footer-content .page-footer-menu-container:after {
        clear: both; }
    .page-footer .page-footer-content .page-footer-menu {
      float: left;
      margin-right: 10px;
      text-transform: uppercase;
      width: 170px; }
      .page-footer .page-footer-content .page-footer-menu:last-child {
        margin-right: 0; }
      .page-footer .page-footer-content .page-footer-menu p {
        font-size: 12px;
        margin-bottom: 6px; }
      .page-footer .page-footer-content .page-footer-menu a {
        color: #ffffd7;
        display: block;
        font-size: 10px;
        line-height: 2; }
        .page-footer .page-footer-content .page-footer-menu a.active, .page-footer .page-footer-content .page-footer-menu a:hover {
          color: #33a780; }
        .page-footer .page-footer-content .page-footer-menu a.social {
          margin-bottom: 4px;
          height: 20px;
          width: 20px; }
        .page-footer .page-footer-content .page-footer-menu a.facebook {
          background: url("../images/footer/social-facebook.png") no-repeat center center; }
        .page-footer .page-footer-content .page-footer-menu a.twitter {
          background: url("../images/footer/social-twitter.png") no-repeat center center; }
        .page-footer .page-footer-content .page-footer-menu a.instagram {
          background: url("../images/footer/social-instagram.png") no-repeat center center; }
        .page-footer .page-footer-content .page-footer-menu a.draugiem {
          background: url("../images/footer/social-draugiem.png") no-repeat center center; }
    .page-footer .page-footer-content .copyright {
      color: #9E9092;
      clear: both;
      font-size: 9px;
      margin-top: 12px;
      text-transform: uppercase; }

.page-content.galvena .slider {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  height: 335px;
  width: 100%; }
  .page-content.galvena .slider .slider-item {
    display: block; }
  .page-content.galvena .slider .slider-nav {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.3);
    background-repeat: no-repeat;
    display: block;
    margin-top: -21px;
    position: absolute;
    top: 50%;
    width: 42px;
    height: 42px; }
    .page-content.galvena .slider .slider-nav:hover {
      background-color: white;
      background-color: rgba(255, 255, 255, 0.4); }
    .page-content.galvena .slider .slider-nav.prev {
      background-image: url("../images/galvena/slider-prev.png");
      background-position: 10px center;
      left: 12px; }
    .page-content.galvena .slider .slider-nav.next {
      background-image: url("../images/galvena/slider-next.png");
      background-position: 16px center;
      right: 12px; }
  .page-content.galvena .slider .slider-bullets {
    position: absolute;
    bottom: 12px;
    text-align: center;
    width: 100%; }
    .page-content.galvena .slider .slider-bullets .slider-bullet {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: white;
      background-color: rgba(255, 255, 255, 0.2);
      display: inline-block;
      *display: inline;
      vertical-align: top;
      zoom: 1;
      position: relative;
      width: 18px;
      height: 18px; }
      .page-content.galvena .slider .slider-bullets .slider-bullet:hover:before, .page-content.galvena .slider .slider-bullets .slider-bullet.active:before {
        content: "";
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-color: #FFF;
        margin-left: -3px;
        margin-top: -3px;
        position: absolute;
        left: 50%;
        top: 50%;
        height: 6px;
        width: 6px; }
    .page-content.galvena .slider .slider-bullets.dark .slider-bullet {
      background-color: black;
      background-color: rgba(0, 0, 0, 0.2); }
      .page-content.galvena .slider .slider-bullets.dark .slider-bullet:hover:before, .page-content.galvena .slider .slider-bullets.dark .slider-bullet.active:before {
        background-color: #000; }
.page-content.galvena .sakt-konstruet a {
  background: url("../images/galvena/sakt-konstruet.png") no-repeat center center;
  position: absolute;
  top: 250px;
  right: 45px;
  width: 180px;
  height: 180px;
  z-index: 1; }
.page-content.galvena .grid {
  zoom: 1;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 8px 5px; }
  .page-content.galvena .grid:before, .page-content.galvena .grid:after {
    content: "";
    display: table; }
  .page-content.galvena .grid:after {
    clear: both; }
  .page-content.galvena .grid .updates {
    float: left;
    margin-right: 6px; }
    .page-content.galvena .grid .updates .news,
    .page-content.galvena .grid .updates .twitter {
      background-color: #ebebeb;
      height: 180px;
      margin-bottom: 5px;
      width: 245px; }
    .page-content.galvena .grid .updates .news header {
      background: url("../images/galvena/logo-zinas.png") no-repeat 8px center;
      height: 58px; }
      .page-content.galvena .grid .updates .news header h1 {
        color: #c2a400;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 1px;
        padding-left: 47px;
        padding-top: 13px;
        text-transform: uppercase; }
    .page-content.galvena .grid .updates .twitter {
      position: relative;
      height: 365px;
      width: 240px; }
  .page-content.galvena .grid .construct {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 365px;
    width: 246px; }
    .page-content.galvena .grid .construct a {
      display: block;
      width: 100%;
      height: 100%; }
  .page-content.galvena .grid .video {
    float: left;
    margin-bottom: 5px;
    height: 365px;
    width: 496px; }
    .page-content.galvena .grid .video .placeholder {
      background: #afacab url("../images/placeholders/galvena-video.png") no-repeat center center;
      width: 100%;
      height: 100%; }
  .page-content.galvena .grid .work {
    float: left;
    margin-right: 6px; }
    .page-content.galvena .grid .work .gallery {
      border-bottom: 1px solid #000;
      float: left;
      margin-right: 6px;
      margin-bottom: 5px;
      padding-bottom: 8px;
      width: 496px; }
      .page-content.galvena .grid .work .gallery header {
        margin: 8px 0; }
        .page-content.galvena .grid .work .gallery header h1 {
          display: inline-block;
          *display: inline;
          vertical-align: top;
          zoom: 1;
          background-color: #ebebeb;
          font-size: 13px;
          font-weight: normal;
          letter-spacing: 1px;
          padding: 4px 16px;
          text-transform: uppercase; }
      .page-content.galvena .grid .work .gallery .gallery-content {
        border-top: 1px solid #000;
        border-bottom: 6px solid #000;
        padding: 15px 0 8px;
        position: relative; }
      .page-content.galvena .grid .work .gallery .gallery-slider {
        margin: 0;
        zoom: 1; }
        .page-content.galvena .grid .work .gallery .gallery-slider:before, .page-content.galvena .grid .work .gallery .gallery-slider:after {
          content: "";
          display: table; }
        .page-content.galvena .grid .work .gallery .gallery-slider:after {
          clear: both; }
        .page-content.galvena .grid .work .gallery .gallery-slider .gallery-item {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          background-color: #e9e4de;
          background-color: rgba(233, 228, 222, 0.7);
          float: left;
          margin-right: 15px;
          padding: 3px;
          height: 130px;
          width: 130px; }
          .page-content.galvena .grid .work .gallery .gallery-slider .gallery-item:last-child {
            margin-right: 0; }
          .page-content.galvena .grid .work .gallery .gallery-slider .gallery-item img {
            height: 100%;
            width: 100%; }
      .page-content.galvena .grid .work .gallery .gallery-nav {
        position: absolute;
        top: 15px;
        height: 130px;
        width: 38px; }
        .page-content.galvena .grid .work .gallery .gallery-nav:before {
          margin-top: -9px;
          position: absolute;
          top: 50%;
          height: 0;
          width: 0; }
        .page-content.galvena .grid .work .gallery .gallery-nav.prev {
          left: 0; }
          .page-content.galvena .grid .work .gallery .gallery-nav.prev:before {
            content: "";
            border-top: 9px solid transparent;
            border-bottom: 9px solid transparent;
            border-right: 15px solid #042128;
            left: 4px; }
        .page-content.galvena .grid .work .gallery .gallery-nav.next {
          right: 0; }
          .page-content.galvena .grid .work .gallery .gallery-nav.next:before {
            content: "";
            border-top: 9px solid transparent;
            border-bottom: 9px solid transparent;
            border-left: 15px solid #042128;
            right: 4px; }
    .page-content.galvena .grid .work .how {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      margin-bottom: 5px;
      padding-left: 16px;
      position: relative;
      height: 212px;
      width: 245px; }
      .page-content.galvena .grid .work .how header {
        background-color: #042128;
        padding: 2px 4px;
        position: absolute;
        bottom: 40px;
        left: 6px; }
        .page-content.galvena .grid .work .how header h1 {
          color: #FFF;
          font-size: 13px;
          font-weight: normal;
          letter-spacing: 1px;
          text-transform: uppercase; }
      .page-content.galvena .grid .work .how .content {
        height: 100%;
        width: 100%; }
    .page-content.galvena .grid .work .about {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      /*         background: url('../images/galvena/par-mums.jpg') repeat center center; */
      clear: both;
      /*         padding: 8px; */
      width: 747px;
      /*
              .content {
                @include background-color-hex(#ebebeb, 0.9);
                @include box-sizing(border-box);
      
                padding: 8px;
                min-height: 345px;
                width: 100%;
              }
      */ }
  .page-content.galvena .grid .contact {
    float: left; }
    .page-content.galvena .grid .contact .social {
      margin-bottom: 5px;
      padding: 24px 0;
      width: 245px; }
      .page-content.galvena .grid .contact .social a {
        background-image: url("../images/sprites/social-icons.png");
        background-repeat: no-repeat;
        display: block;
        margin-bottom: 12px;
        margin-left: 87px;
        height: 70px;
        width: 70px; }
        .page-content.galvena .grid .contact .social a:last-child {
          margin-bottom: 0; }
        .page-content.galvena .grid .contact .social a.facebook {
          background-position: 0 0; }
          .page-content.galvena .grid .contact .social a.facebook:hover {
            background-position: -70px 0; }
        .page-content.galvena .grid .contact .social a.twitter {
          background-position: 0 -70px; }
          .page-content.galvena .grid .contact .social a.twitter:hover {
            background-position: -70px -70px; }
        .page-content.galvena .grid .contact .social a.instagram {
          background-position: 0 -140px; }
          .page-content.galvena .grid .contact .social a.instagram:hover {
            background-position: -70px -140px; }
        .page-content.galvena .grid .contact .social a.draugiem {
          background-position: 0 -210px; }
          .page-content.galvena .grid .contact .social a.draugiem:hover {
            background-position: -70px -210px; }
    .page-content.galvena .grid .contact .tel {
      width: 245px; }

.page-content.par-zig-zag nav.content-menu a.active:after,
.page-content.par-zig-zag nav.content-menu a:hover:after {
  background-color: #8FFFFF; }
.page-content.par-zig-zag article {
  margin-bottom: 4px; }
  .page-content.par-zig-zag article header {
    margin-bottom: 4px;
    overflow: hidden;
    width: 100%;
    height: 156px; }
    .page-content.par-zig-zag article header h1 {
      text-indent: -9999px; }
  .page-content.par-zig-zag article .content {
    background-color: #e9e9e9;
    background-color: rgba(233, 233, 233, 0.9);
    padding: 20px; }
  .page-content.par-zig-zag article#tava-milaka-gultas-vela header, .page-content.par-zig-zag article#kapec-dizainet-savu-unikalo-gultas-velu header, .page-content.par-zig-zag article#ka-iegadaties header, .page-content.par-zig-zag article#kas-mes-esam header, .page-content.par-zig-zag article#ka-mes-gatavojam header, .page-content.par-zig-zag article#draugi-un-partneri header, .page-content.par-zig-zag article#kontakti header {
    background-repeat: no-repeat;
    background-position: center center; }
  .page-content.par-zig-zag article#tava-milaka-gultas-vela header {
    background-image: url("../images/par-zig-zag/tava-milaka-gultasvela-en.png"); }
    .page-content.par-zig-zag article#tava-milaka-gultas-vela header.lv {
      background-image: url("../images/par-zig-zag/tava-milaka-gultasvela.png"); }
    .page-content.par-zig-zag article#tava-milaka-gultas-vela header.ru {
      background-image: url("../images/par-zig-zag/tava-milaka-gultasvela-ru.png"); }
  .page-content.par-zig-zag article#kapec-dizainet-savu-unikalo-gultas-velu header {
    background-image: url("../images/par-zig-zag/kapec-dizainet-en.png"); }
    .page-content.par-zig-zag article#kapec-dizainet-savu-unikalo-gultas-velu header.lv {
      background-image: url("../images/par-zig-zag/kapec-dizainet.png"); }
    .page-content.par-zig-zag article#kapec-dizainet-savu-unikalo-gultas-velu header.ru {
      background-image: url("../images/par-zig-zag/kapec-dizainet-ru.png"); }
  .page-content.par-zig-zag article#ka-iegadaties header {
    background-image: url("../images/par-zig-zag/ka-iegadaties-gultasvelu-en.png"); }
    .page-content.par-zig-zag article#ka-iegadaties header.lv {
      background-image: url("../images/par-zig-zag/ka-iegadaties-gultasvelu.png"); }
    .page-content.par-zig-zag article#ka-iegadaties header.ru {
      background-image: url("../images/par-zig-zag/ka-iegadaties-gultasvelu-ru.png"); }
  .page-content.par-zig-zag article#kas-mes-esam header {
    background-image: url("../images/par-zig-zag/kas-mes-esam-en.png"); }
    .page-content.par-zig-zag article#kas-mes-esam header.lv {
      background-image: url("../images/par-zig-zag/kas-mes-esam.png"); }
    .page-content.par-zig-zag article#kas-mes-esam header.ru {
      background-image: url("../images/par-zig-zag/kas-mes-esam-ru.png"); }
  .page-content.par-zig-zag article#ka-mes-gatavojam header {
    background-image: url("../images/par-zig-zag/ka-mes-gatavojam-en.png"); }
    .page-content.par-zig-zag article#ka-mes-gatavojam header.lv {
      background-image: url("../images/par-zig-zag/ka-mes-gatavojam.png"); }
    .page-content.par-zig-zag article#ka-mes-gatavojam header.ru {
      background-image: url("../images/par-zig-zag/ka-mes-gatavojam-ru.png"); }
  .page-content.par-zig-zag article#draugi-un-partneri header {
    background-image: url("../images/par-zig-zag/draugi-un-partneri-en.png"); }
    .page-content.par-zig-zag article#draugi-un-partneri header.lv {
      background-image: url("../images/par-zig-zag/draugi-un-partneri.png"); }
    .page-content.par-zig-zag article#draugi-un-partneri header.ru {
      background-image: url("../images/par-zig-zag/draugi-un-partneri-ru.png"); }
  .page-content.par-zig-zag article#kontakti header {
    background-image: url("../images/par-zig-zag/kontakti-en.png"); }
    .page-content.par-zig-zag article#kontakti header.lv {
      background-image: url("../images/par-zig-zag/kontakti.png"); }
    .page-content.par-zig-zag article#kontakti header.ru {
      background-image: url("../images/par-zig-zag/kontakti-ru.png"); }

.page-content.galerija {
  background-color: #e9e4de;
  background-color: rgba(233, 228, 222, 0.3);
  padding: 35px 94px 15px; }
  .page-content.galerija .content-container {
    width: 100%; }
    .page-content.galerija .content-container .item {
      cursor: pointer;
      margin-bottom: 20px;
      position: relative;
      height: 190px; }
      .page-content.galerija .content-container .item:hover .content {
        opacity: 1; }
      .page-content.galerija .content-container .item figure {
        height: 100%; }
        .page-content.galerija .content-container .item figure img {
          width: 100%;
          height: 100%; }
      .page-content.galerija .content-container .item .content {
        background-color: black;
        background-color: rgba(0, 0, 0, 0.45);
        -webkit-transition: opacity 0.25s;
        -moz-transition: opacity 0.25s;
        -ms-transition: opacity 0.25s;
        -o-transition: opacity 0.25s;
        transition: opacity 0.25s;
        opacity: 0;
        position: absolute;
        left: 5px;
        right: 5px;
        top: 5px;
        bottom: 5px; }
        .page-content.galerija .content-container .item .content .details {
          background-color: #8ec8b7;
          background-color: rgba(142, 200, 183, 0.75);
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          margin: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          color: #FFF;
          font-size: 13px;
          text-align: center;
          width: 140px;
          height: 140px; }
          .page-content.galerija .content-container .item .content .details .details-inner {
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
            width: 100%; }
          .page-content.galerija .content-container .item .content .details .name {
            margin-bottom: 5px; }

.overlay-container {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .overlay-container .overlay-inner-container {
    width: 1008px;
    margin: 0 auto;
    padding: 0 66px; }
  .overlay-container .overlay-logo {
    background: url("../images/header/logo-galerija-overlay.png") no-repeat;
    display: block;
    width: 78px;
    height: 145px; }
  .overlay-container .overlay {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #E9E9E9;
    min-height: 450px;
    width: 800px; }
    .overlay-container .overlay .overlay-close {
      display: block;
      background: url("../images/galerija/overlay-close.png") no-repeat center center;
      position: absolute;
      right: 6px;
      top: 6px;
      width: 18px;
      height: 18px; }
    .overlay-container .overlay .overlay-content {
      zoom: 1;
      padding: 20px 12px; }
      .overlay-container .overlay .overlay-content:before, .overlay-container .overlay .overlay-content:after {
        content: "";
        display: table; }
      .overlay-container .overlay .overlay-content:after {
        clear: both; }
      .overlay-container .overlay .overlay-content .overlay-images {
        float: left;
        margin-right: 16px;
        width: 320px; }
        .overlay-container .overlay .overlay-content .overlay-images .overlay-image {
          width: 100%;
          height: 320px; }
          .overlay-container .overlay .overlay-content .overlay-images .overlay-image img {
            width: 100%;
            max-height: 320px; }
        .overlay-container .overlay .overlay-content .overlay-images .overlay-thumbnails {
          zoom: 1;
          margin-top: 8px;
          width: 100%; }
          .overlay-container .overlay .overlay-content .overlay-images .overlay-thumbnails:before, .overlay-container .overlay .overlay-content .overlay-images .overlay-thumbnails:after {
            content: "";
            display: table; }
          .overlay-container .overlay .overlay-content .overlay-images .overlay-thumbnails:after {
            clear: both; }
          .overlay-container .overlay .overlay-content .overlay-images .overlay-thumbnails .overlay-thumbnail {
            cursor: pointer;
            float: left;
            margin-right: 8px;
            position: relative;
            width: 74px;
            height: 74px; }
            .overlay-container .overlay .overlay-content .overlay-images .overlay-thumbnails .overlay-thumbnail:last-child {
              margin-right: 0; }
            .overlay-container .overlay .overlay-content .overlay-images .overlay-thumbnails .overlay-thumbnail:after {
              content: "";
              background-color: white;
              background-color: rgba(255, 255, 255, 0.5);
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0; }
            .overlay-container .overlay .overlay-content .overlay-images .overlay-thumbnails .overlay-thumbnail:hover:after, .overlay-container .overlay .overlay-content .overlay-images .overlay-thumbnails .overlay-thumbnail.selected:after {
              display: none; }
    .overlay-container .overlay .overlay-product-details {
      float: left;
      width: 440px; }
      .overlay-container .overlay .overlay-product-details header h1, .overlay-container .overlay .overlay-product-details header h2 {
        font-weight: normal;
        margin: 0; }
      .overlay-container .overlay .overlay-product-details header h1 {
        font-size: 13px;
        text-transform: uppercase; }
      .overlay-container .overlay .overlay-product-details header h2 {
        font-size: 11px; }
      .overlay-container .overlay .overlay-product-details .items {
        margin-top: 4px;
        margin-bottom: 10px; }
        .overlay-container .overlay .overlay-product-details .items .item {
          zoom: 1;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          background-color: #575756;
          margin-bottom: 1px;
          padding: 4px 6px;
          width: 100%; }
          .overlay-container .overlay .overlay-product-details .items .item:before, .overlay-container .overlay .overlay-product-details .items .item:after {
            content: "";
            display: table; }
          .overlay-container .overlay .overlay-product-details .items .item:after {
            clear: both; }
          .overlay-container .overlay .overlay-product-details .items .item .label, .overlay-container .overlay .overlay-product-details .items .item .selectbox {
            float: left;
            width: 50%; }
          .overlay-container .overlay .overlay-product-details .items .item .label {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            color: #FFF;
            font-size: 11px;
            padding-right: 6px;
            text-transform: uppercase;
            text-align: right; }
      .overlay-container .overlay .overlay-product-details .selectbox .selectbox-list .size,
      .overlay-container .overlay .overlay-product-details .selectbox .selectbox-element .size {
        float: left; }
      .overlay-container .overlay .overlay-product-details .selectbox .selectbox-list .price,
      .overlay-container .overlay .overlay-product-details .selectbox .selectbox-element .price {
        float: right; }
      .overlay-container .overlay .overlay-product-details .selectbox .selectbox-element:before {
        content: "";
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 7px solid #33AA80;
        position: absolute;
        right: 6px;
        top: 5px;
        width: 0;
        height: 0; }
      .overlay-container .overlay .overlay-product-details .description {
        color: #706F6F;
        font-size: 11px; }
      .overlay-container .overlay .overlay-product-details .washing-instructions {
        background: url("../images/galerija/washing-instructions.png") no-repeat center center;
        margin-top: 20px;
        width: 95px;
        height: 14px; }
      .overlay-container .overlay .overlay-product-details .shop {
        zoom: 1;
        font-size: 13px;
        margin-top: 6px;
        padding-top: 8px;
        position: relative;
        text-transform: uppercase; }
        .overlay-container .overlay .overlay-product-details .shop:before, .overlay-container .overlay .overlay-product-details .shop:after {
          content: "";
          display: table; }
        .overlay-container .overlay .overlay-product-details .shop:after {
          clear: both; }
        .overlay-container .overlay .overlay-product-details .shop:after {
          content: "";
          background: url("../images/galerija/overlay-dots.png") no-repeat center center;
          position: absolute;
          top: 0;
          width: 100%;
          height: 6px; }
        .overlay-container .overlay .overlay-product-details .shop .total-label {
          float: left;
          letter-spacing: 1px; }
        .overlay-container .overlay .overlay-product-details .shop .total {
          float: right;
          letter-spacing: 1px;
          text-align: right; }
        .overlay-container .overlay .overlay-product-details .shop .delivery-info {
          clear: both;
          color: #706F6F;
          font-size: 11px;
          text-transform: none; }
        .overlay-container .overlay .overlay-product-details .shop .add-to-basket {
          background-color: #33A980;
          color: #FFF;
          font-size: 14px;
          float: right;
          margin-top: 8px;
          line-height: 1;
          padding: 8px; }

.page-content.audumi nav.content-menu a.active:after,
.page-content.audumi nav.content-menu a:hover:after {
  background-color: #98804B; }
.page-content.audumi article header {
  width: 100%;
  height: 40px; }
  .page-content.audumi article header h1 {
    color: #FFF;
    font-size: 19px;
    font-weight: bold;
    line-height: 40px;
    margin-left: 80px;
    text-transform: uppercase; }
.page-content.audumi article .content {
  background-color: #e9e9e9;
  background-color: rgba(233, 233, 233, 0.9);
  padding: 20px 50px 20px 70px; }
.page-content.audumi article#auduma-virsma header, .page-content.audumi article#aizsardziba header, .page-content.audumi article#higiena header, .page-content.audumi article#ieguve header, .page-content.audumi article#krasas header, .page-content.audumi article#lietosana header, .page-content.audumi article#bezmaksas-paraugs header {
  background-repeat: no-repeat;
  background-position: center center; }
.page-content.audumi article#auduma-virsma header {
  background-image: url("../images/audumi/auduma-virsma.jpg"); }
.page-content.audumi article#aizsardziba header {
  background-image: url("../images/audumi/aizsardziba.jpg"); }
.page-content.audumi article#higiena header {
  background-image: url("../images/audumi/higiena.jpg"); }
.page-content.audumi article#ieguve header {
  background-image: url("../images/audumi/ieguve.jpg"); }
.page-content.audumi article#krasas header {
  background-image: url("../images/audumi/krasas.jpg"); }
.page-content.audumi article#lietosana header {
  background-image: url("../images/audumi/lietosana.jpg"); }
.page-content.audumi article#bezmaksas-paraugs header {
  background-image: url("../images/audumi/bezmaksas-paraugs.jpg"); }

.page-content.atsauksmes .content-container {
  background-color: #e9e4de;
  background-color: rgba(233, 228, 222, 0.4);
  padding: 8px 8px 0;
  width: 806px; }
  .page-content.atsauksmes .content-container .item {
    margin-bottom: 10px;
    font-size: 16px; }
    .page-content.atsauksmes .content-container .item figure {
      height: 155px; }

.page-content.grozs {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 12px 16px; }
  .page-content.grozs header {
    margin-bottom: 24px; }
    .page-content.grozs header h1 {
      color: #555555;
      font-size: 22px;
      font-weight: normal; }
    .page-content.grozs header .stages {
      border-top: 1px solid #cccccc;
      padding-top: 12px;
      text-align: center; }
      .page-content.grozs header .stages p {
        display: inline-block;
        *display: inline;
        vertical-align: top;
        zoom: 1;
        background-color: #33A880;
        color: #FFF;
        font-size: 18px;
        margin: 0 10px;
        padding: 4px 8px;
        text-transform: uppercase; }
        .page-content.grozs header .stages p.active {
          background-color: #C1CB2F;
          color: #FFF; }
  .page-content.grozs footer .links {
    clear: both;
    text-transform: uppercase;
    text-align: center; }
    .page-content.grozs footer .links a {
      display: inline-block;
      *display: inline;
      vertical-align: top;
      zoom: 1;
      font-size: 15px;
      margin: 20px 15px; }
      .page-content.grozs footer .links a.back {
        line-height: 30px; }
      .page-content.grozs footer .links a.confirm {
        background-color: #C1CB2F;
        border: 1px solid #888;
        padding: 3px 12px; }
  .page-content.grozs h2 {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase; }

.page-content.grozs .cart-items table tr {
  display: block;
  width: 100%; }
.page-content.grozs .cart-items table td {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .page-content.grozs .cart-items table td.item-info {
    width: 466px; }
  .page-content.grozs .cart-items table td.price, .page-content.grozs .cart-items table td.total-price {
    width: 180px; }
  .page-content.grozs .cart-items table td.amount {
    width: 90px; }
  .page-content.grozs .cart-items table td.remove {
    width: 60px; }
.page-content.grozs .cart-items table thead, .page-content.grozs .cart-items table tbody {
  display: block;
  border-bottom: 1px solid #cccccc; }
.page-content.grozs .cart-items table thead {
  display: block;
  border-bottom: 1px solid #cccccc; }
  .page-content.grozs .cart-items table thead td {
    color: #555555;
    text-align: center;
    text-transform: uppercase; }
.page-content.grozs .cart-items table tbody tr {
  margin-top: 16px; }
  .page-content.grozs .cart-items table tbody tr:last-child {
    margin-bottom: 16px; }
.page-content.grozs .cart-items table tbody td {
  border-right: 1px solid #cccccc;
  margin-top: 20px; }
  .page-content.grozs .cart-items table tbody td:last-child {
    border-right: none; }
.page-content.grozs .cart-items table tbody td.item-info {
  zoom: 1; }
  .page-content.grozs .cart-items table tbody td.item-info:before, .page-content.grozs .cart-items table tbody td.item-info:after {
    content: "";
    display: table; }
  .page-content.grozs .cart-items table tbody td.item-info:after {
    clear: both; }
  .page-content.grozs .cart-items table tbody td.item-info figure,
  .page-content.grozs .cart-items table tbody td.item-info .info {
    float: left; }
  .page-content.grozs .cart-items table tbody td.item-info figure img {
    width: 150px;
    height: 150px; }
  .page-content.grozs .cart-items table tbody td.item-info .info {
    margin-left: 12px; }
    .page-content.grozs .cart-items table tbody td.item-info .info .subtitle {
      color: #555555;
      margin-top: 28px; }
    .page-content.grozs .cart-items table tbody td.item-info .info .title {
      font-size: 24px;
      margin-top: 20px;
      text-transform: uppercase; }
.page-content.grozs .cart-items table tbody td.amount {
  zoom: 1;
  text-align: center; }
  .page-content.grozs .cart-items table tbody td.amount:before, .page-content.grozs .cart-items table tbody td.amount:after {
    content: "";
    display: table; }
  .page-content.grozs .cart-items table tbody td.amount:after {
    clear: both; }
  .page-content.grozs .cart-items table tbody td.amount input, .page-content.grozs .cart-items table tbody td.amount .buttons {
    display: inline-block;
    *display: inline;
    vertical-align: top;
    zoom: 1; }
  .page-content.grozs .cart-items table tbody td.amount input {
    background: none;
    border: none;
    border: 1px solid #cccccc;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 4px 0;
    text-align: center;
    width: 32px; }
    .page-content.grozs .cart-items table tbody td.amount input::-webkit-outer-spin-button, .page-content.grozs .cart-items table tbody td.amount input::-webkit-inner-spin-button {
      -webkit-appearance: none; }
  .page-content.grozs .cart-items table tbody td.amount .buttons {
    margin-left: 4px; }
    .page-content.grozs .cart-items table tbody td.amount .buttons a {
      display: block;
      line-height: 20px;
      height: 15px;
      width: 15px; }
    .page-content.grozs .cart-items table tbody td.amount .buttons .incr:after,
    .page-content.grozs .cart-items table tbody td.amount .buttons .decr:after {
      content: "^";
      display: block;
      text-align: center;
      width: 15px;
      height: 15px; }
    .page-content.grozs .cart-items table tbody td.amount .buttons .decr:after {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
.page-content.grozs .cart-items table tbody td.price,
.page-content.grozs .cart-items table tbody td.total-price {
  padding: 0 10px;
  text-align: center; }
  .page-content.grozs .cart-items table tbody td.price .eur,
  .page-content.grozs .cart-items table tbody td.total-price .eur {
    font-size: 24px; }
  .page-content.grozs .cart-items table tbody td.price .lat,
  .page-content.grozs .cart-items table tbody td.total-price .lat {
    color: #555555;
    border-top: 1px solid #cccccc; }
.page-content.grozs .cart-items table tbody td.remove {
  padding-left: 12px; }
  .page-content.grozs .cart-items table tbody td.remove .remove-item {
    color: #555555; }
.page-content.grozs .cart-items .total {
  zoom: 1;
  background-color: #33A880;
  color: #444;
  float: right;
  margin-top: 16px;
  padding: 10px;
  min-width: 240px; }
  .page-content.grozs .cart-items .total:before, .page-content.grozs .cart-items .total:after {
    content: "";
    display: table; }
  .page-content.grozs .cart-items .total:after {
    clear: both; }
  .page-content.grozs .cart-items .total .labels, .page-content.grozs .cart-items .total .values {
    float: left;
    width: 50%; }
  .page-content.grozs .cart-items .total .labels {
    text-align: right; }
    .page-content.grozs .cart-items .total .labels p:last-child {
      line-height: 36px; }
  .page-content.grozs .cart-items .total .values {
    text-align: center; }
    .page-content.grozs .cart-items .total .values p:last-child {
      color: #1d1d1b;
      font-size: 24px; }

.page-content.grozs .order-data label {
  display: inline-block;
  *display: inline;
  vertical-align: top;
  zoom: 1;
  font-size: 14px;
  line-height: 2;
  margin-top: 24px;
  width: 110px; }
  .page-content.grozs .order-data label.checkbox-label {
    font-size: 11px;
    margin-top: 8px;
    line-height: 18px;
    width: auto; }
.page-content.grozs .order-data input,
.page-content.grozs .order-data textarea,
.page-content.grozs .order-data .selectbox-element {
  background: none;
  border: none;
  background-color: #cacaca;
  background-color: rgba(202, 202, 202, 0.65);
  border: 1px solid #777; }
.page-content.grozs .order-data input {
  margin-bottom: 0; }
.page-content.grozs .order-data input[type=text],
.page-content.grozs .order-data input[type=email],
.page-content.grozs .order-data input[type=tel],
.page-content.grozs .order-data textarea {
  display: inline-block;
  *display: inline;
  vertical-align: top;
  zoom: 1;
  font-size: 16px;
  margin-top: 24px;
  outline: 0;
  padding: 4px; }
.page-content.grozs .order-data input[type=text],
.page-content.grozs .order-data input[type=email],
.page-content.grozs .order-data input[type=tel] {
  width: 260px; }
.page-content.grozs .order-data textarea {
  font-size: 14px;
  resize: none;
  width: 400px; }
.page-content.grozs .order-data input[type=checkbox] {
  -webkit-appearance: none;
  margin: 8px 12px 0 120px;
  outline: 0;
  width: 18px;
  height: 18px; }
  .page-content.grozs .order-data input[type=checkbox]:after {
    content: "";
    display: block;
    font-size: 12px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    width: 16px;
    height: 16px; }
  .page-content.grozs .order-data input[type=checkbox]:checked:after {
    content: "X"; }
.page-content.grozs .order-data .info,
.page-content.grozs .order-data .customer-details {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  *display: inline;
  vertical-align: top;
  zoom: 1; }
.page-content.grozs .order-data .info {
  color: #555555;
  width: 230px; }
  .page-content.grozs .order-data .info .info-group {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 16px;
    width: 100%; }
    .page-content.grozs .order-data .info .info-group:first-child {
      margin-top: 36px; }
    .page-content.grozs .order-data .info .info-group h2 {
      font-size: 13px;
      margin-bottom: 8px;
      padding-left: 24px; }
    .page-content.grozs .order-data .info .info-group .content {
      background-color: #a7a9ab;
      background-color: rgba(167, 169, 171, 0.55);
      border: 1px solid #888;
      font-size: 13px;
      padding: 10px; }
    .page-content.grozs .order-data .info .info-group.total .content {
      zoom: 1; }
      .page-content.grozs .order-data .info .info-group.total .content:before, .page-content.grozs .order-data .info .info-group.total .content:after {
        content: "";
        display: table; }
      .page-content.grozs .order-data .info .info-group.total .content:after {
        clear: both; }
    .page-content.grozs .order-data .info .info-group.total .labels, .page-content.grozs .order-data .info .info-group.total .values {
      float: left;
      width: 50%; }
    .page-content.grozs .order-data .info .info-group.total .labels {
      text-align: right; }
      .page-content.grozs .order-data .info .info-group.total .labels p:last-child {
        line-height: 26px; }
    .page-content.grozs .order-data .info .info-group.total .values {
      text-align: center; }
      .page-content.grozs .order-data .info .info-group.total .values p:last-child {
        color: #1d1d1b;
        font-size: 18px;
        font-weight: bold; }
.page-content.grozs .order-data .customer-details {
  padding-left: 80px;
  width: 710px; }
  .page-content.grozs .order-data .customer-details h2 {
    margin-left: 114px; }
  .page-content.grozs .order-data .customer-details .star {
    color: #d00;
    width: 20px;
    margin-left: 5px;
    margin-top: 16px;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    line-height: 2; }
  .page-content.grozs .order-data .customer-details .error {
    color: #f00;
    font-size: 14px;
    vertical-align: bottom;
    width: 180px;
    margin-top: 28px;
    display: none;
    position: absolute;
    right: 50px;
    text-align: left; }
  .page-content.grozs .order-data .customer-details .delivery-details {
    margin-top: 70px; }
    .page-content.grozs .order-data .customer-details .delivery-details h2 {
      margin-bottom: 12px; }
    .page-content.grozs .order-data .customer-details .delivery-details fieldset.delivery-specific-details {
      display: none; }
    .page-content.grozs .order-data .customer-details .delivery-details fieldset.with-offset {
      display: inline-block;
      *display: inline;
      vertical-align: top;
      zoom: 1;
      margin-bottom: 32px;
      width: 516px; }
      .page-content.grozs .order-data .customer-details .delivery-details fieldset.with-offset input[type=checkbox] {
        margin-left: 10px; }
        .page-content.grozs .order-data .customer-details .delivery-details fieldset.with-offset input[type=checkbox]:last-of-type {
          margin-top: 24px; }
      .page-content.grozs .order-data .customer-details .delivery-details fieldset.with-offset label:last-of-type {
        margin-top: 24px; }
    .page-content.grozs .order-data .customer-details .delivery-details .sub-label {
      font-size: 12px;
      line-height: 1;
      margin-left: 16px; }
    .page-content.grozs .order-data .customer-details .delivery-details .selectbox {
      margin-top: 24px;
      position: relative;
      width: 200px; }
      .page-content.grozs .order-data .customer-details .delivery-details .selectbox .selectbox-element,
      .page-content.grozs .order-data .customer-details .delivery-details .selectbox .selectbox-list a {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 16px;
        padding: 1px 25px 1px 8px; }
      .page-content.grozs .order-data .customer-details .delivery-details .selectbox .selectbox-element {
        display: block; }
        .page-content.grozs .order-data .customer-details .delivery-details .selectbox .selectbox-element:before {
          content: "^";
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
          border-right: 1px solid #777;
          font-size: 18px;
          position: absolute;
          right: 0;
          top: 0;
          text-align: center;
          width: 24px;
          height: 100%; }
      .page-content.grozs .order-data .customer-details .delivery-details .selectbox .selectbox-list {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #777;
        background-color: #CACACA;
        display: none;
        margin-top: -1px;
        padding-top: 4px;
        position: absolute;
        right: 0;
        width: 100%;
        z-index: 1; }
        .page-content.grozs .order-data .customer-details .delivery-details .selectbox .selectbox-list a {
          zoom: 1;
          background-color: #CACACA;
          display: block;
          padding-top: 4px;
          padding-bottom: 4px; }
          .page-content.grozs .order-data .customer-details .delivery-details .selectbox .selectbox-list a:before, .page-content.grozs .order-data .customer-details .delivery-details .selectbox .selectbox-list a:after {
            content: "";
            display: table; }
          .page-content.grozs .order-data .customer-details .delivery-details .selectbox .selectbox-list a:after {
            clear: both; }
          .page-content.grozs .order-data .customer-details .delivery-details .selectbox .selectbox-list a:hover {
            color: #FFF;
            background-color: #575756; }
          .page-content.grozs .order-data .customer-details .delivery-details .selectbox .selectbox-list a .size {
            float: left; }
          .page-content.grozs .order-data .customer-details .delivery-details .selectbox .selectbox-list a .price {
            float: right; }

.page-content.grozs .payment h2 {
  margin: 50px 0;
  text-align: center; }
.page-content.grozs .payment .payment-types {
  text-align: center; }
  .page-content.grozs .payment .payment-types a {
    display: inline-block;
    *display: inline;
    vertical-align: top;
    zoom: 1;
    background-repeat: no-repeat;
    background-position: center center;
    width: 320px;
    height: 150px; }
    .page-content.grozs .payment .payment-types a.card {
      background-image: url("../images/grozs/pay-with-card.png");
      margin-right: 50px; }
    .page-content.grozs .payment .payment-types a.paypal {
      background-image: url("../images/grozs/pay-with-paypal.png"); }
.page-content.grozs .payment .info {
  font-size: 11px;
  margin: 45px 0 100px 100px; }

.page-content.grozs .done .outer {
  padding: 100px 200px 100px 0; }
  .page-content.grozs .done .outer .inner {
    text-align: center; }
    .page-content.grozs .done .outer .inner p {
      line-height: 1.8; }
    .page-content.grozs .done .outer .inner p:first-child {
      font-size: 26px;
      text-transform: uppercase; }
    .page-content.grozs .done .outer .inner p:nth-child(2) {
      font-size: 26px; }
    .page-content.grozs .done .outer .inner p:last-child {
      font-size: 16px; }
.page-content.grozs .done footer .links {
  text-align: right; }

.page-content.darbnica {
  zoom: 1; }
  .page-content.darbnica:before, .page-content.darbnica:after {
    content: "";
    display: table; }
  .page-content.darbnica:after {
    clear: both; }
  .page-content.darbnica .factory-container {
    float: left;
    position: relative;
    height: 700px;
    width: 790px; }
    .page-content.darbnica .factory-container background {
      repeat: no-repeat;
      position: center center; }
    .page-content.darbnica .factory-container.theme-bright {
      background-image: url("../images/darbnica/bg-bright.jpg"); }
      .page-content.darbnica .factory-container.theme-bright .side-icons .icon-1 {
        background-position: 0 0; }
      .page-content.darbnica .factory-container.theme-bright .side-icons .icon-2 {
        background-position: 0 -60px; }
      .page-content.darbnica .factory-container.theme-bright .side-icons .icon-3 {
        background-position: 0 -110px; }
      .page-content.darbnica .factory-container.theme-bright .side-icons .icon-4 {
        background-position: 0 -160px; }
      .page-content.darbnica .factory-container.theme-bright .side-icons .icon-5 {
        background-position: 0 -210px; }
      .page-content.darbnica .factory-container.theme-bright .side-icons .icon-6 {
        background-position: 0 -260px; }
    .page-content.darbnica .factory-container.theme-dark {
      background-image: url("../images/darbnica/bg-dark.jpg"); }
      .page-content.darbnica .factory-container.theme-dark .side-icons .icon-1 {
        background-position: -50px 0; }
      .page-content.darbnica .factory-container.theme-dark .side-icons .icon-2 {
        background-position: -50px -60px; }
      .page-content.darbnica .factory-container.theme-dark .side-icons .icon-3 {
        background-position: -50px -110px; }
      .page-content.darbnica .factory-container.theme-dark .side-icons .icon-4 {
        background-position: -50px -160px; }
      .page-content.darbnica .factory-container.theme-dark .side-icons .icon-5 {
        background-position: -50px -210px; }
      .page-content.darbnica .factory-container.theme-dark .side-icons .icon-6 {
        background-position: -50px -260px; }
    .page-content.darbnica .factory-container .side-icons {
      margin-top: 50px;
      margin-left: 20px; }
      .page-content.darbnica .factory-container .side-icons div {
        background-image: url("../images/sprites/side-icons.png");
        background-repeat: no-repeat;
        margin-bottom: 5px;
        width: 50px;
        height: 50px; }
        .page-content.darbnica .factory-container .side-icons div:last-child {
          margin-bottom: 0; }
      .page-content.darbnica .factory-container .side-icons .icon-1 {
        height: 60px; }
        .page-content.darbnica .factory-container .side-icons .icon-1:hover {
          background-position: -100px 0; }
      .page-content.darbnica .factory-container .side-icons .icon-2:hover {
        background-position: -100px -60px; }
      .page-content.darbnica .factory-container .side-icons .icon-3:hover {
        background-position: -100px -110px; }
      .page-content.darbnica .factory-container .side-icons .icon-4:hover {
        background-position: -100px -160px; }
      .page-content.darbnica .factory-container .side-icons .icon-5:hover {
        background-position: -100px -210px; }
      .page-content.darbnica .factory-container .side-icons .icon-6:hover {
        background-position: -100px -260px; }
    .page-content.darbnica .factory-container .theme-switcher {
      position: absolute;
      right: 26px;
      top: 50px; }
      .page-content.darbnica .factory-container .theme-switcher a {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        *display: inline;
        vertical-align: top;
        zoom: 1;
        height: 32px;
        width: 32px; }
        .page-content.darbnica .factory-container .theme-switcher a.bright {
          background: url("../images/darbnica/theme-switcher-bright.jpg") no-repeat center center;
          margin-right: 8px; }
        .page-content.darbnica .factory-container .theme-switcher a.dark {
          background: url("../images/darbnica/theme-switcher-dark.jpg") no-repeat center center; }
        .page-content.darbnica .factory-container .theme-switcher a.active {
          background: none !important;
          border: 1px solid #FFF; }
    .page-content.darbnica .factory-container .factory {
      font-size: 11px;
      position: absolute;
      top: 46px;
      left: 275px;
      text-align: center;
      text-transform: uppercase;
      height: 404px;
      width: 348px; }
      .page-content.darbnica .factory-container .factory div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        cursor: pointer;
        position: absolute; }
        .page-content.darbnica .factory-container .factory div table {
          position: absolute;
          left: 50%; }
        .page-content.darbnica .factory-container .factory div span {
          display: block;
          position: relative; }
      .page-content.darbnica .factory-container .factory .spilvendrana-1.has-preview,
      .page-content.darbnica .factory-container .factory .spilvendrana-2.has-preview,
      .page-content.darbnica .factory-container .factory .virspalags.has-preview {
        background: none; }
      .page-content.darbnica .factory-container .factory .spilvendrana-1,
      .page-content.darbnica .factory-container .factory .spilvendrana-2 {
        background-color: #d2d3d0;
        border: 5px solid transparent;
        height: 98px;
        width: 98px; }
        .page-content.darbnica .factory-container .factory .spilvendrana-1:hover,
        .page-content.darbnica .factory-container .factory .spilvendrana-2:hover {
          border-color: #cce100; }
      .page-content.darbnica .factory-container .factory .spilvendrana-1 {
        left: 56px; }
        .page-content.darbnica .factory-container .factory .spilvendrana-1 span {
          margin-top: 15px; }
      .page-content.darbnica .factory-container .factory .spilvendrana-2 {
        -webkit-transform: rotateZ(-6deg);
        -moz-transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -o-transform: rotateZ(-6deg);
        transform: rotateZ(-6deg);
        left: 170px;
        top: 28px; }
        .page-content.darbnica .factory-container .factory .spilvendrana-2 span {
          -webkit-transform: rotateZ(6deg);
          -moz-transform: rotateZ(6deg);
          -ms-transform: rotateZ(6deg);
          -o-transform: rotateZ(6deg);
          transform: rotateZ(6deg);
          margin-top: 4px; }
      .page-content.darbnica .factory-container .factory .virspalags {
        -webkit-transform: rotateZ(1.5deg);
        -moz-transform: rotateZ(1.5deg);
        -ms-transform: rotateZ(1.5deg);
        -o-transform: rotateZ(1.5deg);
        transform: rotateZ(1.5deg);
        background: url("../images/darbnica/constructor-duvet.png") no-repeat center center;
        border: 5px solid transparent;
        top: 66px;
        left: 16px;
        height: 338px;
        width: 314px; }
        .page-content.darbnica .factory-container .factory .virspalags:hover {
          border-right-color: #cce100;
          border-bottom-color: #cce100; }
          .page-content.darbnica .factory-container .factory .virspalags:hover:before {
            content: "";
            background-color: #cce100;
            position: absolute;
            top: -5px;
            right: -5px;
            height: 5px;
            width: 256px; }
          .page-content.darbnica .factory-container .factory .virspalags:hover:after {
            content: "";
            background-color: #cce100;
            position: absolute;
            bottom: -5px;
            left: -5px;
            height: 272px;
            width: 5px; }
          .page-content.darbnica .factory-container .factory .virspalags:hover .diagonal {
            -webkit-transform: rotateZ(-49deg);
            -moz-transform: rotateZ(-49deg);
            -ms-transform: rotateZ(-49deg);
            -o-transform: rotateZ(-49deg);
            transform: rotateZ(-49deg);
            background-color: #cce100;
            top: 27px;
            left: -18px;
            height: 5px;
            width: 88px; }
        .page-content.darbnica .factory-container .factory .virspalags.has-preview:hover {
          border-color: #cce100; }
          .page-content.darbnica .factory-container .factory .virspalags.has-preview:hover .diagonal {
            display: none; }
        .page-content.darbnica .factory-container .factory .virspalags span {
          -webkit-transform: rotateZ(-1.5deg);
          -moz-transform: rotateZ(-1.5deg);
          -ms-transform: rotateZ(-1.5deg);
          -o-transform: rotateZ(-1.5deg);
          transform: rotateZ(-1.5deg);
          margin-top: 115px; }
      .page-content.darbnica .factory-container .factory .palags {
        border: 5px solid transparent;
        text-align: right;
        top: 7px;
        left: 16px;
        height: 360px;
        width: 312px; }
        .page-content.darbnica .factory-container .factory .palags:hover {
          border-color: #cce100; }
        .page-content.darbnica .factory-container .factory .palags span {
          margin-top: -2px;
          margin-right: 15px; }
  .page-content.darbnica .buy {
    color: #FFF;
    float: right;
    line-height: 1.5;
    width: 208px; }
    .page-content.darbnica .buy .pricing {
      background-color: black;
      background-color: rgba(0, 0, 0, 0.7);
      margin-bottom: 5px;
      padding: 8px;
      text-transform: uppercase; }
      .page-content.darbnica .buy .pricing p {
        font-size: 12px;
        margin-bottom: 15px; }
      .page-content.darbnica .buy .pricing ul {
        list-style-type: none;
        padding: 0;
        margin: 0; }
      .page-content.darbnica .buy .pricing ul li {
        zoom: 1;
        font-size: 11px; }
        .page-content.darbnica .buy .pricing ul li:before, .page-content.darbnica .buy .pricing ul li:after {
          content: "";
          display: table; }
        .page-content.darbnica .buy .pricing ul li:after {
          clear: both; }
        .page-content.darbnica .buy .pricing ul li .item {
          float: left;
          width: 120px; }
        .page-content.darbnica .buy .pricing ul li .amount {
          float: left; }
        .page-content.darbnica .buy .pricing ul li .price {
          float: right; }
      .page-content.darbnica .buy .pricing .dotted-line {
        background: url("../images/darbnica/dotted-line.png") no-repeat center center;
        height: 6px;
        margin: 12px 0; }
      .page-content.darbnica .buy .pricing .total-price {
        zoom: 1;
        font-size: 12px; }
        .page-content.darbnica .buy .pricing .total-price:before, .page-content.darbnica .buy .pricing .total-price:after {
          content: "";
          display: table; }
        .page-content.darbnica .buy .pricing .total-price:after {
          clear: both; }
        .page-content.darbnica .buy .pricing .total-price .total {
          float: left; }
        .page-content.darbnica .buy .pricing .total-price .price {
          color: #c2cc00;
          float: right; }
    .page-content.darbnica .buy .buttons {
      margin-bottom: 5px; }
      .page-content.darbnica .buy .buttons a {
        display: inline-block;
        *display: inline;
        vertical-align: top;
        zoom: 1; }
      .page-content.darbnica .buy .buttons .delivery {
        background: rgba(255, 255, 255, 0.9) url("../images/darbnica/delivery.png") no-repeat center top;
        margin-right: 4px;
        position: relative;
        width: 106px;
        height: 44px; }
        .page-content.darbnica .buy .buttons .delivery span {
          font-size: 9px;
          font-weight: bold;
          position: absolute;
          bottom: 0;
          right: 4px;
          text-transform: uppercase; }
      .page-content.darbnica .buy .buttons .order {
        background: url("../images/darbnica/order.png") no-repeat center center;
        font-size: 24px;
        padding: 6px 0 2px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        width: 98px; }
        .page-content.darbnica .buy .buttons .order:before {
          content: "";
          background: url("../images/darbnica/order-bg.png") no-repeat center center;
          position: absolute;
          right: -18px;
          top: 3px;
          z-index: -1;
          height: 44px;
          width: 24px; }
    .page-content.darbnica .buy .info {
      background-color: black;
      background-color: rgba(0, 0, 0, 0.7);
      margin-bottom: 5px;
      padding: 8px; }
      .page-content.darbnica .buy .info p {
        font-size: 12px;
        margin-bottom: 6px; }
      .page-content.darbnica .buy .info ul {
        list-style-type: disc;
        list-style-position: inside;
        padding: 0;
        margin: 0 0 6px; }
        .page-content.darbnica .buy .info ul li {
          font-size: 11px; }
    .page-content.darbnica .buy .share {
      background-color: #ebebeb;
      background-color: rgba(235, 235, 235, 0.7);
      background-image: url("../images/darbnica/share-bg.png");
      background-repeat: no-repeat;
      background-position: 10px center;
      position: relative;
      height: 75px; }
      .page-content.darbnica .buy .share .social {
        line-height: 1;
        position: absolute;
        right: 12px;
        bottom: 4px; }
        .page-content.darbnica .buy .share .social a {
          background-image: url("../images/sprites/social-icons.png");
          background-repeat: no-repeat;
          background-size: 44px 88px;
          display: inline-block;
          margin-right: 4px;
          height: 22px;
          width: 22px; }
          .page-content.darbnica .buy .share .social a:last-child {
            margin-right: 0; }
          .page-content.darbnica .buy .share .social a.facebook {
            background-position: 0 0; }
            .page-content.darbnica .buy .share .social a.facebook:hover {
              background-position: -22px 0; }
          .page-content.darbnica .buy .share .social a.twitter {
            background-position: 0 -22px; }
            .page-content.darbnica .buy .share .social a.twitter:hover {
              background-position: -22px -22px; }
          .page-content.darbnica .buy .share .social a.instagram {
            background-position: 0 -44px; }
            .page-content.darbnica .buy .share .social a.instagram:hover {
              background-position: -22px -44px; }
          .page-content.darbnica .buy .share .social a.draugiem {
            background-position: 0 -66px; }
            .page-content.darbnica .buy .share .social a.draugiem:hover {
              background-position: -22px -66px; }

.constructor-container {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }
  .constructor-container .constructor-container-inner {
    width: 1008px;
    margin: 0 auto;
    padding: 0 66px; }
  .constructor-container .logo {
    background: url("../images/header/logo-darbnica.png") no-repeat;
    display: block;
    margin-bottom: 12px;
    width: 78px;
    height: 145px; }
  .constructor-container .constructor {
    background-color: #e9e9e9;
    position: relative;
    padding: 40px 0; }
    .constructor-container .constructor .close {
      display: block;
      background: url("../images/galerija/overlay-close.png") no-repeat center center;
      position: absolute;
      right: 6px;
      top: 6px;
      width: 18px;
      height: 18px; }
    .constructor-container .constructor .constructor-content {
      font-size: 11px; }
      .constructor-container .constructor .constructor-content > div {
        display: inline-block;
        *display: inline;
        vertical-align: top;
        zoom: 1; }
  .constructor-container .side {
    margin: 0 60px;
    width: 180px; }
  .constructor-container .constructor-attributes > div {
    margin-bottom: 8px; }
  .constructor-container .constructor-attributes h2 {
    background-color: #5f6362;
    color: #FFF;
    font-size: 11px;
    font-weight: normal;
    padding: 4px 6px 3px;
    margin-bottom: 4px;
    text-transform: uppercase; }
  .constructor-container .constructor-attributes .dropdown {
    zoom: 1;
    background-color: #5f6362;
    color: #FFF;
    padding: 4px 4px 4px 6px; }
    .constructor-container .constructor-attributes .dropdown:before, .constructor-container .constructor-attributes .dropdown:after {
      content: "";
      display: table; }
    .constructor-container .constructor-attributes .dropdown:after {
      clear: both; }
    .constructor-container .constructor-attributes .dropdown .label {
      float: left;
      padding: 4px 0;
      text-transform: uppercase; }
    .constructor-container .constructor-attributes .dropdown .selectbox {
      float: right;
      width: 106px; }
      .constructor-container .constructor-attributes .dropdown .selectbox .selectbox-element {
        padding-top: 5px;
        padding-bottom: 3px; }
        .constructor-container .constructor-attributes .dropdown .selectbox .selectbox-element:before {
          content: "";
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 7px solid #33AA80;
          position: absolute;
          right: 6px;
          top: 9px;
          width: 0;
          height: 0; }
  .constructor-container .constructor-attributes .size {
    text-transform: uppercase; }
  .constructor-container .constructor-attributes .color-selector .color-selector-content {
    background-color: #FFF; }
    .constructor-container .constructor-attributes .color-selector .color-selector-content .colors {
      zoom: 1;
      padding: 6px; }
      .constructor-container .constructor-attributes .color-selector .color-selector-content .colors:before, .constructor-container .constructor-attributes .color-selector .color-selector-content .colors:after {
        content: "";
        display: table; }
      .constructor-container .constructor-attributes .color-selector .color-selector-content .colors:after {
        clear: both; }
      .constructor-container .constructor-attributes .color-selector .color-selector-content .colors .color {
        cursor: pointer;
        float: left;
        margin: 2px;
        height: 24px;
        width: 24px; }
        .constructor-container .constructor-attributes .color-selector .color-selector-content .colors .color:hover, .constructor-container .constructor-attributes .color-selector .color-selector-content .colors .color.active {
          border: 2px solid #686B6B;
          margin: 0; }
    .constructor-container .constructor-attributes .color-selector .color-selector-content .color-switcher {
      padding-top: 6px;
      padding-bottom: 16px;
      position: relative;
      text-align: center; }
      .constructor-container .constructor-attributes .color-selector .color-selector-content .color-switcher a {
        margin-top: -11px;
        position: absolute;
        top: 50%;
        text-indent: -9999px;
        width: 0;
        height: 0; }
        .constructor-container .constructor-attributes .color-selector .color-selector-content .color-switcher a.color-previous {
          left: 16px;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-right: 11px solid #33aa80; }
        .constructor-container .constructor-attributes .color-selector .color-selector-content .color-switcher a.color-next {
          right: 16px;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-left: 11px solid #33aa80; }
      .constructor-container .constructor-attributes .color-selector .color-selector-content .color-switcher img {
        display: inline-block;
        *display: inline;
        vertical-align: top;
        zoom: 1;
        width: 100px;
        height: 66px; }
  .constructor-container .constructor-attributes .accessories-selector .accessories-selector-content {
    background-color: #FFF; }
  .constructor-container .constructor-builder {
    width: 400px;
    min-height: 1px; }
    .constructor-container .constructor-builder .drop-bottom-color {
      border: 1px solid #000;
      margin-top: 10px;
      padding: 6px 0;
      text-align: center;
      width: 373px; }
      .constructor-container .constructor-builder .drop-bottom-color.drop {
        border-style: dashed; }
      .constructor-container .constructor-builder .drop-bottom-color .tip {
        display: inline-block;
        *display: inline;
        vertical-align: top;
        zoom: 1;
        line-height: 1.5;
        text-align: center;
        text-transform: uppercase;
        width: 75px; }
    .constructor-container .constructor-builder .drop-palags-color {
      border: 1px solid #000;
      height: 350px; }
      .constructor-container .constructor-builder .drop-palags-color .tip {
        line-height: 1.5;
        margin-top: 165px;
        text-align: center;
        text-transform: uppercase; }
  .constructor-container .constructor-info h1 {
    color: #c2cc00;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 4px;
    text-transform: uppercase; }
  .constructor-container .constructor-info ul {
    margin: 0;
    padding: 0;
    list-style-position: inside; }
  .constructor-container .constructor-info .pricing-info {
    margin-bottom: 10px; }
  .constructor-container .constructor-info .fabric-info,
  .constructor-container .constructor-info .fabric-description {
    color: #FFF;
    padding: 10px; }
  .constructor-container .constructor-info .fabric-info {
    background-color: #313635;
    margin-bottom: 2px; }
  .constructor-container .constructor-info .fabric-description {
    background-color: #3D4140;
    margin-bottom: 10px; }
  .constructor-container .constructor-info .costs .cost,
  .constructor-container .constructor-info .total-price {
    zoom: 1; }
    .constructor-container .constructor-info .costs .cost:before, .constructor-container .constructor-info .costs .cost:after,
    .constructor-container .constructor-info .total-price:before,
    .constructor-container .constructor-info .total-price:after {
      content: "";
      display: table; }
    .constructor-container .constructor-info .costs .cost:after,
    .constructor-container .constructor-info .total-price:after {
      clear: both; }
    .constructor-container .constructor-info .costs .cost .label,
    .constructor-container .constructor-info .total-price .label {
      float: left;
      text-transform: uppercase; }
    .constructor-container .constructor-info .costs .cost .price,
    .constructor-container .constructor-info .total-price .price {
      float: right; }
  .constructor-container .constructor-info .costs {
    margin-bottom: 8px; }
    .constructor-container .constructor-info .costs .cost {
      line-height: 2; }
  .constructor-container .constructor-info .total-price {
    background-color: #5F6362;
    margin-bottom: 6px;
    padding: 6px 8px 5px; }
    .constructor-container .constructor-info .total-price .label {
      color: #FFF; }
    .constructor-container .constructor-info .total-price .price {
      color: #c2cc00; }
  .constructor-container .constructor-info .buttons a {
    display: inline-block;
    *display: inline;
    vertical-align: top;
    zoom: 1; }
  .constructor-container .constructor-info .buttons .delivery {
    background-image: url("../images/darbnica/delivery_small.png");
    background-repeat: no-repeat;
    background-position: right center;
    margin-right: 2px;
    position: relative;
    width: 92px;
    height: 32px; }
    .constructor-container .constructor-info .buttons .delivery span {
      font-size: 9px;
      font-weight: bold;
      position: absolute;
      top: 4px;
      left: 2px;
      text-transform: uppercase; }
  .constructor-container .constructor-info .buttons .order {
    background: url("../images/darbnica/order.png") no-repeat center center;
    font-size: 16px;
    padding: 6px 0 6px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 86px; }
