 /* -------------------------------- */
/* ---		   DEFAULTS	 		---	*/
/* -------------------------------- */
html, body {
	margin: 0;
	padding: 0;
}
html { height: 100%; }
body {
	background-color: #fff;
	color: #464545;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif; 
	font-size: 13px;
	line-height: 18px;
	min-height: 100%;
	position: relative;
}

a {
	color: #464545;
	text-decoration: none;
}
a:visited,
a:focus { outline: 0; }

h1 {
	color: #636363;
	font-size: 18px;
	margin: 0;
}

img { display: block; }

/* Overwrite normalize.css */
dl, menu, ol, ul { margin: 0; padding: 0; }

/* Overwrite redactor.css */
.redactor_editor { margin: 15px 0 0 !important; padding: 0 !important; }
.redactor_editor ul { padding-left: 16px !important; }

/* Overwrite colorbox.css */
#cboxLoadedContent { margin-bottom: 24px; }
#cboxLoadedContent img {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 28px; 
}



/* -------------------------------- */
/* ---		   WRAPPERS	 		---	*/
/* -------------------------------- */
#main,
#locations,
#footer { width: 100%; }
	
	#main {
		background-color: #f0f0f0;
		padding: 15px 0 20px;
	}
	#locations { padding-bottom: 155px; }
	#footer {
		background-color: #5d5d5d;
		position: absolute; bottom: 0;
	}

	.wrapper-content {
		margin: 0 auto;	
		padding: 0 10px;
		position: relative;
		width: 940px;
	}



/* -------------------------------- */
/* ---		STYLE CLASSES		---	*/
/* -------------------------------- */
.cf:before,
.cf:after { content: ''; display: table; } 
.cf:after { clear: both; }
.cf { zoom: 1; } /* For IE 6/7 (trigger hasLayout) */

.lfloat { float: left; }
.rfloat { float: right; }

.threecol {
	padding: 20px 15px;
	width: 910px;
}

.twocol { 
	margin-right: 32px;
	padding: 20px 15px;
	width: 608px;
}

.onecol {
	padding: 20px 15px;
	width: 240px;
}

.onepointfivecol { width: 440px; }

.whiteback {
	background-color: #fff;
	-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
	
	min-height: 20px; /* @todo: to be removed */
}

.block-overlay {
	-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
	backgorund-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.8);
	display: none;
	font-size: 16px;
	font-weight: bold;
	line-height: 32px;
	text-align: center;
	position: absolute;
	top: 0; left: 10px; right: 10px; bottom: 0;
}

	.block-overlay p.working,
	.block-overlay p.success,
	.block-overlay p.error {
		position: absolute;
		top: 50%;
		width: 100%;
	}
	
	.block-overlay p.working {
		background: url(/images/loader.gif) no-repeat top center;
		margin-top: -12px;
		padding-top: 36px;		
	}
	
	.block-overlay p.success,
	.block-overlay p.error { display: none; }
	
		.block-overlay a {
			border: 1px solid #464545;
			-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
			font-weight: normal;
			padding: 4px;
		}
	
			.block-overlay a:hover {
				-webkit-box-shadow: 0 0 6px #000;
				-moz-box-shadow: 0 0 6px #000;
				box-shadow: 0 0 6px #000;
			}
			
#content-loader {
	display: none;
	background: url(/images/loader.gif) no-repeat center center;
	height: 24px;
	padding: 24px 0;
	text-align: center;
}

::-moz-selection {
       background-color: #464545;
       color: #fff;
}

::selection {
       background-color: #464545;
       color: #fff;
}



/* ------------------------ */
/* ---		HEADER		---	*/
/* ------------------------ */
#main > header { font-size: 14px; }

	#lang-menu {
		float: right;
		font-size: 13px;
	}
	
		#lang-menu img { display: inline; }
		
		#lang-menu .bfh-selectbox { height: auto; }
		
		#lang-menu .bfh-selectbox-toggle {
			background: url(/images/dd_arrow.png) no-repeat right center;
			border: none;
			padding-right: 16px;
		}
			#lang-menu .bfh-selectbox-toggle span { height: auto; }
		
		#lang-menu .bfh-selectbox-options {
			right: 0;
			left: auto;
		}

	#header-branding {
		clear: both; float: left;
		margin-left: 16px;
		height: 75px; width: 300px;
	}
	
	#header-menu {
		float: right;
		font-weight: bold;
		padding: 15px 0;
		height: 45px;
/* 		width: 390px; */
	}

		#header-menu ul { list-style: none; }

			#header-menu li {
				background-color: #d6d6d6;
				border-left: 1px solid #c2c2c2; border-top: 1px solid #c2c2c2;				
				float: left;
				height: 44px;
			}

				#header-menu li a {
					display: block;
					padding: 14px 12px;
					height: 16px;
				}

				#header-menu li:first-child {
					border-bottom-left-radius: 10px; border-top-left-radius: 10px;
					width: 40px;
					background-image: url('/images/header-home.png'); background-repeat: no-repeat; background-position: center;
				}

				#header-menu li:last-child { border-bottom-right-radius: 10px; border-top-right-radius: 10px; }

				#header-menu li:hover,
				#header-menu li.active {
					-webkit-box-shadow: inset 0px 2px 10px #818181;
					-moz-box-shadow: inset 0px 2px 10px #818181;
					box-shadow: inset 0px 2px 10px #818181;
				}
				
	#new-stable {
		float: right;
		font-weight: bold;
		margin-left: 24px;
		padding: 15px 0;
		height: 45px;
/* 		width: 140px; */
	}

		#new-stable a {
			background: #636363 url(/images/header-pencil.png) no-repeat 10px center;
			-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
			border-left: 1px solid #525252; border-top: 1px solid #525252;	
			color: #fff;
			display: block;
			padding: 14px 12px 14px 36px;
			height: 16px;
		}	

			#new-stable a img { display: inline; margin-bottom: -2px; margin-right: 8px; }

			#new-stable a:hover {
				-webkit-box-shadow: inset 0 2px 10px #101010;
				-moz-box-shadow: inset 0 2px 10px #101010;
				box-shadow: inset 0 2px 10px #101010;
			}

	

/* ------------------------ */
/* ---		CONTENT		---	*/
/* ------------------------ */
#content { margin-top: 20px; }
	
	/* ----- ALL STABLES ----- */
	#stables {
		position: relative;
		min-height: 127px;
	}
	
	#stables header label { color: #7a7a7a; }
		
	#stables header .search-box {
		display: inline;
		position: relative;
		margin-right: 16px;
	}
	
		#stables header #search { outline: 0; }
		
		#stables header #results {
			border-left: 1px solid #d3d3d3;
			border-right: 1px solid #d3d3d3;
			position: absolute;
			right: 4px;
			width: 168px;
		}
		
			#stables header #results a {
				background-color: rgb(255,255,255);
				background-color: rgba(255,255,255,0.9);
				border-bottom: 1px solid #d3d3d3;
				display: block;
				padding: 4px;
				width: 160px;
			}
			
			#stables header #results a:hover {
				background-color: rgb(225,225,225);
				background-color: rgba(225,225,225,0.9);
			}
	
	#stables .stable {
		border-bottom: 1px solid #e9e9e9;
		clear: both;
		padding: 26px 0;
	}
	
		#stables .stable .stable-image,
		#stables .stable .stable-info {
			display: inline-block;
			*display: inline;
			zoom: 1;
		}
	
		#stables .stable .stable-image {
			margin-right: 20px;
			width: 194px;
		}

			#stables .stable .stable-image img { height: 140px; width: 194px; } /* @todo: to be removed (???) */ 
		
		#stables .stable .stable-info {
			vertical-align: top;
			width: 394px;
		}

			#stables .stable .stable-info h1 { margin-bottom: 6px; }

				#stables .stable .stable-info h1 a { color: #3b6700; }
				
			#stables .stable .stable-info .address { margin: 0; }
			
			#stables .stable .stable-info .map a { margin-left: 14px; }
			
			#stables .stable .stable-info .types {
				font-size: 10px;
				margin: 6px 0;
			}

				#stables .stable .stable-info .types a {
					-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
					color: #fff;
					letter-spacing: 1px;
					margin-right: 6px;
					padding: 3px 5px;
				}
			
			#stables .stable .stable-info .description {
				color: #7a7a7a !important;
				font-size: 12px !important;
				text-align: justify;
			}
	
	#ads footer,		
	#stables footer {
		margin-top: 18px;
		position: relative;
		text-align: center;
	}
		
		#ads footer .next a,
		#ads footer .prev a,
		#stables footer .next a,
		#stables footer .prev a {
			color: #ff9c00;
			font-weight: bold;
			position: absolute;
			bottom: 0;
			margin: 1px 0;
		}

			#ads footer .prev a,
			#stables footer .prev a {
				background: url(/images/btn_previous.png) no-repeat left center;
				left: 0;
				padding-left: 30px;
			} 
				#ads footer .prev a:hover,
				#stables footer .prev a:hover { background-image: url(/images/btn_previous_hover.png); }
	
			#ads footer .next a,
			#stables footer .next a {
				background: url(/images/btn_next.png) no-repeat right center;
				right: 0;
				padding-right: 30px;
			}
				#ads footer .next a:hover,
				#stables footer .next a:hover { background-image: url(/images/btn_next_hover.png); }
		
		#ads footer .thumbs a,		
		#stables footer .thumbs a {
			background-color: #b5b5b5;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			color: #fff;
			display: inline-block;
			line-height: 19px;
			margin-right: 8px;
			width: 19px; height: 19px;
		}
			#ads footer .thumbs a.active,
			#ads footer .thumbs a:hover,
			#stables footer .thumbs a.active,
			#stables footer .thumbs a:hover { background-color: #ff9c00; }

	
	
	/* ----- SINGLE STABLE ----- */		
	#stable { margin-bottom: 40px; }

		#stable #stable-images { margin-right: 30px; }
	
		#stable #stable-info h1 {
			color: #3b6700;
			font-size: 30px; font-weight: bold;
			line-height: 30px;
			margin-bottom: 10px;
		}

		#stable #stable-info .homepage { margin-bottom: 9px; }

		#stable #stable-info .address,
		#stable #stable-info .map { margin-bottom: 18px; }

		#stable #stable-info .map a,
		#stables .stable .stable-info .map a {
			background: url(/images/icn_map.png) no-repeat left 1px;
			height: 13px;
			padding-left: 15px;
		}
		
		#stable #stable-info .homepage a,
		#stable #stable-info .map a,
		#stables .stable .stable-info .map a { 
			color: #ff9c00; 
			font-weight: bold;
		}
		
			#stable #stable-info .homepage a:hover,
			#stable #stable-info .map a:hover,
			#stables .stable .stable-info .map a:hover { 
/* 				border-bottom: 1px solid #ff9c00; */
				text-decoration: underline;
			}

		#stable #stable-info .contacts,
		#page-contacts .contacts {
			border-top: 1px solid #e9e9e9; border-bottom: 1px solid #e9e9e9;
			font-size: 15px;
			padding: 12px 0;
		}
		
			#stable #stable-info .contacts { 
				font-weight: bold;
				margin-bottom: 27px;
			}

		#stable #stable-info .description-title {
			font-size: 15px; font-weight: bold;
			margin-bottom: 9px;
		}
		
		#stable #stable-info .description { text-align: justify; }
		
	#stable-attribs { padding-top: 0; }
	
		#stable-attribs header {
			background-color: #f0f0f0;
			border-bottom: 8px solid #8bc53d;
			margin-left: -15px;
			padding-right: 30px;
			width: 100%;
		}
	
		#stable-attribs ul.tabs li { display: inline-block; }
		
			#stable-attribs ul.tabs li a {
				background-color: #d8d8d8;
				border-top: 1px solid #b4b4b4; border-left: 1px solid #b4b4b4;
				-webkit-border-top-left-radius: 8px; -webkit-border-top-right-radius: 8px;
				-moz-border-radius-topleft: 8px; -moz-border-radius-topright: 8px;
				border-top-left-radius: 8px; border-top-right-radius: 8px;
				display: block;
				font-weight: bold;
				padding: 12px 16px 13px;
				height: 15px;
			}
			
				#stable-attribs ul.tabs li.active a,
				#stable-attribs ul.tabs li:hover a {
					background: -webkit-gradient(linear, left top, left bottom, from(#b4db6c), to(#8bc53d)); 
					background: -webkit-linear-gradient(top, #b4db6c, #8bc53d);
					background: -moz-linear-gradient(top, #b4db6c, #8bc53d); 
					background: -ms-linear-gradient(top, #b4db6c, #8bc53d); 
					background: -o-linear-gradient(top, #b4db6c, #8bc53d);
					background: linear-gradient(top, #b4db6c, #8bc53d);
					border-top-color: #b4db6c;
					border-left: none;
					padding-left: 17px;
				}
		
		#stable-attribs .tab_content {
			margin-left: -15px;
			padding-top: 15px;
		}
			#stable-attribs .tab_content p {
				padding-left: 15px;
				text-align: justify;
			}
		
			#stable-attribs .tab_content table { width: 100%; }
			
				#stable-attribs .tab_content table tbody tr { 
					border-bottom: 1px solid #e6e7e6; 
					display: block;
					padding-left: 15px; 
					width: 100%; 
				}
				
					#stable-attribs .tab_content table tbody tr:last-child { margin-bottom: 15px; }
				
					#stable-attribs .tab_content table tbody td {
						padding: 4px 0;
						vertical-align: middle;
					}
					
						#stable-attribs .tab_content table tbody td:nth-child(odd) {
							padding-right: 20px;
							width: 230px;
						}
						
						#stable-attribs .tab_content table tbody td.currency { font-weight: bold; }
											
						
	/* ----- MAIL MODAL ----- */
	.modal-contents { display: none; }
	
		#mail-content h1 {
			background: url(/images/icn_speech_dark.png) no-repeat left top;
			padding-left: 22px;
		}

		#mail-content #mail-loader,
		#mail-content #mail-success,
		#mail-content #mail-error {
			display: none;
			font-size: 18px;
			position: absolute; top: 50%;
			text-align: center;
			width: 100%;
		}
		#mail-content #mail-loader { margin-top: -16px; }
			#mail-content #mail-loader img { margin: 0 auto; }
		#mail-content #mail-success { margin-top: -9px; }
		#mail-content #mail-error { margin-top: -18px; }

		#mail-content table#mail-details { margin-top: 30px; }

			#mail-content table tr {
				display: block;
				float: right;
				margin-bottom: 10px;
			}

				#mail-content table tr:last-child { margin-bottom: 0; }

				#mail-content table tr input[type=text],
				#mail-content table tr input[type=email],
				#mail-content table tr textarea {
					border: 1px inset #d7d7d7;
					-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
					margin-left: 12px;
					padding: 0 2px;
					width: 306px;
				}

					#mail-content table tr input[type=text],
					#mail-content table tr input[type=email] { height: 24px; }

					#mail-content table tr textarea { resize: none; height: 130px; }

				#mail-content table tr:last-child td:last-child { width: 310px; }

				#mail-content table tr:nth-child(4) td:first-child {
					vertical-align: top;
				}

				#mail-content table tr span.required { color: #e72329; }

				#mail-content table tr span.required-warning {
					float: left;
					font-size: 11px;
					padding: 6px 0;
				}

				#mail-content table tr input[type=submit] {
					background-color: #ff8c19;
					background: -webkit-gradient(linear, left top, left bottom, from(#ffa122), to(#ff7912)); 
					background: -webkit-linear-gradient(top, #ffa122, #ff7912);
					background: -moz-linear-gradient(top, #ffa122, #ff7912); 
					background: -ms-linear-gradient(top, #ffa122, #ff7912); 
					background: -o-linear-gradient(top, #ffa122, #ff7912);
					background: linear-gradient(top, #ffa122, #ff7912);
					border: 1px solid #ae6110;
					-webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;
					color: #904609;
					display: inline-block;
					float: right;
					font-size: 14px; font-weight: bold;
					padding: 6px 16px;
				}

					#mail-content table tr input[type=submit]:hover {
						-webkit-box-shadow: inset 0px 2px 10px #ae6110;
						-moz-box-shadow: inset 0px 2px 10px #ae6110;
						box-shadow: inset 0px 2px 10px #ae6110;
					}
	
	
	/* ----- PAGES (Contacts, About 1, About 2) ----- */
	#page-contacts { margin-bottom: 70px; }
		
		#page-contacts h1 { 
			background: url(/images/icn_speech_dark.png) no-repeat left top;
			padding-left: 22px;
		}
		
		#page-contacts .redactor_editor { width: 84%; }
	
	#page-about-2 {
		position: relative;
		margin-bottom: 130px;
	}
		#page-about-2>img {
			position: absolute; bottom: -145px; right: -30px;
		}
	
	
	/* ----- FRONT PAGE ----- */
	/* MAP */
	#front-map { margin-bottom: 40px; }
	
		#front-map #google-map-wrapper { 
			background-color: #88c53d;
			padding: 10px 15px 10px 10px;
			width: 613px;
			-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
		}
	
			#front-map #google-map-wrapper #google-map { height: 382px; }
	
		#front-map #map-controls {
			background-color: #88c53d;
			margin-top: 20px;
			padding: 20px 0 20px;
			width: 300px;
			-webkit-border-top-right-radius: 10px; -moz-border-top-right-radius: 10px; border-top-right-radius: 10x
			-webkit-border-bottom-right-radius: 10px; -moz-border-bottom-right-radius: 10px; border-bottom-right-radius: 10px;
			-webkit-box-shadow: inset 2px 0 10px 0 #7eb237;
			position: relative;
		}

			#front-map #map-controls h1,
			#front-map #map-controls>p,
			#front-map #map-controls ul { padding: 0 15px 0 30px; }

			#front-map #map-controls h1 {
				color: #fff;
				font-size: 32px;
				font-weight: bold;
				letter-spacing: 2px;
				line-height: 40px;				
			}
		
			#front-map #map-controls>p { color: #fff; margin: 1em 0 1.4em; }
		
			#front-map #map-controls ul {
				border-top: 1px solid #77b12a;
				font-weight: bold;
				list-style: none;
				margin: 0;
				padding-top: 9px;
			}
				#front-map #map-controls li a {
					color: #fff;
					display: table;
					position: relative;
					z-index: 1000;
				}
					#front-map #map-controls li a.active,
				 	#front-map #map-controls li a:hover { color: #2e4213; }
				
					#front-map #map-controls li div { display: table-cell; vertical-align: middle; }
				
			#front-map #map-controls>img {
				position: absolute; bottom: -112px; right: 0;
			}
	
	/* STABLES & SIDEBAR (ADVERTS, ABOUT) */
	#front-stables footer { 
		border-top: 1px solid #e6e7e6;
		padding-top: 12px;
		position: relative;
		text-align: center;
		height: 24px;
	}
		#front-stables header a,
		#front-stables footer a.show-all,
		#side-adverts header a {
			background-image: url('/images/icn_goto.png'); 
			background-repeat: no-repeat; background-position: 92% center;
			-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
			color: #fff;
			display: block;
			font-size: 10px;
			padding: 2px 18px 2px 8px;
			text-transform: uppercase;
		}
		#page-about-1 footer a {
			-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
			color: #fff;
			display: block;
			font-size: 13px;
			padding: 2px 8px;
			width: auto;
		}
		#front-stables header a,
		#front-stables footer a.show-all { background-color: #ff9c00; }
		#side-adverts header a,
		#page-about-1 footer a { background-color: #6baa17; }
		#front-stables footer a.show-all { position: absolute; right: 0; bottom: 0; margin: 1px 0; }
			#front-stables header a:hover ,
			#front-stables footer a.show-all:hover {
				-webkit-box-shadow: inset 1px 1px 6px #ae6110;
				-moz-box-shadow: inset 1px 1px 6px #ae6110;
				box-shadow: inset 1px 1px 6px #ae6110;
			}
			#side-adverts header a:hover,
			#page-about-1 footer a:hover {
				-webkit-box-shadow: inset 1px 1px 6px #457801;
				-moz-box-shadow: inset 1px 1px 6px #457801;
				box-shadow: inset 1px 1px 6px #457801;
			}
		
		#front-stables .slider-nav .slider-bullets,
		#front-stables .slider-nav .slider-prev,
		#front-stables .slider-nav .slider-next { display: inline-block; }
			
			#front-stables .slider-nav .slider-bullets a {
				background: url(/images/btn_counter.png) no-repeat;
				display: inline-block;
				margin: 7px 5px;
				width: 9px; height: 9px;
			}
				#front-stables .slider-nav .slider-bullets a:hover,
				#front-stables .slider-nav .slider-bullets a.active { background: url(/images/btn_counter_hover.png) no-repeat; }
				
			#front-stables .slider-nav .slider-prev,
			#front-stables .slider-nav .slider-next { width: 24px; height: 24px; }
				
				#front-stables .slider-nav .slider-prev { background: url(/images/btn_previous.png) no-repeat; } 
				#front-stables .slider-nav .slider-prev:hover { background: url(/images/btn_previous_hover.png) no-repeat; }
	
				#front-stables .slider-nav .slider-next { background: url(/images/btn_next.png) no-repeat; }
				#front-stables .slider-nav .slider-next:hover { background: url(/images/btn_next_hover.png) no-repeat; }
				
	#front-stables .stable-slider-container { 
		overflow: hidden;
		position: relative;
		width: 621px;
		margin-left: -13px;
	}
		#front-stables .stable-slider {
			width: 100%;
			position: absolute;
			left: 0;
		}
		#front-stables .stable-block { margin-left: 13px; }
			#front-stables .stable { padding: 14px 0 22px; }
				#front-stables .stable .stable-info {
					width: 194px;
					height: 54px;
				}
				#front-stables .stable .stable-image { width: 194px; }
					#front-stables .stable .stable-image img { height: 140px; width: 194px; } /* @todo: to be removed (???) */ 
					#front-stables .stable .stable-info p { margin: 0; }
					#front-stables .stable .stable-info h1 { margin-top: 18px; font-size: 15px; }
						#front-stables .stable .stable-info h1 a { color: #3b6700; }
	
	#banner-large {
		clear: both;
		padding-top: 34px;
		width: 100%; 
	}
	
	#banner-small { margin: 16px 0; }
		#banner-small img { width: 270px; height: auto; }
	
	#side-adverts header { margin-bottom: 14px; }
	
	#side-adverts article {
		height: 76px;
		margin: 10px 0;
		overflow: hidden;
	}
	#side-adverts article:last-child { margin-bottom: 0; }
		
		#side-adverts .image,
		#side-adverts .info {
			display: inline-block;
			*display: block;
			zoom: 1;
		}
		
			#side-adverts .image {
				margin-right: 10px;
				width: 100px;
			}
			
			#side-adverts .info {
				vertical-align: top;
				width: 130px;
				word-wrap: break-word;
			}
			
				#side-adverts .info h2 {
					font-size: 13px;
					font-weight: bold;
					margin: 4px 0 0;
				}
					
					#side-adverts .info h2 a { color: #3b6700; }
				
				#side-adverts .info p {
					font-size: 10px;
					margin: 0;
					text-transform: uppercase;
				}
	
	/* ----- ADD ADVERTS & STABLES ----- */
	#new-advert .new-advert-text { margin: 14px 0; }
	
	#new-advert .new-advert-button {
		background-color: #ff8c19;
		background: url(/images/icn_add.png) no-repeat 14px center, -webkit-gradient(linear, left top, left bottom, from(#ffa122), to(#ff7912)); 
		background: url(/images/icn_add.png) no-repeat 14px center, -webkit-linear-gradient(top, #ffa122, #ff7912);
		background: url(/images/icn_add.png) no-repeat 14px center, -moz-linear-gradient(top, #ffa122, #ff7912); 
		background: url(/images/icn_add.png) no-repeat 14px center, -ms-linear-gradient(top, #ffa122, #ff7912); 
		background: url(/images/icn_add.png) no-repeat 14px center, -o-linear-gradient(top, #ffa122, #ff7912);
		background: url(/images/icn_add.png) no-repeat 14px center, linear-gradient(top, #ffa122, #ff7912);
		border: 1px solid #ae6110;
		-webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;
		color: #904609;
		display: inline-block;
		font-size: 16px; font-weight: bold;
		padding: 10px 0;
		text-align: center;
		width: 100%;
	}
		#new-advert .new-advert-button:hover {
			-webkit-box-shadow: inset 2px 2px 10px #ae6110;
			-moz-box-shadow: inset 2px 2px 10px #ae6110;
			box-shadow: inset 2px 2px 10px #ae6110;
		}
	
	#add-stable { position: relative; }
		
		#add-advert h1,
		#add-stable h1 {
			background-repeat: no-repeat;
			background-position: left center;
			padding-left: 30px;
			line-height: 22px;
		}
		
			#add-advert h1 { background-image: url(/images/icn_add_black.png); }
			#add-stable h1 { background-image: url(/images/icn_pencil.png); }
	
		#add-advert table,
		#add-stable table {
			margin-top: 30px;
			width: 100%;
		}
	
			#add-advert table tr,
			#add-stable table tr {
				display: block;
				margin-bottom: 10px;
			}
	
			#add-advert table tr:last-child {
				border-top: 1px solid #e9e9e9;
				margin: 20px 0 0;
				padding-top: 20px;
			}
				
				#add-stable table input[type=text],
				#add-stable table input[type=email],
				#add-advert table input[type=text],
				#add-advert table input[type=email],
				#add-advert table input[type=number] {
					border: 1px inset #d7d7d7;
					-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
					margin-left: 10px;
					outline: 0;
				}
	
					#add-stable table input[type=text],
					#add-stable table input[type=email],
					#add-advert table input[type=text],
					#add-advert table input[type=email],
					#add-advert table input[type=number] {
						height: 28px;
						padding: 0 0 0 6px;
					}
					
						#add-advert table input.narrow { width: 108px; }
	
				#add-advert table textarea {
					border: 1px inset #d7d7d7;
					-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
					margin-left: 12px;
					outline: 0;
					padding: 6px;
					resize: none;
					height: 130px;
					width: 432px;
				}
				
				#add-stable table td:first-child,	
				#add-advert table td:first-child {
					text-align: right;
					width: 150px;
				}
				
				#add-stable table td:last-child,
				#add-advert table td:last-child { width: 458px; }
				
				#add-stable table span.required,
				#add-advert table span.required { color: #e72329; }
				
				#add-stable table span.required-warning,
				#add-advert table span.required-warning {
					float: right;
					font-size: 11px;
					padding: 6px;
				}
				
				#add-stable table input[type=submit],
				#add-advert table input[type=submit] {
					background-color: #ff8c19;
					background: -webkit-gradient(linear, left top, left bottom, from(#ffa122), to(#ff7912)); 
					background: -webkit-linear-gradient(top, #ffa122, #ff7912);
					background: -moz-linear-gradient(top, #ffa122, #ff7912); 
					background: -ms-linear-gradient(top, #ffa122, #ff7912); 
					background: -o-linear-gradient(top, #ffa122, #ff7912);
					background: linear-gradient(top, #ffa122, #ff7912);
					border: 1px solid #ae6110;
					-webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;
					color: #904609;
					display: inline-block;
					float: left;
					font-size: 14px; font-weight: bold;
					margin-left: 10px;
					padding: 6px 16px;
					outline: 0;
				}
					
					#add-stable table input[type=submit]:hover,
					#add-advert table input[type=submit]:hover {
						-webkit-box-shadow: inset 0px 2px 10px #ae6110;
						-moz-box-shadow: inset 0px 2px 10px #ae6110;
						box-shadow: inset 0px 2px 10px #ae6110;
					}
					
				/* Custom dropdown */
				#add-advert .bfh-selectbox {
					font-size: 15px;
					margin-left: 10px;
					line-height: 28px;
					vertical-align: top;
				}
				
					#add-advert .bfh-selectbox .bfh-selectbox-toggle {
						-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
						padding: 0 6px;
						height: 28px;
						width: 220px;
					}
					
					#add-advert .bfh-selectbox .bfh-selectbox-toggle.narrow { width: 90px; }
					
						#add-advert .bfh-selectbox .bfh-selectbox-toggle .caret {
							display: inline-block;
							width: 0; height: 24px;
							vertical-align: top;
							margin-top: 12px;
							border-top: 4px solid #000000;
							border-right: 4px solid transparent;
							border-left: 4px solid transparent;
							content: "";
						}
					
						#add-advert .bfh-selectbox .bfh-selectbox-toggle .bfh-selectbox-option { height: 28px; }
		
		#add-stable-success-msg {
			text-align: center;
		}
		
			#add-stable-success-msg img {
				display: inline;
				margin-top: 24px;
			}
			
			#add-stable-success-msg h1 {
				font-size: 24px;
				margin: 16px 0;
				line-height: 36px;
			}
			
			#add-stable-success-msg p {
				border-bottom: 1px solid #e9e9e9;
				padding-bottom: 24px;
				margin: 0;
			}
		
			#add-stable-success-msg a {
				color: #65aa17;
				display: block;
				padding: 8px 0 0;
			}
			
				#add-stable-success-msg a:hover { text-decoration: underline; }
							
	#advert-images h1 {
		background: url(/images/icn_camera.png) no-repeat left center;
		padding-left: 26px;
		line-height: 22px;
	}
	
	#advert-images .upload {
		background-color: #ccc;
		padding: 8px;
	}
	
		#advert-images .upload .preview img {
			max-width: 100%;
			margin-bottom: 1em;
		}
		
		#advert-images .upload .btn-file {
			-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
			background-color: #eee;
			border: 1px solid #999;
			overflow: hidden;
			padding: 1px 3px;
			position: relative;
		}
		
			#advert-images .upload .btn-file:hover {
				-webkit-box-shadow: inset 0 0 4px #999;
				-moz-box-shadow: inset 0 0 4px #999;
				box-shadow: inset 0 0 4px #999;
			}
			
			#advert-images .upload .btn-file > input{
				cursor:pointer;
				filter:alpha(opacity=0);
				font-size:23px;
				margin:0;
				opacity:0;
				position:absolute;
				top:0;right:0;				
				transform:translate(-300px, 0) scale(4);
								
			}
		
		#advert-images .upload .cancel {
			background: url(/images/icn_cancel_file.png) no-repeat center center;
			display: block;
			width: 21px; height: 21px;
		}
		
			#advert-images .buttons a.btn img { display: inline; }
	
				
	/* ----- MULTIPLE ADVERTS ----- */	
	#ads header { margin-bottom: 20px; }
	
		#ads header a {
			color: #ff9c00;
			font-weight: bold;
		}
	
			#ads header a:hover { color: #7a7a7a; }
	
			#ads header a.active {
				color: #7a7a7a;
				font-weight: normal;
			}
		
		#ads header > div { text-align: right; }
	
	#ads table { width: 100%; }
	
		#ads table tr {
			display: block;
			margin-bottom: 24px;
		}

		#ads table tbody tr:last-child { margin-bottom: 0; }
		
		#ads table tbody tr.empty td {
			display: block;
			line-height: 30px;
			text-align: center;
			width: 100%;
		}
		
		#ads table thead tr {
			background-color: #d8d8d8;
			margin-bottom: 18px;
			padding: 8px 0;
		}
	
			#ads table th.section {
				text-align: left;
				padding-left: 16px;
				width: 394px;
			}
			#ads table th.age { width: 82px; }
			#ads table th.price { width: 116px; }
			
				#ads table th a { padding: 0 2px; }
					
					#ads table th a.active { font-weight: normal; }
						#ads table th a.active:hover { border-bottom: none; }
					
					#ads table th a:hover { border-bottom: 1px solid #464545; }
					
					#ads table th span.asc {
						display: inline-block;
						width: 0; 
						height: 0; 
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-bottom: 5px solid #000;
					}
					
					#ads table th span.desc {
						display: inline-block;
						width: 0; 
						height: 0; 
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-top: 5px solid #000;
					}
		
			#ads table td,
			#ads table th { padding: 0; }
		
			#ads table td.details {
				border-right: 1px dashed #d2d2d2;
				padding-right: 2px;
			}
		
			#ads table td.age {
				color: #7a7a7a;
				padding: 0 2px;
				text-align: center;
				width: 77px;
			}
			
			#ads table td.price {
				border-left: 1px dashed #d2d2d2;
				color: #ff9c00;
				font-size: 15px;
				padding-left: 2px;
				text-align: center;
				width: 113px;
			}
			
				#ads .advert a { display: block; }
				
				#ads td .empty {
					color: #b5b5b5;
					font-size: 15px;
					font-weight: bold;
				}
				
				#ads .image,
				#ads .info {
					display: inline-block;
					*display: inline;
					zoom: 1;
				}
				
				#ads .image {
					width: 100px;
					margin-right: 16px;
				}
								
				#ads .info {
					vertical-align: top;
					width: 292px;
				}
				
					#ads .info .section {
						font-size: 10px;
						text-transform: uppercase;
						margin-bottom: 2px;
					}
					
					#ads .info .name {
						font-weight: bold;
						margin-bottom: 2px;
						word-wrap: break-word;
					}
					
						#ads .info .name a { color: #3b6700; }
					
					#ads .info .address {
						color: #7a7a7a;
						font-size: 11px;
					}
					
	/* ----- SINGLE ADVERT ----- */
	#ad header {
		padding: 16px 15px;
	}
	
		#ad header a { font-weight: bold; }
		
			#ad header a:hover { text-decoration: underline; }
		
		#ad header a.back {
			background: url(/images/icn_back_double.png) no-repeat left center;
			float: left;
			padding-left: 16px;
		}
		
		#ad header a.add {
			background: url(/images/icn_add_black_small.png) no-repeat left center;
			float: right;
			padding-left: 22px;
		}
				
	#ad .images,
	#ad .info {
		display: inline-block;
		*display: inline;
		zoom: 1;
	}
	
	#ad .info {
		margin-right: 20px;
		text-align: justify;
		width: 560px;
	}
	
	#ad .images {
		width: 330px;
		vertical-align: top;
	}
	
		#ad .description {
			min-height: 230px;
/* 			padding: 15px 0; */
			padding: 0 0 15px 0;
/* 			overflow-y: scroll; */
		}
		
		#ad .details {
			border-top: 1px solid #e9e9e9;
			border-bottom: 1px solid #e9e9e9;
			padding: 16px 0 17px;
			margin-bottom: 18px;
		}
		
			#ad .details p {
				display: inline-block;
				*display: block;
				zoom: 1;
				margin: 0;
			}
			
			#ad .details .price { width: 160px; }
			#ad .details .phone { width: 210px; }
			
				#ad .details .price span {
					color: #ff9c00;
					font-size: 18px;
				}
		
			#ad .details .phone {
				font-size: 15px;
				font-weight: bold;
			}
	
	
	
	/* ----- MAP ----- */
	#map {
		background-color: #88c53d;
		margin-bottom: 40px;
		-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
	}
	
		#map header h1 {
			color: #fff;
			font-weight: normal;
			padding: 11px 0;
		}
		
		#map #map-controls {
			background-color: #6f9e31;
			background-color: rgba(0, 0, 0, 0.2);
			border-top: 1px solid; border-left: 1px solid; border-color: #5c8329;
			-webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;
			display: table;
			height: 40px;
			padding: 0 15px;
		}
		
			#map #map-controls ul {
				display: table-cell;
				list-style: none;
				vertical-align: middle;
			}
			
				#map #map-controls li {
					color: #fff;
					float: left;
					margin-left: 12px;
				}
				#map #map-controls li.first { margin-left: 0; }
			
					#map #map-controls li a {
						color: #fff;
						display: table;
						font-weight: bold;
					}
			
						#map #map-controls li a.active,
						#map #map-controls li a:hover { color: #2e4213; }
			
						#map #map-controls li a div {
							display: table-cell;
							vertical-align: middle;
						}
		
		#map #google-map { height: 485px; margin-top: 12px; }
		
			.marker-info .marker-texts {
				margin-right: 15px;
				width: 190px;
			}
		
				.marker-info .marker-texts h1 {
					color: #3b6700;
					font-size: 15px;
					margin-top: 0;
				}
				
				.marker-info .marker-texts .link a { color: #ff9c00; }
					.marker-info .link a:hover { text-decoration: underline; }
					
			.marker-info .marker-image { margin-top: 20px; }
				.marker-info .marker-image img { max-width: 100px; }



/* ------------------------ */
/* ---	  	 MAIL		---	*/
/* ------------------------ */
a.mail  {
	background-color: #ff8c19;
	background: url(/images/icn_speech.png) no-repeat 14px center, -webkit-gradient(linear, left top, left bottom, from(#ffa122), to(#ff7912)); 
	background: url(/images/icn_speech.png) no-repeat 14px center, -webkit-linear-gradient(top, #ffa122, #ff7912);
	background: url(/images/icn_speech.png) no-repeat 14px center, -moz-linear-gradient(top, #ffa122, #ff7912); 
	background: url(/images/icn_speech.png) no-repeat 14px center, -ms-linear-gradient(top, #ffa122, #ff7912); 
	background: url(/images/icn_speech.png) no-repeat 14px center, -o-linear-gradient(top, #ffa122, #ff7912);
	background: url(/images/icn_speech.png) no-repeat 14px center, linear-gradient(top, #ffa122, #ff7912);
	border: 1px solid #ae6110;
	-webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;
	color: #904609;
	display: inline-block;
	font-size: 16px; font-weight: bold;
	margin-right: 12px;
	padding: 10px 20px 10px 38px;
}

#ad a.mail { margin-right: 0; }

	a.mail:hover { 
		-webkit-box-shadow: inset 2px 2px 10px #ae6110;
		-moz-box-shadow: inset 2px 2px 10px #ae6110;
		box-shadow: inset 2px 2px 10px #ae6110;
	}



/* ------------------------ */
/* ---	  	 TSG		---	*/
/* ------------------------ */
.tsg-image-wrapper {
	position: relative;
	width: 100%;
}

#stable .tsg-image-wrapper {
	min-height: 330px;
	margin-bottom: 13px;
}
#ad .tsg-image-wrapper {
	min-height: 245px;
	margin-bottom: 15px;
}

	.tsg-image-wrapper .tsg-loader {
		display: none;
		margin-left: -12px; margin-top: -12px;
		position: absolute; top: 50%; left: 50%;
	}
	
	.tsg-image-wrapper .tsg-image {
		position: relative;
	}

.tsg-thumbs-wrapper {
	margin-bottom: 13px;
	overflow-x: hidden; overflow-y: hidden;
	position: relative;
	height: 75px; width: 100%;
}

	.tsg-thumbs-wrapper .tsg-thumb-strip {
		display: none;
		position: absolute; left: 0;
	}

		.tsg-thumbs-wrapper .tsg-thumb-strip .tsg-thumb {
			float: left;
			height: 100%;
		}

			.tsg-thumbs-wrapper .tsg-thumb-strip .tsg-thumb img { height: 100%; }

	.tsg-navigation { text-align: center; }

		#stable-images .tsg-navigation a.tsg-previous,
		#stable-images .tsg-navigation a.tsg-next {
			display: inline-block;
			height: 24px; width: 24px;
		}
			.tsg-navigation a.tsg-previous { background: url(/images/btn_previous.png) no-repeat; } 
			.tsg-navigation a.tsg-previous:hover { background: url(/images/btn_previous_hover.png) no-repeat; }

			.tsg-navigation a.tsg-next { background: url(/images/btn_next.png) no-repeat; }
			.tsg-navigation a.tsg-next:hover { background: url(/images/btn_next_hover.png) no-repeat; }

			.tsg-navigation a.tsg-previous span,
			.tsg-navigation a.tsg-next span { display: none; }

		.tsg-navigation .tsg-slide-counter { display: inline-block; }

			.tsg-navigation .tsg-slide-counter a.tsg-slide-counter-item {
				background: url(/images/btn_counter.png) no-repeat;
				display: inline-block;
				margin: 7px 5px 7px;
				height: 9px; width: 9px;
			}

				.tsg-navigation .tsg-slide-counter a.tsg-slide-counter-item:hover,
				.tsg-navigation .tsg-slide-counter a.tsg-slide-counter-item.active { background: url(/images/btn_counter_hover.png) no-repeat; }

.page-error {
	padding: 100px;
	text-align: center;
}


/* ------------------------ */
/* ---	   LOCATIONS	---	*/
/* ------------------------ */
#locations h1 {
	border-bottom: 3px solid #88c53d;
	padding: 16px 0;
}

#locations ul {
	border-top: 1px solid #e6e7e6;
	float: left;
	list-style: none;
	margin: 20px 20px 0 0;
}

	#locations ul:last-child { margin-right: 0; }

	#locations li {
		border-bottom: 1px solid #e6e7e6;
		font-size: 12px;
		padding: 6px;
		width: 160px;
	}
		#locations li.last-in-row {  }
		
		#locations a:hover { border-bottom: 1px solid #464545; }
		
		#locations a span {
			color: #88c53d;
			font-weight: bold;
		}



/* ------------------------ */
/* ---		FOOTER		---	*/
/* ------------------------ */
#footer-menu {
	border-bottom: 1px solid #767676;
	font-size: 14px; font-weight: bold;
	height: 54px; width: 100%;
}

	#footer-menu ul { list-style: none; }

		#footer-menu li { float: left; }

			#footer-menu li a {
				color: #fff;
				display: block;
				margin-right: 36px;
				padding: 19px 0;
				height: 16px;
			}

				#footer-menu li a:hover,
				#footer-menu li.active a { border-bottom: 1px solid #fff; }

#footer-info {
	color: #8c8c8c;
	font-size: 12px;
	float: left;
	line-height: 24px;
	padding: 13px 0 19px;
}

	#footer-info #legal span { margin-right: 16px; }

#footer-branding {
	float: right;
	/*margin-right: 50px;*/
	padding: 27px 0;
}