<form action="" method="post">
	<article class="module width_3_quarter">
		<header>
			<h3>
				{if $feedback.pfbk_id == ''}
					Jauna Atsauksme
				{else}
					Atsauksme
				{/if}
			</h3>
		</header>
		
		<div class="module_content">			
			<fieldset>
				<label>Atsauksme</label>
				<textarea class="redactor_content" name="lfbk_text" style="height:400px;">{$feedback_lang.lfbk_text}</textarea>
			</fieldset>
			
			<div class="clear"></div>
		</div>
	</article>

	<article class="module width_quarter">
		<header><h3></h3></header>
		<div class="module_content">
			<input type="hidden" id="lfbk_clsl_code" name="lfbk_clsl_code" value="{$lang}" />
			<input type="hidden" name="switch_lang" id="switch_lang" />
			
			<fieldset>
				<label>Status</label>
				<input type="radio" id="hidden" class="state_toggle" name="feedback_state" value="0" {if $feedback.pfbk_is_active == 0}checked="checked"{/if} />
				<label for="hidden" class="checkbox">Slēpts</label><br/>
				<input type="radio" id="published" class="state_toggle" name="feedback_state" value="1" {if $feedback.pfbk_is_active == 1}checked="checked"{/if} />
				<label for="published" class="checkbox">Publisks</label>
			</fieldset>

			<fieldset>
				<label>Language</label>
				<select name="lang" onChange="document.getElementById('switch_lang').value = this.value;submit();" {if !$id}disabled{/if}>
					{foreach $lang_list as $i}
						<option value="{$i.clsl_code}" {if $lang == $i.clsl_code}selected{/if}>{$i.clsl_name}</option>	
					{/foreach}
				</select>
			</fieldset>						
		</div>
		
		<footer>
			<div class="submit_link">
				<input type="submit" value="Save" class="alt_btn" name="save" id="save" />
				<input type="submit" value="Cancel" name="cancel" formnovalidate />
			</div>
		</footer>			
	</article>
</form>

<form id="ajaxUpload" enctype="multipart/form-data" method="post" action="/admin/ajax/upload">
	<article class="module width_3_quarter">
		<header><h3>Bildes</h3></header>
		
		<div class="module_content ajax_upload">
			<input type="hidden" id="referenceID" value="{$feedback.pfbk_id}" />
			<input type="hidden" id="referenceType" value="feedback" />
			<input id="filesToUpload" style="" type="file" name="filesToUpload[]" multiple onchange="makeUploadFilesList();" />
			<input type="button" id="addFilesButton" value="Meklēt bildes" />
			<input type="submit" value="Ielādēt">
			
			<div class="progress">
		        <div class="bar"></div>
		        <div class="percent">0%</div>
		    </div>
		    
		    <ul id="fileList"></ul>
		    
		    <ul id="imageList">
		    	{foreach $image_list as $img}
		    	<li class="image" id="img-{$img.pimg_id}">
		    		<img src="/uploads/{$img.pimg_type}images/{$id}/st_{$img.pimg_name}" alt="{$img.pimg_name}" />
		    		<a href="#" onclick="deleteImage('{$img.pimg_name}', {$img.pimg_id}); return false;">Dzēst</a>
		    	</li>
		    	{/foreach}
		    </ul>
	    </div>
	</article>
</form>

<div class="clear"></div>

<script type="text/javascript" src="/js/admin_{$_controller}.js"></script>
