		<article class="module width_full">
		<header>
			<h3 class="tabs_involved">Atsauksmes</h3>
		</header>

		<div class="tab_container">
			<div class="tab_content no_margin">

			<table class="tablesorter border_radius_bottom" cellspacing="0">

				<thead> 
					<tr> 
	    				<th></th>
	    				<th>Atskaume</th>
	    				<th>Publiska</th>
	    				<th></th>
					</tr> 
				</thead> 
				<tbody> 
					{foreach $feedback_list as $i}
						<tr> 
		    				<td style="width:10px;">{if $i.first_image}<img src="/uploads/feedbackimages/{$i.pfbk_id}/st_{$i.first_image[0]['pimg_name']}" />{/if}</td>
							<td>{$i.lfbk_text}</td>
							<td style="width:10px;"><input type="checkbox" class="change_state" value="{$i.pfbk_id}" {if $i.pfbk_is_active}checked="checked"{/if} /></td>
		    				<td style="width: 56px;">
		    					<a class="icn icn_edit" href="/admin/feedback/edit/{$i.pfbk_id}"></a>
		    					<a class="icn icn_trash" onclick="return confirm('Vai tiešām vēlaties dzēst atsauksmi?');" href="/admin/feedback/delete/{$i.pfbk_id}"></a>
		    				</td> 
						</tr> 
					{/foreach}
				</tbody>

			</table>
						
			</div>
	
		</div>
		
		</article>
