<form action="" method="post">
	<article class="module width_3_quarter">
		<header>
			<h3>
				{if $id == ''}
					Jauna Galerija
				{else}
					Galerija "{$gallery_lang.lgal_title}"
				{/if}
			</h3>
		</header>
		
		<div class="module_content">
			<fieldset>
				<label>* Nosaukums</label>
				<input type="text" name="lgal_title" value="{$gallery_lang.lgal_title}" required />
			</fieldset>

			<fieldset>
				<label>* Kolekcija</label>
				<select name="pgal_ccat_id">
					<option value="">-- Izvēlēties --</option>
					{foreach $gallery_categories as $i}
						<option value="{$i.ccat_id}" {if $i.ccat_id == $gallery.pgal_ccat_id}selected{/if}>{$i.ccat_name}</option>
					{/foreach}
				</select>
			</fieldset>
<!--			
			<fieldset>
				<label>* Slug Name</label>
				<input type="text" name="pstb_slug_name" value="{$stable.pstb_slug_name}" style="margin-bottom: 10px;" required />
				<label>Slug: <span style="font-weight: normal;">{$stable.pstb_slug}</span></label>
			</fieldset>										
-->			
			<div class="clear"></div>
			
			<fieldset>
				<label>Apraksts</label>
				<textarea class="redactor_content" name="lgal_description" style="height:400px;">{$gallery_lang.lgal_description}</textarea>
			</fieldset>
			
			<div class="clear"></div>
		</div>
	</article>

	<article class="module width_quarter">
		<header><h3></h3></header>
		<div class="module_content">
			<input type="hidden" id="lgal_clsl_code" name="lgal_clsl_code" value="{$lang}" />
			<input type="hidden" name="switch_lang" id="switch_lang" />
			
			<fieldset>
				<label>Status</label>
				<input type="radio" id="hidden" class="state_toggle" name="gallery_state" value="0" {if $gallery.pgal_is_active == 0}checked="checked"{/if} />
				<label for="hidden" class="checkbox">Slēpts</label><br/>
				<input type="radio" id="published" class="state_toggle" name="gallery_state" value="1" {if $gallery.pgal_is_active == 1}checked="checked"{/if} />
				<label for="published" class="checkbox">Publisks</label>
			</fieldset>
			{if $id != ''}
			<fieldset>
				<label>Language</label>
				<select name="lang" onChange="document.getElementById('switch_lang').value = this.value;submit();" {if !$id}disabled{/if}>
					{foreach $lang_list as $i}
						<option value="{$i.clsl_code}" {if $lang == $i.clsl_code}selected{/if}>{$i.clsl_name}</option>	
					{/foreach}
				</select>
			</fieldset>
			{/if}					
		</div>
		
		<footer>
			<div class="submit_link">
				<input type="submit" value="Save" class="alt_btn" name="save" id="save" />
				<input type="submit" value="Cancel" name="cancel" formnovalidate />
			</div>
		</footer>			
	</article>

	<article class="module width_3_quarter">
		<header>
			<h3 class="tabs_involved">Cenas/izmēri</h3>

			<ul class="tabs">
	   			{foreach $product_types as $type}
	   			<li><a href="#tab{$type.cprt_id}">{$type.cprt_name}</a></li>
	    		{/foreach}
 			</ul>
		</header>

		<div class="module_content">
			{foreach $product_types as $type}
			<div id="tab{$type.cprt_id}" class="tab_content no_margin">
				{foreach $size_list as $size}
					{if $type.cprt_id == $size.cprt_id}
						<fieldset class="half_left">
							<label>{$size.clss_width} x {$size.clss_height} cm</label>
							<input type="text" name="sizes[{$size.clss_id}]" value="{$size.xgls_price}" style="width: 70%" />
						</fieldset>
					{/if}
				{/foreach}
				<div class="clear"></div>			
			</div>
			{/foreach}
		</div>
	</article>	
</form>

{if $id != ''}
<form id="ajaxUpload" enctype="multipart/form-data" method="post" action="/admin/ajax/upload">
	<article class="module width_3_quarter">
		<header><h3>Bildes</h3></header>
		
		<div class="module_content ajax_upload">
			<input type="hidden" id="referenceID" value="{$gallery.pgal_id}" />
			<input type="hidden" id="referenceType" value="gallery" />
			<input id="filesToUpload" style="" type="file" name="filesToUpload[]" multiple onchange="makeUploadFilesList();" />
			<input type="button" id="addFilesButton" value="Meklēt bildes" />
			<input type="submit" value="Ielādēt">
			
			<div class="progress">
		        <div class="bar"></div>
		        <div class="percent">0%</div>
		    </div>
		    
		    <ul id="fileList"></ul>
		    
		    <ul id="imageList">
		    	{foreach $image_list as $img}
		    	<li class="image" id="img-{$img.pimg_id}">
		    		<img src="/uploads/{$img.pimg_type}images/{$id}/st_{$img.pimg_name}" alt="{$img.pimg_name}" />
		    		<a href="#" onclick="deleteImage('{$img.pimg_name}', {$img.pimg_id}); return false;">Dzēst</a>
		    	</li>
		    	{/foreach}
		    </ul>
	    </div>
	</article>
</form>
{/if}

<div class="clear"></div>

<script type="text/javascript" src="/js/admin_{$_controller}.js"></script>
