		<article class="module width_full">
		<header>
			<h3 class="tabs_involved">Visas Galerijas</h3>
			
			<ul class="tabs">
	   			{foreach $gallery_categories as $item}
	   			<li><a href="#tab{$item.ccat_id}">{$item.ccat_name}</a></li>
	    		{/foreach}
 			</ul>

		</header>

		<div class="tab_container">
			{foreach $gallery_categories as $gallery_category}
			<div id="tab{$gallery_category.ccat_id}" class="tab_content no_margin">

			<table class="tablesorter border_radius_bottom" cellspacing="0">

			<thead> 
				<tr> 
    				<th></th>
    				<th>Nosaukums</th>
    				<th>Publiska</th>
    				<th></th>
				</tr> 
			</thead> 
			<tbody> 
				{foreach $gallery_list as $i}
					{if $i.pgal_ccat_id == $gallery_category.ccat_id}
					<tr> 
	    				<td style="width:10px;">{if $i.first_image[0]['pimg_name']}<img src="/uploads/galleryimages/{$i.pgal_id}/st_{$i.first_image[0]['pimg_name']}" />{/if}</td>
	    				<td>{$i.lgal_title}</td>
						<td style="width:10px;"><input type="checkbox" class="change_state" value="{$i.pgal_id}" {if $i.pgal_is_active}checked="checked"{/if} /></td>
	    				<td style="width: 56px;">
	    					<a class="icn icn_edit" href="/admin/gallery/edit/{$i.pgal_id}"></a>
	    					<a class="icn icn_trash" onclick="return confirm('Vai tiešām vēlaties dzēst galeriju {$i.pgal_title}?');" href="/admin/gallery/delete/{$i.pgal_id}"></a>
	    				</td> 
					</tr> 
					{/if}
				{/foreach}
			</tbody>

			</table>
						
			</div>
			{/foreach}			
		</div>
		
		</article>
