<div class="slider">
    <div class="slider-content">
        <div class="slider-content-inner">
        	<a href="/{$lang}/darbnica" class="slider-item">
                <img src="/images/galvena/slider-gultas-vela{if $lang != 'lv'}-{$lang}{/if}.png" alt="">
            </a>
            <a href="/{$lang}/audumi#bezmaksas-paraugs" class="slider-item">
                <img src="/images/galvena/slider-paraugi{if $lang != 'lv'}-{$lang}{/if}.png" alt="">
            </a>
        </div>
    </div>

    <a href="#" class="slider-nav prev"></a>
    <a href="#" class="slider-nav next"></a>

    <div class="slider-bullets dark" id="bx-pager">
        <a data-slide-index="0" href="" class="slider-bullet"></a>
        <a data-slide-index="1" href="" class="slider-bullet"></a>
    </div>
</div>

<div class="sakt-konstruet">
  <a href="/{$lang}/darbnica"></a>
</div>

<div class="grid">
    <div class="updates">
{*
        <section class="news">
            <header>
                <h1>ziņas</h1>
            </header>
        </section>
*}
        <section class="twitter" style="padding-left: 5px;">
        	<a class="twitter-timeline" width="235" height="360" data-chrome="nofooter noheader transparent noscrollbar" href="https://twitter.com/twitterapi" data-widget-id="467069095762862080"></a>
        </section>
    </div>

    <section class="construct">
        <a href="/{$lang}/darbnica">
            <img src="/images/galvena/construct.png" alt="darbnīca">
        </a>
    </section>

    <section class="video">
{*        <div class="placeholder"></div> *}
        <iframe src="http://embed.ted.com/talks/russell_foster_why_do_we_sleep.html" width="496" height="365" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </section>

    <div class="work">
        <section class="gallery">
            <header>
                <h1>{$tr->_('gatavā gultas veļa')}</h1>
            </header>

            <div class="gallery-content">
                <div class="gallery-slider">
                	{foreach $gallery_list as $gallery}
                    <div class="gallery-item">
                        <a href="/{$lang}/katalogs/{$gallery.pgal_id}">
                            <img src="/uploads/galleryimages/{$gallery.pgal_id}/lt_{$gallery.first_image[0].pimg_name}" alt="">
                        </a>
                    </div>
                    {/foreach}
                </div>

                <a href="#" class="gallery-nav prev"></a>
                <a href="#" class="gallery-nav next"></a>
             </div>
        </section>

        <section class="how">
            <header>
                <h1>{$tr->_('kā mēs gatavojam')}?</h1>
            </header>

	            <div class="content">
		            <a href="/{$lang}/par-zig-zag#ka-mes-gatavojam">
						<img src="/images/galvena/ka-mes-gatavojam.jpg" alt="kā mēs gatavojam">
			        </a>
	            </div>
        </section>

        <section class="about">
        {*    <div class="content"></div> *}
	        <a href="/{$lang}/audumi">
	        	<img src="/images/galvena/par-mums{if $lang != 'lv'}-{$lang}{/if}.jpg" alt="" width="747" height="332">
	        </a>
        </section>
    </div>

    <div class="contact">
        <section class="social">
            <a href="http://www.facebook.com/zigzagfactory.lv" class="facebook" target="_blank"></a>
            <a href="http://twitter.com/zigzagfactory" class="twitter" target="_blank"></a>
            <a href="http://instagram.com/zigzagfactory" class="instagram" target="_blank"></a>
            <a href="http://www.draugiem.lv/zigzagfactory/" class="draugiem" target="_blank"></a>
        </section>

        <section class="tel">
            <a href="/{$lang}/par-zig-zag#kontakti"><img src="/images/galvena/tel.png" alt="tel"></a>
        </section>
    </div>
</div>
