<div {if 'production' == $env}class="page-error"{else}style="padding: 20px;"{/if}>
	<h1>An error occurred</h1>
	<h2>{if $error_code}{$error_code}:&nbsp;{/if}{$message}</h2>
	
	{* Display exceptions if development environment *}
	{if 'development' == $env || 'development_local' == $env}
		<h3>Exception information:</h3>
		<p><b>Message:</b> {$exception->getMessage()}</p>
		
		<h3>Stack trace:</h3>
		<pre>{$exception->getTraceAsString()}</pre>
		
		<h3>Request Parameters:</h3>
		<pre>{foreach from=$request->getParams() key=k item=i}{$k} => {$i}<br/>{/foreach}</pre>
	{/if}
</div>