<form action="" method="post">
	<article class="module width_3_quarter">
		<header><h3>{$page.lpag_name}</h3></header>
		<div class="module_content">
			<fieldset>
				<label>Virsraksts</label>
				<input type="text" name="lpag_name" value="{$page.lpag_name}" />
			</fieldset>
			
            <textarea class="redactor_content" name="lpag_text" style="height: 400px;">{$page.lpag_text}</textarea>
		</div>
		<footer>
			<div class="submit_link">
				<input type="submit" value="Saglabāt" class="alt_btn" name="save" />
				<input type="submit" value="Atcelt" name="cancel" />
			</div>
		</footer>
		
	</article>

	<article class="module width_quarter">
        <header></header>

       	<div class="module_content">
			<fieldset>
				<label>Valoda</label>
				<select name="lang" onChange="location.href='/admin/page/{$page_code}/lang/' + $(this).val();">
					{foreach $lang_list as $i}
						<option value="{$i.clsl_code}" {if $lang == $i.clsl_code}selected{/if}>{$i.clsl_name}</option>	
					{/foreach}
				</select>
			</fieldset>
		</div>
    </article>

	<article class="module width_quarter">
        <header><h3>Versijas</h3></header>
        	<div class="module_content no_margin">
            <table class="tablesorter border_radius_bottom" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Datums</th>
                        <th>Lietotājs</th>                            
                    </tr>
                </thead>
                <tbody>
                	{foreach $history as $k => $item}
                    <tr>
                        <td>{$k+1}</td>
                        <td><a href="/admin/page/{$page_code}/version/{$item.lpag_id}{if $lang != 'lv'}/lang/$lang{/if}">{$item.lpag_timestamp}</a></td>
                        <td>{$item.sysu_name} {$item.sysu_surname}</td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
		</div>

    </article>
</form>

<form id="ajaxUpload" enctype="multipart/form-data" method="post" action="/admin/ajax/upload">
	<article class="module width_3_quarter">
		<header><h3>Bildes</h3></header>
		
		<div class="module_content ajax_upload">
			<input type="hidden" id="referenceID" value="{$page.ppag_id}" />
			<input type="hidden" id="referenceType" value="page" />
			<input id="filesToUpload" style="" type="file" name="filesToUpload[]" multiple onchange="makeUploadFilesList();" />
			<input type="button" id="addFilesButton" value="Meklēt bildes" />
			<input type="submit" value="Ielādēt">
			
			<div class="progress">
		        <div class="bar"></div>
		        <div class="percent">0%</div>
		    </div>
		    
		    <ul id="fileList"></ul>
		    
		    <ul id="imageList">
		    	{foreach $image_list as $img}
		    	<li class="image" id="img-{$img.pimg_id}">
		    		<img src="/uploads/{$img.pimg_type}images/{$page.ppag_id}/st_{$img.pimg_name}" alt="{$img.pimg_name}" /><br />
		    		<input type="text" value="/uploads/{$img.pimg_type}images/{$page.ppag_id}/f_{$img.pimg_name}" onClick="this.setSelectionRange(0, this.value.length)" /> 
		    		<a href="#" onclick="deleteImage('{$img.pimg_name}', {$img.pimg_id}); return false;">Dzēst</a>
		    	</li>
		    	{/foreach}
		    </ul>
	    </div>
	</article>
</form>