{$_view->doctype()}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{$_view->headTitle()}
{$_view->headMeta()}
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width" />
{$_view->headLink()}

{if $_controller == 'login'}
	<link href="/css/admin_login.css" rel="stylesheet" />
{else}
	<link href="/css/admin_layout.css" rel="stylesheet" />
{/if}

{$_view->headScript()}
{$_view->headStyle()}
</head>
<body>

{if $_controller != 'login'}
	<header id="header">
		<hgroup>
			<h1 class="site_title"><a href="/admin">ZigZag Factory</a></h1>
			<h2 class="section_title" style="text-transform: capitalize;">{$_controller}</h2><div class="btn_view_site"><a target="_blank" href="/">View Site</a></div>
		</hgroup>
	</header> {* end of header bar *}
	
	<section id="secondary_bar">
		<div class="user">
			<p>{$user_info.username} ({$user_info.user_name} {$user_info.user_surname})</p>
<!-- 		<a class="logout_user" href="#" title="Logout">Logout</a> -->
		</div>
		<div class="breadcrumbs_container">
			<article class="breadcrumbs">
				{$_breadcrumbs}
			</article>
		</div>
	</section> {* end of secondary bar *}
	
	<aside id="sidebar" class="column">
		{$_navigation}

		<footer></footer>
	</aside> {* end of sidebar *}
	
	<section id="main" class="column">
{/if}

		{$_layout->content}
		
{if $_controller == 'login'}		
		<div class="spacer"></div>
	</section>
{/if}

<script src="/js/admin_script.js"></script>
</body>
</html>