.page-footer {
  margin-top: 12px;

  .page-footer-badges {
    @include clearfix;

    padding: 0 4px;

    .badge {
      background: {
        repeat: no-repeat;
        position: center center;
      }
      display: block;
      float: left;
      margin: {
        right: 20px;
        bottom: 10px;
      }
      width: 150px;
      height: 150px;

      &:last-child {
        margin-right: 0;
      }

      &.gultasvela {
      	&.lv {
	        background-image: url('../images/footer/badge-gultasvela.png');
	    }	    
	    &.en {
	        background-image: url('../images/footer/badge-gultasvela-en.png');	    
	    }
	    &.ru {
	        background-image: url('../images/footer/badge-gultasvela-ru.png');	    
	    }
      }
      
      &.draudziga {
      	&.lv {
	        background-image: url('../images/footer/badge-draudziga.png');
	    }	    
	    &.en {
	        background-image: url('../images/footer/badge-draudziga-en.png');
	    }
	    &.ru {
	        background-image: url('../images/footer/badge-draudziga-ru.png');
	    }      	
      }

      &.roku {
      	&.lv {
	        background-image: url('../images/footer/badge-roku.png');
	    }	    
	    &.en {
	        background-image: url('../images/footer/badge-roku-en.png');
	    }
	    &.ru {
	        background-image: url('../images/footer/badge-roku-ru.png');
	    }      	
      }

      &.garantija {
      	&.lv {
    	    background-image: url('../images/footer/badge-garantija.png');
	    }	    
	    &.en {
	        background-image: url('../images/footer/badge-garantija-en.png');
	    }
	    &.ru {
	        background-image: url('../images/footer/badge-garantija-ru.png');
	    }      	
      }

      &.piegade {
      	&.lv {
	        background-image: url('../images/footer/badge-piegade.png');
	    }	    
	    &.en {
	        background-image: url('../images/footer/badge-piegade-en.png');
	    }
	    &.ru {
	        background-image: url('../images/footer/badge-piegade-ru.png');
	    }      	
      }

      &.maksajumi {
      	&.lv {
 	        background-image: url('../images/footer/badge-maksajumi.png');
	    }	    
	    &.en {
 	        background-image: url('../images/footer/badge-maksajumi-en.png');
	    }
	    &.ru {
 	        background-image: url('../images/footer/badge-maksajumi-ru.png');
	    }      	
      }
    }
  }

  .page-footer-content {
    @include background-color-rgb(0,0,0,0.6);

    background: {
      image: url('../images/footer/scissors.png');
      repeat: no-repeat;
      position: 12px 44px;
    }
    color: $cl-f-footer;
    padding: 22px 50px;

    .page-footer-menu-container {
      @include clearfix;
    }

    .page-footer-menu {
      float: left;
      margin-right: 10px;
      text-transform: uppercase;
      width: 170px;

      &:last-child {
        margin-right: 0;
      }

      p {
        font-size: $fs-footer-menu-title;
        margin-bottom: 6px;
      }

      a {
        color: $cl-f-footer;
        display: block;
        font-size: $fs-footer-menu-item;
        line-height: 2;

        &.active,
        &:hover {
          color: $cl-f-footer-active;
        }

        &.social {
          margin-bottom: 4px;
          height: 20px;
          width: 20px;
        }

        &.facebook {
          background: url('../images/footer/social-facebook.png') no-repeat center center;
        }

        &.twitter {
          background: url('../images/footer/social-twitter.png') no-repeat center center;
        }

        &.instagram {
          background: url('../images/footer/social-instagram.png') no-repeat center center;
        }

        &.draugiem {
          background: url('../images/footer/social-draugiem.png') no-repeat center center;
        }
      }
    }

    .copyright {
      color: #9E9092;
      clear: both;
      font-size: $fs-footer-copyright;
      margin-top: 12px;
      text-transform: uppercase;
    }
  }
}
