.page-header {
  @include clearfix;

  margin-bottom: 12px;
  position: relative;

  &>* {
    float: left;
  }

  .sakt-konstruet {
    background: url('../images/header/sakt-konstruet.png') no-repeat center center;
    position: absolute;
    top: 2px; left: 350px;
    width: 240px;
    height: 82px;
  }

  .main-menu-bg {
    background-color: #E9E4DE;
    float: none;
    position: absolute;
    top: 86px; right: -66px; left: -66px;
    z-index: -1;
    height: 25px;
  }

  .sub-menu-bg {
    @extend .main-menu-bg;

    top: 86px + 34px;
    left: 430px;
  }

  // HEADER LOGO
  .page-header-logo {
    a {
      background: url('../images/header/logo-home.png') no-repeat;
      display: block;
      width: 78px;
      height: 145px;

      &.par-zig-zag {
        background-image: url('../images/header/logo-par-zig-zag.png');
      }

      &.audumi {
        background-image: url('../images/header/logo-audumi.png');
      }

      &.atsauksmes {
        background-image: url('../images/header/logo-atsauksmes.png');
      }

      &.galerija {
        background-image: url('../images/header/logo-galerija.png');
      }

      &.darbnica {
        background-image: url('../images/header/logo-darbnica.png');
      }
    }
  }

  // MAIN MENU
  .main-menu {
    @extend .menu-defaults;

    a {
      font-size: 13px;
      margin: 0 17px;
      padding: 0 2px;

      &.active,
      &:hover {
        border-top-style: solid;
        border-top-width: 2px;
        border-bottom-style: solid;
        border-bottom-width: 2px;
      }

      &.par-zig-zag.active,
      &.par-zig-zag:hover {
        border-color: #8FFFFF;
      }

      &.darbnica.active,
      &.darbnica:hover {
        border-color: #A4FF93;
      }

      &.galerija.active,
      &.galerija:hover {
        border-color: #ACE5D5;
      }

      &.audumi.active,
      &.audumi:hover {
        border-color: #90E65B;
      }

      &.atsauksmes.active,
      &.atsauksmes:hover {
        border-color: #042128;
      }
    }
  }

  // SUB MENU
  .sub-menu {
    float: none;
    position: absolute;
    top: 86px + 34px;
    left: 450px;

    nav {
      height: 25px;
    }

    a {
      font-size: 13px;
      line-height: 25px;
      margin: 0 6px;
      padding: 0 2px;

      &.active, &:hover {
	      color: #8ec8b7;
      }
    }
  }

  // ALT MENU (LANGUAGES, FAQ, SHOPPING CART)
  .alt-menu {
    @include clearfix;
    @extend .menu-defaults;

    float: right;

    nav {
      float: left;

      a {
        font-size: 12px;

        &.active,
        &:hover {
          color: #33A780;
        }
      }

      &.faq {
        border: {
          left: 1px solid #FFF;
          right: 1px solid #FFF;
        }
        padding: 0 10px;
        margin: 0 10px;
      }

      &.cart {
        position: relative;

        &:after {
          content: "";

          background: url('../images/header/grozs.png') no-repeat center right;
          display: block;
          position: absolute;
          top: 0; right: -30px;
          height: 25px;
          width: 20px;
        }
      }
    }
  }
}
