.cls-fixed-side-menu {
  @include background-color-hex(#E9E4DE, 0.8);

  margin-left: -570px;
  padding: 10px;
  position: fixed;
  left: 50%; top: 174px;
  text-align: right;

  a {
    display: block;
    font-size: $fs-fixed-content-menu;
    padding-right: 14px;
    position: relative;
    text-transform: uppercase;

    &.active:after,
    &:hover:after {
      content: "";

      @include border-radius(50%);

      position: absolute;
      right: 0; top: 4px;
      width: 7px;
      height: 7px;
    }
  }
}

.masonry-container {
  @include box-sizing(border-box);

  margin: 0 auto;

  .item {
      @include box-sizing(border-box);

      background-color: #E9E9E9;
      padding: 5px;
      width: 190px;

      figure {
        background-color: #B4B0B0;
        width: 100%;
      }
    }
}

.menu-defaults {
  line-height: 25px;
  margin-top: 86px;

  nav {
    height: 25px;
  }

  a {
    text-transform: uppercase;
  }
}

.selectbox {
  position: relative;

  .selectbox-element,
  .selectbox-list a {
    color: $cl-overlay-items-bg;
    font-size: 11px;
    padding: { left: 6px; right: 20px; }
  }

  .selectbox-element {
    @include clearfix;
    @include box-sizing(border-box);

    background-color: #FFF;
    display: block;
  }

  .selectbox-list {
    background-color: #FFF;
    display: none;
    padding-top: 4px;
    position: absolute;
    right: 0;
    max-height: 200px;
    overflow: scroll;
    width: 100%;
    z-index: 1;

    a {
      @include clearfix;

      display: block;
      padding: { top: 4px; bottom: 4px; }

      &:hover {
        color: #FFF;
        background-color: $cl-overlay-items-bg;
      }
    }
  }
}
