// ClearFix mixin
// Clears nested floats
@mixin clearfix {
  zoom:1;

  &:before, &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// Background color mixin
// Creates a background color with a solid color fallback
// $r - red
// $g - green
// $b - blue
// $o - opacity
@mixin background-color-rgb($r, $g, $b, $o:1) {
  background-color: rgb($r,$g,$b);
  background-color: rgba($r,$g,$b,$o);
}

// Background color mixin
// Creates a background color with a solid color fallback
// Converts HEX to RGB
// $hex - HEX code of color
// $o - opacity
@mixin background-color-hex($hex, $o:1) {
  background-color: $hex;
  background-color: rgba($hex, $o);
}

// Border radius mixin
// $radius - elements border radius
@mixin border-radius($r) {
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  border-radius: $r;
}

// Box sizing mixin
// $s - elements box sizing
@mixin box-sizing($s) {
  -webkit-box-sizing: $s;
  -moz-box-sizing: $s;
  box-sizing: $s;
}

// Transform mixin
// CSS3 transform with vendor prefixes
// $t - transform property
@mixin transform($t) {
  -webkit-transform: $t;
     -moz-transform: $t;
      -ms-transform: $t;
       -o-transform: $t;
          transform: $t;
}

// Transition mixin
// CSS3 transition with vendor prefixes
// $t - transition
@mixin transition($t) {
  -webkit-transition: $t;
     -moz-transition: $t;
      -ms-transition: $t;
       -o-transition: $t;
          transition: $t;
}

// Center element vertically and horizontally
@mixin absolute-center {
  @include transform(translate(-50%,-50%));
  margin: auto;
  position: absolute;
  top: 50%; left: 50%;
}

// Center element vertically
@mixin vertical-center {
  @include transform(translateY(-50%));
  position: absolute;
  top: 50%;
  width: 100%;
}

// Inline block mixin
// With legacy browser fallbacks
@mixin inline-block {
  display: inline-block;
  *display: inline;
  vertical-align: top;
  zoom :1;
}
