// Colors
$cl-f-base: #1D1D1B;
$cl-f-bright: #E9E4E0;
$cl-f-alt: #706F6F;
$cl-f-footer: #FFFFD7;
$cl-f-footer-active: #33A780;
$cl-f-cart-gray: #555;

$cl-overlay-items-bg: #575756;

$cl-constructor-headers: #5F6362;
$constructor-color-switcher-arrow-color: #33aa80;


// Borders
$border-cart: 1px solid #CCC;


// Font sizes
$fs-fixed-content-menu: 11px;


// Footer
$fs-footer-menu-title: 12px;
$fs-footer-menu-item: 10px;
$fs-footer-copyright: 9px;
