//
// DEFAULTS & RESETS
//
html {
  width: 100%;
  height: 100%;
}

body {
  background: {
    attachment: fixed;
    image: url('../images/background2.jpg');
    repeat: repeat-y;
    size: cover;
  }
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative;

  overflow-y: scroll;
}

a {
  color: $cl-f-base;
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2 {
  margin: 0;
}

figure {
  margin: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}


//
// LAYOUT
//
.page-wrapper {
  width: 1008px;
  margin: 0 auto;
  padding: 0 66px;

  .page-content {
    position: relative;
  }
}
