.page-content.atsauksmes {
  .content-container {
    @extend .masonry-container;

    @include background-color-hex(#E9E4DE, 0.4);

    padding: 8px 8px 0;
    width: 806px;

    .item {
      margin-bottom: 10px;
      font-size: 16px;
      
      figure {
        height: 155px;
      }
    }
  }
}