.page-content.audumi {
  nav.content-menu {
    @extend .cls-fixed-side-menu;

    a.active:after,
    a:hover:after {
      background-color: #98804B;
    }
  }

  article {
    header {
      width: 100%;
      height: 40px;

      h1 {
        color: #FFF;
        font: {
          size: 19px;
          weight: bold;
        }
        line-height: 40px;
        margin-left: 80px;
        text-transform: uppercase;
      }
    }

    .content {
      @include background-color-hex(#E9E9E9,0.9);
      padding: 20px 50px 20px 70px;
    }

    &#auduma-virsma, &#aizsardziba, &#higiena, &#ieguve,
    &#krasas, &#lietosana, &#bezmaksas-paraugs {
      header {
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    &#auduma-virsma header {
      background-image: url('../images/audumi/auduma-virsma.jpg');
    }

    &#aizsardziba header {
      background-image: url('../images/audumi/aizsardziba.jpg');
    }

    &#higiena header {
      background-image: url('../images/audumi/higiena.jpg');
    }

    &#ieguve header {
      background-image: url('../images/audumi/ieguve.jpg');
    }

    &#krasas header {
      background-image: url('../images/audumi/krasas.jpg');
    }

    &#lietosana header {
      background-image: url('../images/audumi/lietosana.jpg');
    }

    &#bezmaksas-paraugs header {
      background-image: url('../images/audumi/bezmaksas-paraugs.jpg');
    }
  }
}