.page-content.darbnica {
  @include clearfix;

  .factory-container {
    background {
      repeat: no-repeat;
      position: center center;
    }
    float: left;
    position: relative;
    height: 700px;
    width: 790px;

    &.theme-bright {
      background-image: url('../images/darbnica/bg-bright.jpg');

      .side-icons {
        .icon-1 { background-position: 0 0; }
        .icon-2 { background-position: 0 -60px; }
        .icon-3 { background-position: 0 -110px; }
        .icon-4 { background-position: 0 -160px; }
        .icon-5 { background-position: 0 -210px; }
        .icon-6 { background-position: 0 -260px; }
      }
    }

    &.theme-dark {
      background-image: url('../images/darbnica/bg-dark.jpg');

      .side-icons {
        .icon-1 { background-position: -50px 0; }
        .icon-2 { background-position: -50px -60px; }
        .icon-3 { background-position: -50px -110px; }
        .icon-4 { background-position: -50px -160px; }
        .icon-5 { background-position: -50px -210px; }
        .icon-6 { background-position: -50px -260px; }
      }
    }

    .side-icons {
      margin: { top: 50px; left: 20px; }

      div {
        background: {
          image: url('../images/sprites/side-icons.png');
          repeat: no-repeat;
        }
        margin-bottom: 5px;
        width: 50px;
        height: 50px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .icon-1 {
          height: 60px;
          &:hover { background-position: -100px 0; }
      }
      .icon-2:hover { background-position: -100px -60px; }
      .icon-3:hover { background-position: -100px -110px; }
      .icon-4:hover { background-position: -100px -160px; }
      .icon-5:hover { background-position: -100px -210px; }
      .icon-6:hover { background-position: -100px -260px; }
    }

    .theme-switcher {
      position: absolute;
      right: 26px; top: 50px;

      a {
        @include box-sizing(border-box);
        @include inline-block;

        height: 32px;
        width: 32px;

        &.bright {
          background: url('../images/darbnica/theme-switcher-bright.jpg') no-repeat center center;
          margin-right: 8px;
        }

        &.dark {
          background: url('../images/darbnica/theme-switcher-dark.jpg') no-repeat center center;
        }

        &.active {
          background: none !important;
          border: 1px solid #FFF;
        }
      }
    }

    .factory {
      $constructor-border-color: #cce100;
      $constructor-border: 5px solid $constructor-border-color;

      font-size: 11px;
      position: absolute;
      top: 46px; left: 275px;
      text-align: center;
      text-transform: uppercase;
      height: 404px;
      width: 348px;

      div {
        @include box-sizing(border-box);

        cursor: pointer;
        position: absolute;

        table {
          position: absolute;
          left: 50%;
        }

        span {
          display: block;
          position: relative;
        }
      }

      .spilvendrana-1,
      .spilvendrana-2,
      .virspalags {
        &.has-preview {
          background: none;
        }
      }

      .spilvendrana-1,
      .spilvendrana-2 {
        background-color: #d2d3d0;
        border: 5px solid transparent;
        height: 98px;
        width: 98px;

        &:hover {
          border-color: $constructor-border-color;
        }
      }

      .spilvendrana-1 {
        left: 56px;

        span {
          margin-top: 15px;
        }
      }

      .spilvendrana-2 {
        @include transform(rotateZ(-6deg));

        left: 170px;
        top: 28px;

        span {
          @include transform(rotateZ(6deg));

          margin-top: 4px;
        }
      }

      .virspalags {
        @include transform(rotateZ(1.5deg));

        background: url('../images/darbnica/constructor-duvet.png') no-repeat center center;
        border: 5px solid transparent;
        top: 66px; left: 16px;
        height: 338px;
        width: 314px;

        &:hover {
          border-right-color: $constructor-border-color;
          border-bottom-color: $constructor-border-color;

          &:before {
            content: "";
            background-color: $constructor-border-color;
            position: absolute;
            top: -5px; right: -5px;
            height: 5px;
            width: 256px;
          }

          &:after {
            content: "";
            background-color: $constructor-border-color;
            position: absolute;
            bottom: -5px; left: -5px;
            height: 272px;
            width: 5px;
          }

          .diagonal {
            @include transform(rotateZ(-49deg));

            background-color: $constructor-border-color;
            top: 27px; left: -18px;
            height: 5px;
            width: 88px;
          }
        }

        &.has-preview:hover {
          border-color: $constructor-border-color;

          .diagonal {
            display: none;
          }
        }

        span {
          @include transform(rotateZ(-1.5deg));

          margin-top: 115px;
        }
      }

      .palags {
        border: 5px solid transparent;
        text-align: right;
        top: 7px; left: 16px;
        height: 360px;
        width: 312px;

        &:hover {
          border-color: $constructor-border-color;
        }

        span {
          margin: { top: -2px; right: 15px; }
        }
      }
    }
  }

  .buy {
    color: #FFF;
    float: right;
    line-height: 1.5;
    width: 208px;

    .pricing {
      @include background-color-hex(#000, 0.7);

      margin-bottom: 5px;
      padding: 8px;
      text-transform: uppercase;

      p {
        font-size: 12px;
        margin-bottom: 15px;
      }

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }

      ul li {
        @include clearfix;

        font-size: 11px;

        .item {
          float: left;
          width: 120px;
        }

        .amount {
          float: left;
        }

        .price {
          float: right;
        }
      }

      .dotted-line {
        background: url('../images/darbnica/dotted-line.png') no-repeat center center;
        height: 6px;
        margin: 12px 0;
      }

      .total-price {
        @include clearfix;

        font-size: 12px;

        .total {
          float: left;
        }

        .price {
          color: #c2cc00;
          float: right;
        }
      }
    }

    .buttons {
      margin-bottom: 5px;

      a {
        @include inline-block;

      }

      .delivery {
        background: rgba(255,255,255,0.9) url('../images/darbnica/delivery.png') no-repeat center top;
        margin-right: 4px;
        position: relative;
        width: 106px;
        height: 44px;

        span {
          font: {
            size: 9px;
            weight: bold;
          }
          position: absolute;
          bottom: 0; right: 4px;
          text-transform: uppercase;
        }
      }

      .order {
        background: url('../images/darbnica/order.png') no-repeat center center;
        font-size: 24px;
        padding: 6px 0 2px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        width: 98px;

        &:before {
          content: "";
          background: url('../images/darbnica/order-bg.png') no-repeat center center;
          position: absolute;
          right: -18px; top: 3px;
          z-index: -1;
          height: 44px;
          width: 24px;
        }
      }
    }

    .info {
      @include background-color-hex(#000, 0.7);

      margin-bottom: 5px;
      padding: 8px;

      p {
        font-size: 12px;
        margin-bottom: 6px;
      }

      ul {
        list-style-type: disc;
        list-style-position: inside;
        padding: 0;
        margin: 0 0 6px;

        li {
          font-size: 11px;
        }
      }
    }

    .share {
      @include background-color-hex(#ebebeb, 0.7);

      background: {
        image: url('../images/darbnica/share-bg.png');
        repeat: no-repeat;
        position: 10px center;
      }
      position: relative;
      height: 75px;

      .social {
        line-height: 1;
        position: absolute;
        right: 12px; bottom: 4px;

        a {
          background: {
            image: url('../images/sprites/social-icons.png');
            repeat: no-repeat;
            size: 44px 88px;
          }
          display: inline-block;
          margin-right: 4px;
          height: 22px;
          width: 22px;

          &:last-child {
            margin-right: 0;
          }

          &.facebook {
            background-position: 0 0;
            &:hover { background-position: -22px 0; }
          }
          &.twitter {
            background-position: 0 -22px;
            &:hover { background-position: -22px -22px; }
          }
          &.instagram {
            background-position: 0 -44px;
            &:hover { background-position: -22px -44px; }
          }
          &.draugiem {
            background-position: 0 -66px;
            &:hover { background-position: -22px -66px; }
          }
        }
      }
    }
  }
}
