.page-content.galerija {
  @include background-color-hex(#E9E4DE, 0.3);

  padding: 35px 94px 15px;

  .content-container {
    @extend .masonry-container;

    width: 100%;

    .item {
      cursor: pointer;
      margin-bottom: 20px;
      position: relative;
      height: 190px;

      &:hover .content {
        // display: block;
        opacity: 1;
      }

      figure {
        height: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .content {
        @include background-color-hex(#000, 0.45);
        @include transition(opacity .25s);

        // display: none;
        opacity: 0;
        position: absolute;
        left: 5px; right: 5px; top: 5px; bottom: 5px;

        .details {
          @include background-color-hex(#8EC8B7, 0.75);
          @include border-radius(50%);
          @include absolute-center;

          color: #FFF;
          font-size: 13px;
          text-align: center;
          width: 140px;
          height: 140px;

          // IE 8 SUPPORT
          // margin: { left: -70px; top: -70px; }
          // position: absolute;
          // top: 50%; left: 50%;

          .details-inner {
            @include vertical-center;

            // ADD IE 8 SUPPORT
          }

          .name {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

