.page-content.galvena {
  .slider {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    height: 335px;
    width: 100%;

    .slider-item {
      display: block;
    }

    .slider-nav {
      @include border-radius(50%);
      @include background-color-hex(#FFF, 0.3);

      background-repeat: no-repeat;
      display: block;
      margin-top: -21px;
      position: absolute;
      top: 50%;
      width: 42px;
      height: 42px;

      &:hover {
        @include background-color-hex(#FFF, 0.4);
      }

      &.prev {
        background: {
          image: url('../images/galvena/slider-prev.png');
          position: 10px center;
        }
        left: 12px;
      }

      &.next {
        background: {
          image: url('../images/galvena/slider-next.png');
          position: 16px center;
        }
        right: 12px;
      }
    }

    .slider-bullets {
      position: absolute;
      bottom: 12px;
      text-align: center;
      width: 100%;

      .slider-bullet {
        @include border-radius(50%);
        @include background-color-hex(#FFF, 0.2);
        @include inline-block;

        position: relative;
        width: 18px;
        height: 18px;

        &:hover:before,
        &.active:before {
          content: "";

          @include border-radius(50%);

          background-color: #FFF;
          margin: { left: -3px; top: -3px; }
          position: absolute;
          left: 50%; top: 50%;
          height: 6px;
          width: 6px;
        }
      }

      &.dark {
        .slider-bullet {
	        @include background-color-hex(#000, 0.2);

	        &:hover:before,
	        &.active:before {
	          background-color: #000;
	        }
	    }
      }
    }
  }

  .sakt-konstruet a {
    background: url('../images/galvena/sakt-konstruet.png') no-repeat center center;
    position: absolute;
    top: 250px; right: 45px;
    width: 180px;
    height: 180px;
    z-index: 1;
  }

  .grid {
    $content-width-quarter: 245px;
    $content-width-half: 496px;
    $content-width-three-quarters: 747px;

    @include clearfix;
    @include background-color-hex(#FFF, 0.3);

    padding: 8px 5px;

    .updates {
      float: left;
      margin-right: 6px;

      .news,
      .twitter {
        background-color: #ebebeb;
        height: 180px;
        margin-bottom: 5px;
        width: $content-width-quarter;
      }

      .news {
        header {
          background: url('../images/galvena/logo-zinas.png') no-repeat 8px center;
          height: 58px;

          h1 {
            color: #c2a400;
            font: { size: 14px; weight: normal; }
            letter-spacing: 1px;
            padding: { left: 47px; top: 13px; }
            text-transform: uppercase;
          }
        }
      }

      .twitter {
        position: relative;
        height: 365px;
        width: 240px;
      }
    }

    .construct {
      float: left;
      margin: { right: 5px; bottom: 5px; }
      height: 365px;
      width: $content-width-quarter + 1;

      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .video {
      float: left;
      margin-bottom: 5px;
      height: 365px;
      width: $content-width-half;

      .placeholder {
        background: #afacab url('../images/placeholders/galvena-video.png') no-repeat center center;
        width: 100%;
        height: 100%;
      }
    }

    .work {
      float: left;
      margin-right: 6px;

      .gallery {
        $gallery-nav-width: 38px;

        border-bottom: 1px solid #000;
        float: left;
        margin: { right: 6px; bottom: 5px; }
        padding-bottom: 8px;
        width: $content-width-half;

        header {
          margin: 8px 0;

          h1 {
            @include inline-block;

            background-color: #ebebeb;
            font: { size: 13px; weight: normal; }
            letter-spacing: 1px;
            padding: 4px 16px;
            text-transform: uppercase;
          }
        }

        .gallery-content {
          border: {
            top: 1px solid #000;
            bottom: 6px solid #000;
          }
          padding: 15px 0 8px;
          position: relative;
        }

        .gallery-slider {
          margin: 0;
          @include clearfix;

          .gallery-item {
            @include box-sizing(border-box);
            @include background-color-hex(#e9e4de, 0.7);

            float: left;
            margin-right: 15px;
            padding: 3px;
            height: 130px;
            width: 130px;

            &:last-child {
              margin-right: 0;
            }

            img {
              height: 100%;
              width: 100%;
            }
          }
        }

        .gallery-nav {
          position: absolute;
          top: 15px;
          height: 130px;
          width: $gallery-nav-width;

          &:before {
            margin-top: -9px;
            position: absolute;
            top: 50%;
            height: 0;
            width: 0;
          }

          &.prev {
            left: 0;

            &:before {
              content: "";
              border: {
                top: 9px solid transparent;
                bottom: 9px solid transparent;
                right: 15px solid #042128;
              }
              left: 4px;
            }
          }

          &.next {
            right: 0;

            &:before {
              content: "";
              border: {
                top: 9px solid transparent;
                bottom: 9px solid transparent;
                left: 15px solid #042128;
              }
              right: 4px;
            }
          }
        }
      }

      .how {
        @include box-sizing(border-box);

        float: left;
        margin-bottom: 5px;
        padding-left: 16px;
        position: relative;
        height: 212px;
        width: $content-width-quarter;

        header {
          background-color: #042128;
          padding: 2px 4px;
          position: absolute;
          bottom: 40px; left: 6px;

          h1 {
            color: #FFF;
            font: { size: 13px; weight: normal; }
            letter-spacing: 1px;
            text-transform: uppercase;
          }
        }

        .content {
          height: 100%;
          width: 100%;
        }
      }

      .about {
        @include box-sizing(border-box);

/*         background: url('../images/galvena/par-mums.jpg') repeat center center; */
        clear: both;
/*         padding: 8px; */
        width: $content-width-three-quarters;

/*
        .content {
          @include background-color-hex(#ebebeb, 0.9);
          @include box-sizing(border-box);

          padding: 8px;
          min-height: 345px;
          width: 100%;
        }
*/
      }
    }

    .contact {
      float: left;

      .social {
        margin-bottom: 5px;
        padding: 24px 0;
        width: $content-width-quarter;

        a {
          background: {
            image: url('../images/sprites/social-icons.png');
            repeat: no-repeat;
          }
          display: block;
          margin: {
            bottom: 12px;
            left: 87px;
          }
          height: 70px;
          width: 70px;

          &:last-child {
            margin-bottom: 0;
          }

          &.facebook {
            background-position: 0 0;
            &:hover { background-position: -70px 0; }
          }

          &.twitter {
            background-position: 0 -70px;
            &:hover { background-position: -70px -70px; }
          }

          &.instagram {
            background-position: 0 -140px;
            &:hover { background-position: -70px -140px; }
          }

          &.draugiem {
            background-position: 0 -210px;
            &:hover { background-position: -70px -210px; }
          }
        }
      }

      .tel {
        width: $content-width-quarter;
      }
    }
  }
}
