.page-content.grozs .done {
  .outer {
    padding: 100px 200px 100px 0;

    .inner {
      text-align: center;

      p {
        line-height: 1.8;
      }

      p:first-child {
        font-size: 26px;
        text-transform: uppercase;
      }

      p:nth-child(2) {
        font-size: 26px;
      }

      p:last-child {
        font-size: 16px;
      }
    }
  }

  footer .links {
    text-align: right;
  }
}