.page-content.grozs .order-data {
  label {
    @include inline-block;

    font-size: 14px;
    line-height: 2;
    margin-top: 24px;
    width: 110px;

    &.checkbox-label {
      font-size: 11px;
      margin-top: 8px;
      line-height: 18px;
      width: auto;
    }
  }

  input,
  textarea,
  .selectbox-element {
    background: none;
    border: none;

    @include background-color-hex(#CACACA, 0.65);

    border: 1px solid #777;
  }

  input {
    margin-bottom: 0;
  }

  input[type=text],
  input[type=email],
  input[type=tel],
  textarea {
    @include inline-block;

    font-size: 16px;
    margin-top: 24px;
    outline: 0;
    padding: 4px;
  }

  input[type=text],
  input[type=email],
  input[type=tel] {
    width: 260px;
  }

  textarea {
    font-size: 14px;
    resize: none;
    width: 400px;
  }

  input[type=checkbox] {
    -webkit-appearance: none;

    margin: 8px 12px 0 120px;
    outline: 0;
    width: 18px;
    height: 18px;

    &:after {
      content: "";
      display: block;
      font-size: 12px;
      line-height: 18px;
      position: absolute;
      text-align: center;
      width: 16px; height: 16px;
    }

    &:checked:after {
      content: "X";
    }
  }

  .info,
  .customer-details {
    @include box-sizing(border-box);
    @include inline-block;
  }

  .info {
    color: $cl-f-cart-gray;
    width: 230px;

    .info-group {
      @include box-sizing(border-box);

      margin-top: 16px;
      width: 100%;

      &:first-child {
        margin-top: 36px;
      }

      h2 {
        font-size: 13px;
        margin-bottom: 8px;
        padding-left: 24px;
      }

      .content {
        @include background-color-hex(#A7A9AB, 0.55);

        border: 1px solid #888;
        font-size: 13px;
        padding: 10px;
      }

      &.total {
        .content {
          @include clearfix;
        }

        .labels, .values {
          float: left;
          width: 50%;
        }

        .labels {
          text-align: right;

          p:last-child {
            line-height: 26px;
          }
        }
        .values {
          text-align: center;

          p:last-child {
            color: $cl-f-base;
            font: { size: 18px; weight: bold; }
          }
        }
      }
    }
  }

  .customer-details {
    padding-left: 80px;
    width: 710px;

    h2 {
      margin-left: 114px;
    }

    .star {
	  color: #d00;
	  width: 20px;
	  margin-left: 5px;
	  margin-top: 16px;
	  font-size: 18px;
	  display: inline-block;
	  vertical-align: top;
	  zoom: 1;
	  line-height: 2;
	}

	.error {
		color: #f00;
		font-size: 14px;
		vertical-align: bottom;
		width: 180px;
		margin-top: 28px;
		display: none;
		position: absolute;
		right: 50px;
		text-align: left;
	}

    .delivery-details {
      margin-top: 70px;

      h2 {
        margin-bottom: 12px;
      }

      fieldset.delivery-specific-details {
        display: none;
      }

      fieldset.with-offset {
        @include inline-block;

        margin-bottom: 32px;
        width: 516px;

        input[type=checkbox] {
          margin-left: 10px;

          &:last-of-type {
            margin-top: 24px;
          }
        }

        label:last-of-type {
          margin-top: 24px;
        }
      }

      .sub-label {
        font-size: 12px;
        line-height: 1;
        margin-left: 16px;
      }

      .selectbox {
        margin-top: 24px;
        position: relative;
        width: 200px;

        .selectbox-element,
        .selectbox-list a {
          @include box-sizing(border-box);

          font-size: 16px;
          padding: 1px 25px 1px 8px;
        }

        .selectbox-element {
          display: block;

          &:before {
            content: "^";

            @include transform(rotate(180deg));

            border-right: 1px solid #777;
            font-size: 18px;
            position: absolute;
            right: 0; top: 0;
            text-align: center;
            width: 24px;
            height: 100%;
          }
        }

        .selectbox-list {
          @include box-sizing(border-box);

          border: 1px solid #777;
          background-color: #CACACA;
          display: none;
          margin-top: -1px;
          padding-top: 4px;
          position: absolute;
          right: 0;
          width: 100%;
          z-index: 1;

          a {
            @include clearfix;

            background-color: #CACACA;
            display: block;
            padding: { top: 4px; bottom: 4px; }

            &:hover {
              color: #FFF;
              background-color: $cl-overlay-items-bg;
            }

            .size { float: left; }
            .price { float: right; }
          }
        }
      }
    }
  }
}