.page-content.grozs {
  @include background-color-hex(#FFF, 0.8);

  padding: 12px 16px;

  header {
    margin-bottom: 24px;

    h1 {
      color: $cl-f-cart-gray;
      font: { size: 22px; weight: normal; }
    }

    .stages {
      border-top: $border-cart;
      padding-top: 12px;
      text-align: center;

      p {
        @include inline-block;

        background-color: #33A880;
        color: #FFF;
        font-size: 18px;
        margin: 0 10px;
        padding: 4px 8px;
        text-transform: uppercase;

        &.active {
          background-color: #C1CB2F;
          color: #FFF;
        }
      }
    }
  }

  footer {
    .links {
      clear: both;
      text-transform: uppercase;
      text-align: center;

      a {
        @include inline-block;

        font-size: 15px;
        margin: 20px 15px;

        &.back {
          line-height: 30px;
        }

        &.confirm {
          background-color: #C1CB2F;
          border: 1px solid #888;
          padding: 3px 12px;
        }
      }
    }
  }

  h2 {
    font: { size: 16px; weight: normal; }
    text-transform: uppercase;
  }
}