.page-content.grozs .cart-items {
  table {
    tr {
      display: block;
      width: 100%;
    }

    td {
      @include box-sizing(border-box);

      &.item-info { width: 466px; }
      &.price,
      &.total-price { width: 180px; }
      &.amount { width: 90px; }
      &.remove { width: 60px; }
    }

    thead, tbody {
      display: block;
      border-bottom: $border-cart;
    }

    thead {
      display: block;
      border-bottom: $border-cart;

      td {
        color: $cl-f-cart-gray;
        text-align: center;
        text-transform: uppercase;
      }
    }

    tbody {
      tr {
        margin-top: 16px;

        &:last-child {
          margin-bottom: 16px;
        }
      }

      td {
        border-right: $border-cart;
        margin-top: 20px;

        &:last-child { border-right: none; }
      }

      td.item-info {
        @include clearfix;

        figure,
        .info {
          float: left;
        }

        figure img {
          width: 150px;
          height: 150px;
        }

        .info {
          margin-left: 12px;

          .subtitle {
            color: $cl-f-cart-gray;
            margin-top: 28px;
          }

          .title {
            font-size: 24px;
            margin-top: 20px;
            text-transform: uppercase;
          }
        }
      }

      td.amount {
        @include clearfix;

        text-align: center;

        input, .buttons {
          @include inline-block;
        }

        input {
          background: none;
          border: none;

          border: $border-cart;
          font-size: 16px;
          margin: 0;
          outline: 0;
          padding: 4px 0;
          text-align: center;
          width: 32px;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
          }
        }

        .buttons {
          margin-left: 4px;

          a {
            display: block;
            line-height: 20px;
            height: 15px;
            width: 15px;
          }

          .incr:after,
          .decr:after {
            content: "^";
            display: block;
            text-align: center;
            width: 15px;
            height: 15px;
          }

          .decr:after {
            @include transform(rotate(180deg));
          }
        }
      }

      td.price,
      td.total-price {
        padding: 0 10px;
        text-align: center;

        .eur {
          font-size: 24px;
        }

        .lat {
          color: $cl-f-cart-gray;
          border-top: $border-cart;
        }
      }

      td.remove {
        padding-left: 12px;

        .remove-item {
          color: $cl-f-cart-gray;
        }
      }
    }
  }

  .total {
    @include clearfix;

    background-color: #33A880;
    color: #444;
    float: right;
    margin-top: 16px;
    padding: 10px;
    min-width: 240px;

    .labels, .values {
      float: left;
      width: 50%;
    }

    .labels {
      text-align: right;

      p:last-child {
        line-height: 36px;
      }
    }
    .values {
      text-align: center;

      p:last-child {
        color: $cl-f-base;
        font-size: 24px;
      }
    }
  }
}
