.page-content.grozs .payment {
  h2 {
    margin: 50px 0;
    text-align: center;
  }

  .payment-types {
    text-align: center;

    a {
      @include inline-block;

      background: {
        repeat: no-repeat;
        position: center center;
      }
      width: 320px; height: 150px;

      &.card {
        background-image: url('../images/grozs/pay-with-card.png');
        margin-right: 50px;
      }

      &.paypal {
        background-image: url('../images/grozs/pay-with-paypal.png');
      }
    }
  }

  .info {
    font-size: 11px;
    margin: 45px 0 100px 100px;
  }
}