.constructor-container {
  @include background-color-hex(#000, 0.7);

  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;

  .constructor-container-inner {
    width: 1008px;
    margin: 0 auto;
    padding: 0 66px;
  }

  .logo {
    background: url('../images/header/logo-darbnica.png') no-repeat;
    display: block;
    margin-bottom: 12px;
    width: 78px;
    height: 145px;
  }

  .constructor {
    background-color: #e9e9e9;
    position: relative;
    padding: 40px 0;

    .close {
      display: block;
      background: url('../images/galerija/overlay-close.png') no-repeat center center;
      position: absolute;
      right: 6px; top: 6px;
      width: 18px;
      height: 18px;
    }

    .constructor-content {
      font-size: 11px;

      & > div {
        @include inline-block;
      }
    }
  }

  .side {
    margin: 0 60px;
    width: 180px;
  }

  .constructor-attributes {
    & > div {
      margin-bottom: 8px;
    }

    h2 {
      background-color: $cl-constructor-headers;
      color: #FFF;
      font: { size: 11px; weight: normal; }
      padding: 4px 6px 3px;
      margin-bottom: 4px;
      text-transform: uppercase;
    }

    .dropdown {
      @include clearfix;

      background-color: $cl-constructor-headers;
      color: #FFF;
      padding: 4px 4px 4px 6px;

      .label {
        float: left;
        padding: 4px 0;
        text-transform: uppercase;
      }

      .selectbox {
        float: right;
        width: 106px;

        .selectbox-element {
          padding: { top: 5px; bottom: 3px; };

          &:before {
            content: "";
            border: {
              left: 4px solid transparent;
              right: 4px solid transparent;
              top: 7px solid #33AA80;
            }
            position: absolute;
            right: 6px; top: 9px;
            width: 0; height: 0;
          }
        }
      }
    }

    .size {
      text-transform: uppercase;
    }

    .color-selector {
      .color-selector-content {
        background-color: #FFF;

        .colors {
          @include clearfix;

          padding: 6px;

          .color {
            cursor: pointer;
            float: left;
            margin: 2px;
            height: 24px;
            width: 24px;

            &:hover, &.active {
              border: 2px solid #686B6B;
              margin: 0;
            }
          }
        }

        .color-switcher {
          $constructor-color-switcher-arrow-color: #33aa80;

          padding: { top: 6px; bottom: 16px; }
          position: relative;
          text-align: center;

          a {
            margin-top: -11px;
            position: absolute;
            top: 50%;
            text-indent: -9999px;
            width: 0;
            height: 0;

            &.color-previous {
              left: 16px;
              border: {
                top: 6px solid transparent;
                bottom: 6px solid transparent;
                right: 11px solid $constructor-color-switcher-arrow-color;
              }
            }

            &.color-next {
              right: 16px;
              border: {
                top: 6px solid transparent;
                bottom: 6px solid transparent;
                left: 11px solid $constructor-color-switcher-arrow-color;
              }
            }
          }

          img {
            @include inline-block;

            width: 100px;
            height: 66px;
          }
        }
      }
    }

    .accessories-selector {
      .accessories-selector-content {
        background-color: #FFF;
      }
    }
  }

  .constructor-builder {
    width: 400px;
    min-height: 1px;

    .drop-bottom-color {
      border: 1px solid #000;
      margin-top: 10px;
      padding: 6px 0;
      text-align: center;
      width: 373px;

      &.drop {
        border-style: dashed;
      }

      .tip {
        @include inline-block;

        line-height: 1.5;
        text-align: center;
        text-transform: uppercase;
        width: 75px;
      }
    }

    .drop-palags-color {
      border: 1px solid #000;
      height: 350px;

      .tip {
        line-height: 1.5;
        margin-top: 165px;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }

  .constructor-info {
    h1 {
      color: #c2cc00;
      font: { size: 24px; weight: normal; }
      letter-spacing: 2px;
      margin-bottom: 4px;
      text-transform: uppercase;
    }

    ul {
      margin: 0;
      padding: 0;

      list-style-position: inside;
    }

    .pricing-info {
      margin-bottom: 10px;
    }

    .fabric-info,
    .fabric-description {
      color: #FFF;
      padding: 10px;
    }

    .fabric-info {
      background-color: #313635;
      margin-bottom: 2px;
    }

    .fabric-description {
      background-color: #3D4140;
      margin-bottom: 10px;
    }

    .costs .cost,
    .total-price {
      @include clearfix;

      .label {
        float: left;
        text-transform: uppercase;
      }

      .price {
        float: right;
      }
    }

    .costs {
      margin-bottom: 8px;

      .cost {
        line-height: 2;
      }
    }

    .total-price {
      background-color: #5F6362;
      margin-bottom: 6px;
      padding: 6px 8px 5px;

      .label {
        color: #FFF;
      }

      .price {
        color: #c2cc00;
      }
    }

    .buttons {
      a {
        @include inline-block;
      }

      .delivery {
        background: {
          image: url('../images/darbnica/delivery_small.png');
          repeat: no-repeat;
          position: right center;
        }
        margin-right: 2px;
        position: relative;
        width: 92px;
        height: 32px;

        span {
          font: {
            size: 9px;
            weight: bold;
          }
          position: absolute;
          top: 4px; left: 2px;
          text-transform: uppercase;
        }
      }

      .order {
        background: url('../images/darbnica/order.png') no-repeat center center;
        font-size: 16px;
        padding: 6px 0 6px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        width: 86px;
      }
    }
  }
}
