.overlay-container {
  @include background-color-hex(#000, 0.7);

  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;

  .overlay-inner-container {
    width: 1008px;
    margin: 0 auto;
    padding: 0 66px;
  }

  .overlay-logo {
    background: url('../images/header/logo-galerija-overlay.png') no-repeat;
    display: block;
    width: 78px;
    height: 145px;
  }

  .overlay {
    @include absolute-center;

    // ADD IE8 CENTERING SUPPORT

    background-color: #E9E9E9;
    min-height: 450px;
    width: 800px;

    .overlay-close {
      display: block;
      background: url('../images/galerija/overlay-close.png') no-repeat center center;
      position: absolute;
      right: 6px; top: 6px;
      width: 18px;
      height: 18px;
    }

    .overlay-content {
      @include clearfix;

      padding: 20px 12px;

      .overlay-images {
        float: left;
        margin-right: 16px;
        width: 320px;

        .overlay-image {
          width: 100%;
          height: 320px;

          img {
            width: 100%;
            max-height: 320px;
          }
        }

        .overlay-thumbnails {
          @include clearfix;

          margin-top: 8px;
          width: 100%;

          .overlay-thumbnail {
            cursor: pointer;
            float: left;
            margin-right: 8px;
            position: relative;
            width: 74px;
            height: 74px;

            &:last-child {
              margin-right: 0;
            }

            &:after {
              content: "";

              @include background-color-hex(#FFF, 0.5);

              position: absolute;
              top: 0; left: 0; bottom: 0; right: 0;
            }

            &:hover:after,
            &.selected:after {
              display: none;
            }
          }
        }
      }
    }

    .overlay-product-details {
      float: left;
      width: 440px;

      header {
        h1, h2 {
          font-weight: normal;
          margin: 0;
        }

        h1 {
          font-size: 13px;
          text-transform: uppercase;
        }

        h2 {
          font-size: 11px;
        }
      }

      .items {
        margin: { top: 4px; bottom: 10px; }

        .item {
          @include clearfix;
          @include box-sizing(border-box);

          background-color: $cl-overlay-items-bg;
          margin-bottom: 1px;
          padding: 4px 6px;
          width: 100%;

          .label, .selectbox {
            float: left;
            width: 50%;
          }

          .label {
            @include box-sizing(border-box);

            color: #FFF;
            font-size: 11px;
            padding-right: 6px;
            text-transform: uppercase;
            text-align: right;
          }
        }
      }

      .selectbox {
        .selectbox-list,
        .selectbox-element {
          .size { float: left; }
          .price { float: right; }
        }

        .selectbox-element:before {
          content: "";

          border: {
            left: 4px solid transparent;
            right: 4px solid transparent;
            top: 7px solid #33AA80;
          }
          position: absolute;
          right: 6px; top: 5px;
          width: 0; height: 0;
        }
      }

      .description {
        color: #706F6F;
        font-size: 11px;
      }

      .washing-instructions {
        background: url('../images/galerija/washing-instructions.png') no-repeat center center;
        margin-top: 20px;
        width: 95px;
        height: 14px;
      }

      .shop {
        @include clearfix;

        font-size: 13px;
        margin-top: 6px;
        padding-top: 8px;
        position: relative;
        text-transform: uppercase;

        &:after {
          content: "";
          background: url('../images/galerija/overlay-dots.png') no-repeat center center;
          position: absolute;
          top: 0;
          width: 100%;
          height: 6px;
        }

        .total-label {
          float: left;
          letter-spacing: 1px;
        }

        .total {
          float: right;
          letter-spacing: 1px;
          text-align: right;
        }

        .delivery-info {
          clear: both;
          color: #706F6F;
          font-size: 11px;
          text-transform: none;
        }

        .add-to-basket {
          background-color: #33A980;
          color: #FFF;
          font-size: 14px;
          float: right;
          margin-top: 8px;
          line-height: 1;
          padding: 8px;
        }
      }
    }
  }
}