.page-content.par-zig-zag {
  nav.content-menu {
    @extend .cls-fixed-side-menu;

    a.active:after,
    a:hover:after {
      background-color: #8FFFFF;
    }
  }

  article {
    margin-bottom: 4px;

    header {
      margin-bottom: 4px;
      overflow: hidden;
      width: 100%;
      height: 156px;

      h1 {
        text-indent: -9999px;
      }
    }

    .content {
      @include background-color-hex(#E9E9E9,0.9);
      padding: 20px;
    }

    &#tava-milaka-gultas-vela, &#kapec-dizainet-savu-unikalo-gultas-velu,
    &#ka-iegadaties, &#kas-mes-esam, &#ka-mes-gatavojam,
    &#draugi-un-partneri, &#kontakti {
      header {
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    &#tava-milaka-gultas-vela header {
	   	background-image: url('../images/par-zig-zag/tava-milaka-gultasvela-en.png');		    
	    &.lv {
	    	background-image: url('../images/par-zig-zag/tava-milaka-gultasvela.png');
	    }
	    &.ru {
	    	background-image: url('../images/par-zig-zag/tava-milaka-gultasvela-ru.png');		    
	    }
    }

    &#kapec-dizainet-savu-unikalo-gultas-velu header {
        background-image: url('../images/par-zig-zag/kapec-dizainet-en.png');
	    &.lv {
	    	background-image: url('../images/par-zig-zag/kapec-dizainet.png');		    
	    }
	    &.ru {
	    	background-image: url('../images/par-zig-zag/kapec-dizainet-ru.png');		    
	    }
    }

    &#ka-iegadaties header {
	    background-image: url('../images/par-zig-zag/ka-iegadaties-gultasvelu-en.png');
	    &.lv {
	    	background-image: url('../images/par-zig-zag/ka-iegadaties-gultasvelu.png');		    
	    }
	    &.ru {
	    	background-image: url('../images/par-zig-zag/ka-iegadaties-gultasvelu-ru.png');		    
	    }
    }

    &#kas-mes-esam header {
	    background-image: url('../images/par-zig-zag/kas-mes-esam-en.png');
	    &.lv {
	    	background-image: url('../images/par-zig-zag/kas-mes-esam.png');		    
	    }
	    &.ru {
	    	background-image: url('../images/par-zig-zag/kas-mes-esam-ru.png');		    
	    }
    }

    &#ka-mes-gatavojam header {
	    background-image: url('../images/par-zig-zag/ka-mes-gatavojam-en.png');
	    &.lv {
	    	background-image: url('../images/par-zig-zag/ka-mes-gatavojam.png');		    
	    }
	    &.ru {
	    	background-image: url('../images/par-zig-zag/ka-mes-gatavojam-ru.png');		    
	    }
    }

    &#draugi-un-partneri header {
    	background-image: url('../images/par-zig-zag/draugi-un-partneri-en.png');		    
	    &.lv {
		    background-image: url('../images/par-zig-zag/draugi-un-partneri.png');
	    }
	    &.ru {
	    	background-image: url('../images/par-zig-zag/draugi-un-partneri-ru.png');		    
	    }
    }

    &#kontakti header {
	    background-image: url('../images/par-zig-zag/kontakti-en.png');
	    &.lv {
		    background-image: url('../images/par-zig-zag/kontakti.png');
	    }
	    &.ru {
	    	background-image: url('../images/par-zig-zag/kontakti-ru.png');		    
	    }
    }
  }
}
