<form id="login" method="post" action="/admin/login/process">
    <h1>ZigZag Fty</h1>
    <fieldset id="inputs">
        <input id="username" type="text" placeholder="Username" name="username" autofocus required>   
        <input id="password" type="password" placeholder="Password" name="password" required>
    </fieldset>
    <fieldset id="actions">
        <input type="submit" id="submit" value="Log in">
    </fieldset>
</form>