<div class="content-container masonry" data-gutter="10">
	{foreach $feedback_list as $item}
	    <article class="item">
	        {if $item.first_image}
	        <figure>
	            <img src="/uploads/feedbackimages/{$item.pfbk_id}/{$item.first_image[0]['pimg_name']}" width="180" height="155" alt="" />
	        </figure>
	        {/if}
	        <div class="content">
	            <h2></h2>
	            <div>{$item.lfbk_text}</div>
	        </div>
	    </article>
	{/foreach}
</div>
