<header>
    <h1>{$tr->_('Pirkumu grozs')}</h1>

    <div class="stages">
        <p>1. {$tr->_('pirkumu grozs')}</p>
        <p>2. {$tr->_('pasūtījuma dati')}</p>
        <p class="active">3. {$tr->_('APMAKSA')}</p>
        <p>4. {$tr->_('kopsavilkums')}</p>
    </div>
</header>

<div class="payment">
    <h2>{$tr->_('izvēlieties apmaksas veidu')}</h2>

    <div class="payment-types">
    	<form method="post" name="pform" action="{$airpay_url}">
	        {$airpay_form}
	        <a href="#" class="card"></a>
	        <a href="#" class="paypal"></a>
    	</form>
    </div>

    <div class="info">{$tr->_('Pēc pasūtījuma apstiprināšanas Jūs pārvirzīs uz AirPay drošu maksājumu lapu')}.</div>
</div>