<header>
    <h1>{$tr->_('Pirkumu grozs')}</h1>

    <div class="stages">
        <p class="active">1. {$tr->_('pirkumu grozs')}</p>
        <p>2. {$tr->_('pasūtījuma dati')}</p>
        <p>3. {$tr->_('APMAKSA')}</p>
        <p>4. {$tr->_('kopsavilkums')}</p>
    </div>
</header>

<div class="cart-items">
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <td class="item-info"></td>
                <td class="price">{$tr->_('gab. cena')}</td>
                <td class="amount">{$tr->_('skaits')}</td>
                <td class="total-price">{$tr->_('cena kopā')}</td>
                <td class="remove"></td>
            </tr>
        </thead>
        <tbody>
        	{foreach $cart_items as $key => $item}
            <tr data-item-id="{$key}">
                <td class="item-info">
                    <figure>
                        {if $item._image}<img src="/uploads/galleryimages/{$item._item.pgal_id}/lt_{$item._image[0].pimg_name}" alt="">{/if}
                    </figure>

                    <div class="info">
                        <p class="subtitle">{if $item._item.pgal_id != ''}{$tr->_('Ideāla gultas veļa')}{else if $item._item.pfac_id != ''}{$tr->_('Jūsu ideālā gultas veļa')}{/if}</p>
                        <p class="title">{$item._item.lgal_title}</p>
                        {if $item._size1}<p style="font-size:11px;">{if $item._size1.cprt_code == 'spilvendrana' && $item._item.pfac_id != ''}{$tr->_('Spilvendrāna')}{else}{$tr->_($item._size1.cprt_name)}{/if} {$item._size1.clss_width} x {$item._size1.clss_height} {$tr->_('cm')}</p>{/if}
                        {if $item._size2}<p style="font-size:11px;">{if $item._size2.cprt_code == 'spilvendrana' && $item._item.pfac_id != ''}{$tr->_('Spilvendrāna')}{else}{$tr->_($item._size2.cprt_name)}{/if} {$item._size2.clss_width} x {$item._size2.clss_height} {$tr->_('cm')}</p>{/if}
                        {if $item._size4}<p style="font-size:11px;">{if $item._size4.cprt_code == 'spilvendrana' && $item._item.pfac_id != ''}{$tr->_('Spilvendrāna')}{else}{$tr->_($item._size4.cprt_name)}{/if} {$item._size4.clss_width} x {$item._size4.clss_height} {$tr->_('cm')}</p>{/if}
                        {if $item._size3}<p style="font-size:11px;">{if $item._size3.cprt_code == 'spilvendrana' && $item._item.pfac_id != ''}{$tr->_('Spilvendrāna')}{else}{$tr->_($item._size3.cprt_name)}{/if} {$item._size3.clss_width} x {$item._size3.clss_height} {$tr->_('cm')}</p>{/if}
                    </div>
                </td>
                <td class="price">
                    <p class="eur">{$item._total} €</p>
                    {if $lang != 'en'}<p class="lat">{$item._total_lvl} Ls</p>{/if}
                </td>
                <td class="amount">
                    <input type="number" class="item-amount" min="1" value="{$item._qty}" disabled>
                    <div class="buttons">
                        <a href="#" class="incr"></a>
                        <a href="#" class="decr"></a>
                    </div>
                </td>
                <td class="total-price">
                    <p class="eur">{$item._item_total} €</p>
                    {if $lang != 'en'}<p class="lat">{$item._item_total_lvl} Ls</p>{/if}
                </td>
                <td class="remove">
                    <a href="#" class="remove-item">x</a>
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>

    <div class="total">
        <div class="labels">
            <p>{$tr->_('Summa')}:</p>
            <p>{$tr->_('PVN')} 21%:</p>
            <p>{$tr->_('Summa kopā')}:</p>
        </div>
        <div class="values">
            <p id="subtotal">{if $prices._subtotal == ''}0.00{else}{$prices._subtotal}{/if} €</p>
            <p id="vat">{if $prices._vat == ''}0.00{else}{$prices._vat}{/if} €</p>
            <p id="total">{if $prices._total == ''}0.00{else}{$prices._total}{/if} €</p>
        </div>
    </div>
</div>
    
<footer>
    <div class="links">
        <a href="/{$lang}/darbnica" class="back">&lt; {$tr->_('turpināt iepirkšanos')}</a>
        <a href="/{$lang}/grozs/pasutijums" class="confirm">{$tr->_('veikt pasūtījumu')}</a>
    </div>
</footer>