<header>
    <h1>{$tr->_('Pirkumu grozs')}</h1>

    <div class="stages">
        <p>1. {$tr->_('pirkumu grozs')}</p>
        <p>2. {$tr->_('pasūtījuma dati')}</p>
        <p>3. {$tr->_('APMAKSA')}</p>
        <p class="active">4. {$tr->_('kopsavilkums')}</p>
    </div>
</header>

<div class="done">
    <div class="outer">
        <div class="inner">
            <p>{$tr->_('PALDIES')}!</p>
            <p>{$tr->_('Jūsu pasūtījums ir apstiprināts')}!</p>
            <p>{$tr->_('Jau drīz saņemsiet apstiprinājuma e-pastu')}.</p>
        </div>
    </div>

    <footer>
        <div class="links">
            <a href="/{$lang}/darbnica" class="confirm">{$tr->_('turpināt iepirkšanos')}</a>
        </div>
    </footer>
</div>

<script type="text/javascript">
  var _gaq = _gaq || [];

  {if $order}
  _gaq.push(['_addTrans',
    '{$order.pord_id}', // transaction ID - required
    'ZIGZAG FACTORY',   // affiliation or store name
    '{$order.pord_invoice_total}',          // total - required
    '{$order.pord_invoice_vat}',           // tax
    '0',              // shipping
    '{$order.pord_cl_delivery_city}',       // city
    '',     // state or province
    '{$order.clsc_name_lv}'             // country
  ]);

   // add item might be called for every item in the shopping cart
   // where your ecommerce engine loops through each item in the cart and
   // prints out _addItem for each
  {foreach $order_items as $item}
  _gaq.push(['_addItem',
    '{$order.pord_id}',           // transaction ID - required
    '{if $item.poit_pgal_id}{$item.poit_pgal_id}{else}DARB01{/if}',           // SKU/code - required
    '{if $item.poit_pgal_id}{$item.lgal_title}{else}Ideāla gultas veļa{/if}',        // product name
    '',   // category or variation
    '{$item.poit_price}',          // unit price - required
    '{$item.poit_qty}'               // quantity - required
  ]);
  {/foreach}

  _gaq.push(['_set', 'currencyCode', 'EUR']);
  _gaq.push(['_trackTrans']); //submits transaction to the Analytics servers
  {/if}
</script>