<header>
    <h1>{$tr->_('Pirkumu grozs')}</h1>

    <div class="stages">
        <p>1. {$tr->_('pirkumu grozs')}</p>
        <p class="active">2. {$tr->_('pasūtījuma dati')}</p>
        <p>3. {$tr->_('APMAKSA')}</p>
        <p>4. {$tr->_('kopsavilkums')}</p>
    </div>
</header>

<div class="order-data"><form method="post" action="">
    <div class="info">
        <section class="info-group total">
            <h2>{$tr->_('pasūtījuma informācija')}</h2>

            <div class="content">
                <div class="labels">
                    <p>{$tr->_('Summa')}:</p>
                    <p>{$tr->_('PVN')} 21%:</p>
                    <p>{$tr->_('Summa kopā')}:</p>
                </div>
                <div class="values">
		            <p>{if $prices._subtotal == ''}0.00{else}{$prices._subtotal}{/if} €</p>
		            <p>{if $prices._vat == ''}0.00{else}{$prices._vat}{/if} €</p>
		            <p>{if $prices._total == ''}0.00{else}{$prices._total}{/if} €</p>
                </div>
            </div>
        </section>

        <section class="info-group">
            <h2>{$tr->_('izpildes termiņi')}</h2>

            <div class="content">
            	{if $lang == 'lv'}
	            	Izgatavošanas laiks gultas veļas komplektiem ir 5 darba dienas no pasūtījuma apmaksas brīža.
	            {elseif $lang == 'en'}
	            	Production time for bedding sets is 5 business days from the payment date. 
	            {elseif $lang == 'ru'}
	            	Срок изготовления комплекта постельного белья 5 рабочих дней с момента оплаты заказа.
	            {/if}
	        </div>
        </section>

        <div class="info-group">
            <h2>{$tr->_('piegāde')}</h2>

            <div class="content">
            	{if $lang == 'lv'}
	            	Iegādājieties pilnu gultas veļas komplektu un saņemiet piegādi bez maksas visā pasaulē. Piegādes termiņi atkārībā no izvēlētās valsts, sākot no 2 līdz 7 darba dienām.	
	            {elseif $lang == 'en'}
	            	Buy a full bedding sett and get it delivered for free worldwide. Delivery time depends on the country of destination and varies from 2 to 7 business days.
	            {elseif $lang == 'ru'}
					Приобретайте полный комплект постельного белья и получайте бесплатную доставку в любую точку мира. Сроки доставки зависят от  Вашей страны, начиная от 2 до 7 рабочих дней.       
				{/if}
            </div>
        </div>
    </div>
    
    <div class="customer-details">
        <fieldset class="billing-details">
            <h2>{$tr->_('kontaktinformācija')}</h2>

            <input type="hidden" name="order_id" id="order_id" value="{$cl_info.order_id}">
            
            <label for="billingFirstName">{$tr->_('Vārds')}:</label>
            <input type="text" name="billingFirstName" id="billingFirstName" value="{$cl_info.billingFirstName}" required> 
            <span class="star">*</span> 
            <span id="error_billingFirstName" class="error">Nav aizpildīts - {$tr->_('Vārds')}</span><br>

            <label for="billingLastName">{$tr->_('Uzvārds')}:</label>
            <input type="text" name="billingLastName" id="billingLastName" value="{$cl_info.billingLastName}" required>
            <span class="star">*</span> 
            <span id="error_billingLastName" class="error">Nav aizpildīts - {$tr->_('Uzvārds')}</span><br>

            <label for="billingEmail">{$tr->_('E-pasts')}:</label>
            <input type="email" name="billingEmail" id="billingEmail" value="{$cl_info.billingEmail}" required>
            <span class="star">*</span> 
            <span id="error_billingEmail" class="error">Nav aizpildīts - {$tr->_('E-pasts')}</span><br>

            <input type="checkbox" name="newsletterOptIn" id="newsletterOptIn" {if $cl_info.newsletterOptIn == 1}checked{/if}>
            <label for="newsletterOptIn" class="checkbox-label">{$tr->_('Vēlos saņemt jaunumus e-pastā')}</label><br>

            <label for="billingPhone">{$tr->_('Tālrunis')}:</label>
            <input type="tel" name="billingPhone" id="billingPhone" value="{$cl_info.billingPhone}" required>
            <span class="star">*</span> 
            <span id="error_billingPhone" class="error">Nav aizpildīts - {$tr->_('Tālrunis')}</span><br>

            <label for="billingAdditionalInfo">{$tr->_('Papildus info')}:</label>
            <textarea name="billingAdditionalInfo" id="billingAdditionalInfo" rows="4">{$cl_info.billingAdditionalInfo}</textarea>
        </fieldset>

        <fieldset class="delivery-details">
            <h2>{$tr->_('piegādes adrese')}</h2>

            <fieldset class="delivery-specific-details">
                <label for="deliveryName">{$tr->_('Saņēmēja vārds')}:</label>
                <input type="text" name="deliveryName" id="deliveryName" value="{$cl_info.deliveryName}">
	            <span class="star">*</span> 
	            <span id="error_deliveryName" class="error">Nav aizpildīts - {$tr->_('Saņēmēja vārds')}</span><br>

                <label for="deliveryPhone">{$tr->_('Tālrunis')}:</label>
                <input type="text" name="deliveryPhone" id="deliveryPhone" value="{$cl_info.deliveryPhone}" required>
	            <span class="star">*</span> 
	            <span id="error_deliveryPhone" class="error">Nav aizpildīts - {$tr->_('Tālrunis')}</span><br>
            </fieldset>

            <input type="checkbox" name="deliveryNameMatchesBilling" id="deliveryNameMatchesBilling" {if $cl_info.deliveryNameMatchesBilling == 1}checked{/if}>
            <label for="deliveryNameMatchesBilling" class="checkbox-label">{$tr->_('Saņēmējs sakrīt ar pasūtītāju')}</label><br>

            <label for="deliveryCountry">{$tr->_('Adrese')}:</label>

            <fieldset class="with-offset">

                <div class="selectbox" style="float:left;margin-right:5px;">
                    <input type="hidden" name="deliveryCountry" id="deliveryCountry" class="selectbox-value" value="{$cl_info.deliveryCountry}">
                    <a href="#" class="selectbox-element" data-value="{$country_list[0].clsc_id}">{$country_list[0].clsc_name}</a>

                    <div class="selectbox-list">
                    	{foreach $country_list as $country}
                        	<a href="#" class="selectbox-list-item" data-value="{$country.clsc_id}">{$country.clsc_name}</a>
                        {/foreach}
                    </div>
                </div><span class="star">*</span> 
	            <span id="error_deliveryCountry" class="error">Nav aizpildīts - {$tr->_('Valsts')}</span><br>
                <span class="sub-label">{$tr->_('Valsts')}</span><br>

                <input type="text" name="deliveryCity" id="deliveryCity" value="{$cl_info.deliveryCity}" required>
	            <span class="star">*</span> 
	            <span id="error_deliveryCity" class="error">Nav aizpildīts - {$tr->_('Pilsēta')}</span><br>
                <span class="sub-label">{$tr->_('Pilsēta')}</span><br>

                <input type="text" name="deliveryStreet" id="deliveryStreet" value="{$cl_info.deliveryStreet}" required>
	            <span class="star">*</span> 
	            <span id="error_deliveryStreet" class="error">Nav aizpildīts - {$tr->_('Piegādes adrese - Iela, māja, numurs')}</span><br>
                <span class="sub-label">{$tr->_('Piegādes adrese - Iela, māja, numurs')}</span><br>

                <input type="text" name="deliveryZip" id="deliveryZip" value="{$cl_info.deliveryZip}" required>
	            <span class="star">*</span> 
	            <span id="error_deliveryZip" class="error">Nav aizpildīts - {$tr->_('Pasta indekss')}</span><br>
                <span class="sub-label">{$tr->_('Pasta indekss')}</span><br>

                <input type="checkbox" name="confirmData" id="confirmData">
                <label for="confirmData" class="checkbox-label">{$tr->_('Esmu iepazinies ar')} <a href="#" class="termsAndConditions">{$tr->_('distances līgumu')}</a> {$tr->_('un piekrītu tā noteikumiem')}.</label>
            </fieldset>
        </fieldset>
    </div>

    <footer>
        <div class="links">
            <a href="/{$lang}/grozs" class="back">&lt; {$tr->_('atpakaļ')}</a>
            <a href="#" class="confirm">{$tr->_('veikt pasūtījumu')}</a>
        </div>
    </footer>
</form></div>