<!doctype html>
<html>
<head>
<style>
	* {
		font-family: "DejaVu Sans", sans-serif;;
		font-size: 8pt;
	}

	body {
		width: 555pt;
		margin: 0 auto;
	}
	
	table.rekviziti td {
		border-bottom: 1px solid black;
	}
	
	table.cart-items {
		margin: 20px 0;
		font-size: 8pt;
	}
		
	table.cart-items th, table.cart-items td {
		text-align: center;
		border-bottom: 1px solid black;
	}
	
	table.paraksti th {
		font-weight: normal;
		text-align: left;
		line-height: 15pt;
	}
	
	table.paraksti td {
		border-bottom: 1px solid black;
		width: 70%;
	}
</style>

</head>
<body>
	<img src="./images/zig-zag-logo.png" width="80" />
	
	<div style="position:absolute;right:1px;top:1px;width:250pt;">
		<table style="width:100%;">
			<tr>
				<td style="text-align:right;width:40%;">Datums:</td>
				<td>&nbsp;20.05.2015</td>
			</tr>
			<tr>
				<td style="text-align:right;">Pasūtījuma Nr.:</td>
				<td>&nbsp;0000123</td>
			</tr>
		</table>	
	</div>
	
		<div style="text-align:center;margin: 20px 0;font-size:11pt;">JŪSU MĪĻĀKĀ GULTAS VEĻA – JŪSU DIZAINS NO DRAUDZĪGA AUDUMA!</div>
		<div style="border-bottom:2px solid black;font-weight:bold;font-size:13pt;">RĒĶINS/PAVADZĪME</div>
		<table style="width:100%;" cellspacing="0">
			<tr>
				<td style="width:45%;" valign="top">
					<table style="width:100%;" class="rekviziti" cellspacing="0">
						<tr>
							<td style="width:50%;">Piegādātājs:</td>
							<td>SIA "ZIGZAG FACTORY"</td>
						</tr>
						<tr>
							<td>Reģ. Nr.:</td>
							<td>40103712517</td>
						</tr>
						<tr>
							<td>Adrese:</td>
							<td>Kuldīga, Virkas iela 11</td>
						</tr>
						<tr>
							<td>AS DNB banka</td>
							<td>LV85RIKO0002013315734</td>
						</tr>
					</table>
				</td>
				<td></td>
				<td style="width:45%;" valign="top">
					<table style="width:100%;" class="rekviziti" cellspacing="0">
						<tr>
							<td style="width:50%;">Maksātājs:</td>
							<td>Vārds Uzvārds</td>
						</tr>
						<tr>
							<td>Pers. Kods:</td>
							<td>XXXXXX-XXXXX</td>
						</tr>
						<tr>
							<td>Veids:</td>
							<td>Kurjers</td>
						</tr>
						<tr>
							<td>Vieta:</td>
							<td>Rīga</td>
						</tr>
						<tr>
							<td>Valsts:</td>
							<td>Latvija</td>
						</tr>
						<tr>
							<td>Tālrunis:</td>
							<td>20087725</td>
						</tr>
						<tr>
							<td>Maksājuma veids:</td>
							<td>Ar karti</td>
						</tr>
						<tr>
							<td>Komentārs:</td>
							<td>XXXXXX</td>
						</tr>
					</table>				
				</td>
			</tr>
		</table>
		
		<table style="width:100%;" cellspacing="0" class="cart-items">
			<tr>
				<th style="width:5%;">Nr.</th>
				<th>Nosaukums</th>
				<th style="width:7%;">Mērv.</th>
				<th style="width:7%;">Daudz.</th>
				<th style="width:10%;">Cena bez PVN</th>
				<th style="width:7%;">PVN</th>
				<th style="width:7%;">Summa</th>
				<th style="width:10%;">Atlaide</th>
				<th style="width:15%;">Summa ar atlaidi</th>
			</tr>
			<tr>
				<td>1.</td>
				<td style="text-align:left;">Gultas veļa komplekts (ZIGZAG FACTORY).<br> Virspalags (200x200),<br> Palags (220x200),<br> Spilvendrānas 2gab. (50x70)</td>
				<td>gab.</td>
				<td>1</td>
				<td>5,96</td>
				<td>21%</td>
				<td>6,67</td>
				<td></td>
				<td>6,67</td>
			</tr>			<tr>
				<td>2.</td>
				<td style="text-align:left;">Gultas veļa komplekts (ZIGZAG FACTORY).<br> Virspalags (200x200),<br> Palags (220x200),<br> Spilvendrānas 2gab. (50x70)</td>
				<td>gab.</td>
				<td>1</td>
				<td>5,96</td>
				<td>21%</td>
				<td>6,67</td>
				<td></td>
				<td>6,67</td>
			</tr>			<tr>
				<td>3.</td>
				<td style="text-align:left;">Gultas veļa komplekts (ZIGZAG FACTORY).<br> Virspalags (200x200),<br> Palags (220x200),<br> Spilvendrānas 2gab. (50x70)</td>
				<td>gab.</td>
				<td>1</td>
				<td>5,96</td>
				<td>21%</td>
				<td>6,67</td>
				<td></td>
				<td>6,67</td>
			</tr>
			<tr>
				<td colspan="8" style="text-align:right;">Kopsumma bez PVN 21%</td>
				<td>11,91</td>
			</tr>
			<tr>
				<td colspan="8" style="text-align:right;">PVN 21%</td>
				<td>1,43</td>
			</tr>
			<tr>
				<td colspan="8" style="text-align:right;">Summa apmaksai EUR ar PVN</td>
				<td>€ 13,34</td>
			</tr>
			<tr>
				<td colspan="8" style="text-align:right;">Summa apmaksai LVL ar PVN</td>
				<td>Ls 9,38</td>
			</tr>
		</table>
	
		<table style="width:100%;" cellspacing="0">
			<tr>
				<td style="width:45%;" valign="top">
					<table style="width:100%;" cellspacing="0">
						<tr>
							<td>Darījuma apraksts: preču piegāde</td>
						</tr>
					</table>
				</td>
				<td></td>
				<td style="width:45%;" valign="top">
					<table style="width:100%;" cellspacing="0">
						<tr>
							<td>Mobilais tālrunis uzziņām - +371 20087725</td>
						</tr>
					</table>				
				</td>
			</tr>
			<tr>
				<td>Summa vārdiem: trīspadsmit euro 34 centi</td>
			</tr>
		</table>		
		
		<table style="width:100%;margin-top:20px;" cellspacing="0">
			<tr>
				<td style="width:45%;" valign="top">
					<table style="width:100%;" class="paraksti" cellspacing="0">
						<tr>
							<th colspan="2"><b>Izsniedza/ iepakoja:</b></th>
						</tr>
						<tr>
							<th>Vārds, Uzvārds</th>
							<td></td>
						</tr>
						<tr>
							<th>Datums</th>
							<td></td>
						</tr>
						<tr>
							<th>Paraksts</th>
							<td></td>
						</tr>
					</table>
				</td>
				<td></td>
				<td style="width:45%;" valign="top">
					<table style="width:100%;" class="paraksti" cellspacing="0">
						<tr>
							<th colspan="2"><b>Pieņēma:</b></th>
						</tr>
						<tr>
							<th>Vārds, Uzvārds</th>
							<td></td>
						</tr>
						<tr>
							<th>Datums</th>
							<td></td>
						</tr>
						<tr>
							<th>Paraksts</th>
							<td></td>
						</tr>
					</table>				
				</td>
			</tr>
		</table>		
</body>