<form action="" method="post">
	<article class="module width_half">
		<header></header>

		{if $code == 'cls_languages'}
		<div class="module_content">
			<fieldset class="half_left">
				<label>* Name</label>
				<input type="text" name="clsl_name" value="{$classifier.clsl_name}" required />
			</fieldset>
			
			<fieldset class="half_right">
				<label>* Code</label>
				<input type="text" name="clsl_code" value="{$classifier.clsl_code}" required />
			</fieldset>
			
			<div class="clear"></div>
			
			<fieldset class="half_left">
				<label>Options</label><br />
				<input type="checkbox" id="active" name="clsl_is_active" {if $classifier.clsl_is_active == 1}checked{/if} /><label class="checkbox" for="active">Active</label><br/>
				<input type="checkbox" id="default" name="clsl_is_default" {if $classifier.clsl_is_default == 1}checked{/if} /><label class="checkbox" for="default">Default</label>
			</fieldset>
			
			<fieldset class="half_right">
				<label>Order</label>
				<input type="text" name="clsl_order" value="{$classifier.clsl_order}" />
			</fieldset>
					
			<div class="clear"></div>
		</div>	
		{elseif $code == 'cls_stable_types'}
		<div class="module_content stable_type_translations">
				<fieldset>
					<label class="checkbox">Color</label>
					<input type="color" name="cstt_color" value="{$classifier.cstt_color}" />
				</fieldset>
				
				<fieldset>
					<label class="checkbox">Show on map</label>
					<input type="checkbox" name="cstt_show_on_map" {if $classifier.cstt_show_on_map == 1 || !$classifier}checked{/if} />
				</fieldset>
				
			{foreach $classifier_all as $i}	
				<fieldset>
					<label>
						<img src="/images/flags/{$i.clsl_code}.png" /> {$i.clsl_name} {if $i.clsl_is_active == 0} <span style="color:#999;font-size:7pt;"> - Inactive</span>{/if}
					</label>
					<input type="hidden" name="cstt[{$i.clsl_code}][lstt_id]" value="{$i.lstt_id}" />
					<input type="text" name="cstt[{$i.clsl_code}][lstt_name]" value="{$i.lstt_name}" {if $i.clsl_is_default == 1}required{/if} />
				</fieldset>
			{/foreach}
		</div>
		{elseif $code == 'cls_advert_section'}
		<div class="module_content">
			{foreach $classifier_all as $i}	
				<fieldset>
					<label>
						<img src="/images/flags/{$i.clsl_code}.png" /> {$i.clsl_name} {if $i.clsl_is_active == 0} <span style="color:#999;font-size:7pt;"> - Inactive</span>{/if}
					</label>
					<input type="hidden" name="case[{$i.clsl_code}][lase_id]" value="{$i.lase_id}" />
					<input type="text" name="case[{$i.clsl_code}][lase_name]" value="{$i.lase_name}" {if $i.clsl_is_default == 1}required{/if} />
				</fieldset>
			{/foreach}
		</div>
		{elseif $code == 'cls_advert_category'}
		<div class="module_content">
			{foreach $classifier_all as $i}	
				<fieldset>
					<label>
						<img src="/images/flags/{$i.clsl_code}.png" /> {$i.clsl_name} {if $i.clsl_is_active == 0} <span style="color:#999;font-size:7pt;"> - Inactive</span>{/if}
					</label>
					<input type="hidden" name="caca[{$i.clsl_code}][laca_id]" value="{$i.laca_id}" />
					<input type="text" name="caca[{$i.clsl_code}][laca_name]" value="{$i.laca_name}" {if $i.clsl_is_default == 1}required{/if} />
				</fieldset>
			{/foreach}
		</div>
		{elseif $code == 'cls_currency'}
		<div class="module_content">
			<fieldset>
				<label>* Code</label>
				<input type="text" maxlength="3" name="ccur_code" value="{$classifier.ccur_code}" required />
			</fieldset>
			
			<fieldset>
				<label>Name</label>
				<input type="text" maxlength="128" name="ccur_name" value="{$classifier.ccur_name}" />
			</fieldset>
			
			<fieldset>
				<label>Country</label>
				<select name="ccur_clsc_id">
							<option value="">-- Please Choose --</option>
					{foreach $country_list as $i}
							<option value="{$i.clsc_id}" {if $classifier.ccur_clsc_id == $i.clsc_id}selected{/if}>{$i.clsc_name}</option>	
					{/foreach}
				</select>
			</fieldset>
		</div>
		{elseif $code == 'cls_countries'}
		<div class="module_content">
			<fieldset>
				<label>* Code</label>
				<input type="text" maxlength="2" name="clsc_code" value="{$classifier.clsc_code}" required />
			</fieldset>

			<fieldset>
				<label>* Name (EN)</label>
				<input type="text" maxlength="200" name="clsc_name_en" value="{$classifier.clsc_name_en}" required />
			</fieldset>
			
			<fieldset>
				<label>* Name (LV)</label>
				<input type="text" maxlength="200" name="clsc_name_lv" value="{$classifier.clsc_name_lv}" />
			</fieldset>

			<fieldset>
				<label>* Name (RU)</label>
				<input type="text" maxlength="200" name="clsc_name_ru" value="{$classifier.clsc_name_ru}" />
			</fieldset>

			<fieldset>
				<label>* Name (NO)</label>
				<input type="text" maxlength="200" name="clsc_name_no" value="{$classifier.clsc_name_no}" />
			</fieldset>
		
			<fieldset class="half_left">
				<label>Options</label><br />
				<input type="checkbox" id="active" name="clsc_is_active" {if $classifier.clsc_is_active == 1}checked{/if} /><label class="checkbox" for="active">Active</label><br/>
			</fieldset>
			
			<fieldset class="half_right">
				<label>Order</label>
				<input type="text" name="clsc_order" value="{$classifier.clsc_order}" />
			</fieldset>
					
			<div class="clear"></div>		
		</div>	
		{elseif $code == 'cls_sizes'}
		<div class="module_content">
			<fieldset class="half_left">
				<label>* Width</label>
				<input type="text" name="clss_width" value="{$classifier.clss_width}" required />
			</fieldset>
			
			<fieldset class="half_right">
				<label>* Height</label>
				<input type="text" name="clss_height" value="{$classifier.clss_height}" required />
			</fieldset>

			<div class="clear"></div>		

			<fieldset class="half_left">
				<label>* Price</label>
				<input type="text" name="clss_base_price" value="{$classifier.clss_base_price}" required />
			</fieldset>
			
			<fieldset class="half_right">
				<label>* Category</label>
				<select name="clss_cprt_id">
					{foreach $product_type_list as $type}
						<option value="{$type.cprt_id}" {if $type.cprt_id == $classifier.clss_cprt_id}selected{/if}>{$type.cprt_name}</option>
					{/foreach}
				</select>
			</fieldset>

			<div class="clear"></div>		
		</div>	
		{/if}
		<footer>
			<div class="submit_link">
				<input type="submit" value="Save" class="alt_btn" name="save" />
				<input type="submit" value="Cancel" name="cancel" formnovalidate />
			</div>
		</footer>
		
	</article>

	{if $code == 'cls_stable_types'}
	
	<article class="module width_half right">
		<header>
		{if $lang == 'lv'}
			<ul class="links">
				<li><a href="javascript:void(0);" id="subtype_add" onclick="addSubType('{$lang}');">Add</a></li>
			</ul>
		{/if}	
		</header>
		
		<div class="module_content">		
			<input type="hidden" name="switch_lang" id="switch_lang" />

			<fieldset>
				<label>Language</label>
				<select name="switch_lang" onChange="submit();" {if $classifier.cstt_id == ''}disabled{/if}>
					{foreach $lang_list as $i}
							<option value="{$i.clsl_code}" {if $lang == $i.clsl_code}selected{/if}>{$i.clsl_name}</option>	
					{/foreach}
				</select>
			</fieldset>
			
			<fieldset id="subtype_list">			
				<label>Attributes</label>
				<ul>
				{foreach $attrib_list as $item}
				<li class="attrib_item" id="attrib-{$item.csta_id}">
					<input type="hidden" name="attribs[{$item@index}][csta_id]" value="{$item.csta_id}" />
					<input type="hidden" name="attribs[{$item@index}][lsta_id]" value="{$item.lsta_id}" />
					{if $lang != "lv"}<input type="text" value="{$item.lsta_name_lv}" disabled /><br/>{/if}
					<input type="text" name="attribs[{$item@index}][lsta_name]" value="{$item.lsta_name}" />
					<select name="attribs[{$item@index}][csta_type]" id="type_{$item@index}">
						<option value="text" {if $item.csta_type == 'text' || $item.csta_type == ''}selected="selected"{/if}>Teksts</option>
						<option value="currency" {if $item.csta_type == 'currency'}selected="selected"{/if}>Valūta</option>
						<option value="long_text" {if $item.csta_type == 'long_text'}selected="selected"{/if}>Apraksts</option>
					</select>
					<div class="clear"></div>
					<input type="button" value="Delete" onclick="deleteAttrib({$item.csta_id});" />
 				</li>
				{/foreach}
				</ul>
			</fieldset>

		</div>

		<footer>
			<div class="submit_link">
				<input type="submit" value="Save" class="alt_btn" name="save" />
				<input type="submit" value="Cancel" name="cancel" formnovalidate />
			</div>
		</footer>		
	</article>	
		
	{/if}

</form>

{if $code == 'cls_stable_types'}
<form id="ajaxMarkerUpload" enctype="multipart/form-data" method="post" action="/admin/ajax/upload">

	<article class="module width_half">
		<header><h3>Map Marker</h3></header>
		<div class="module_content ajax_upload">
			<input type="hidden" id="referenceID" value="{$classifier.cstt_id}" />
			<input id="filesToUpload" style="" type="file" name="filesToUpload[]" onchange="makeUploadFilesList();" />
			<input type="button" id="addFilesButton" value="Select files" />
			<input type="submit" value="Upload">
			<div class="progress">
		        <div class="bar"></div>
		        <div class="percent">0%</div>
		    </div>
		    <ul id="fileList"></ul>
		    <ul id="imageList">
		    	{foreach $image_list as $img}
		    	<li class="image" id="img-{$img.pimg_id}">
		    		<img src="/uploads/markerimages/{$classifier.cstt_id}/{$img.pimg_name}" alt="{$img.pimg_name}" />
		    		<a href="#" onclick="deleteImage('{$img.pimg_name}', {$img.pimg_id}); return false;">Delete</a>
		    	</li>
		    	{/foreach}
		    </ul>
	    </div>
	    
	</article>
	
</form>
{/if}

<script src="/js/admin_{$_controller}.js"></script>