		<article class="module width_half">
		<header><h3 class="tabs_involved">Classifier list</h3></header>

		<div class="module_content no_margin">
			<table class="tablesorter border_radius_bottom" cellspacing="0"> 
			<thead> 
				<tr> 
					<th style="width:5%;"></th>
    				<th>Name</th>
				</tr> 
			</thead> 
			<tbody> 
				{foreach from=$classifier_list item=i}
					<tr> 
	    				<td>
	    					<a class="icn icn_list" href="/admin/classifier/list/code/{$i.code}"></a>
	    				</td> 
	    				<td onClick="location.href='/admin/classifier/list/code/{$i.code}'" style="cursor:pointer;">{$i.label}</td>
					</tr> 
				{/foreach}
			</tbody> 
			</table>
						
		</div>
		
		</article>
