<article class="module width_half">
	<header>
		<h3 class="links_involved">Classifier</h3>
		<ul class="links">
		{if $code == 'cls_gallery_categories'}
			<li><a href="javascript:void(0);" onClick="addEntry();">Add</a></li>
		{else}
			<li><a href="/admin/classifier/edit/code/{$code}">Add</a></li>
		{/if}
		</ul>				
	</header>

	<div class="module_content no_margin">
		<input type="hidden" id="classifier-code" name="classifier-code" value="{$code}" />
		<table class="tablesorter border_radius_bottom" cellspacing="0"> 
	
		{* LANGUAGES *}
		{if $code == 'cls_languages'}
			<thead> 
				<tr> 
					<th>Name</th>
					<th>Code</th>
					<th>Status</th>
					<th>Actions</th>
				</tr> 
			</thead> 
			<tbody> 
				{foreach from=$classifier item=i}
					<tr> 
						<td><img src="/images/flags/{$i.clsl_code}.png" alt="" /> {$i.clsl_name}</td>
						<td>{$i.clsl_code}</td>
						<td>{if $i.clsl_is_default == 1}Default{elseif $i.clsl_is_active == 1}Active{else}Inactive{/if}</td>
						<td>
							<a class="icn icn_edit" href="/admin/classifier/edit/code/{$code}/id/{$i.clsl_id}"></a>
							{if $i.clsl_is_default != 1}
							<a class="icn icn_trash" href="/admin/classifier/delete/code/{$code}/id/{$i.clsl_id}" onclick="return confirm('Are you sure you want to permanently delete selected item?');"></a>
							{/if}
						</td>
					</tr> 
				{/foreach}
			</tbody> 
		{elseif $code == 'cls_gallery_categories'}
			<thead> 
				<tr> 
					<th>Kolekcija</th>
					<th>Opcijas</th>
				</tr> 
			</thead> 
			<tbody class="sortable" id="classifier-content">
				{foreach from=$classifier item=i}
					<tr id="entry[{$i.ccat_id}]">
						<td>{$i.ccat_name}</td>
						<td>
							<a class="icn icn_edit" href="javascript:void(0);" onclick="editEntry({$i.ccat_id}, '{$i.ccat_name}');"></a>

							<a class="icn icn_trash" href="javascript:void(0);" onclick="if(!confirm('Are you sure you want to permanently delete selected item?')) { return false; } else { deleteEntry({$i.ccat_id}); }"></a>
						</td>
					</tr>
				{/foreach}
			</tbody>
		{elseif $code == 'cls_stable_types'}
			<thead> 
				<tr> 
					<th>Name</th>
					<th>Actions</th>
				</tr> 
			</thead> 
			<tbody class="sortable" id="{$code}"> 
				{foreach from=$classifier item=i}
					<tr id="type-{$i.cstt_id}"> 
						<td>{$i.lstt_name}</td>
						<td>
							<a class="icn icn_edit" href="/admin/classifier/edit/code/{$code}/id/{$i.cstt_id}"></a>

							<a class="icn icn_trash" href="/admin/classifier/delete/code/{$code}/id/{$i.cstt_id}" onclick="return confirm('Are you sure you want to permanently delete selected item?');"></a>
						</td>
					</tr> 
				{/foreach}
			</tbody>	
		{elseif $code == 'cls_advert_section'}
			<thead> 
				<tr> 
					<th>Name</th>
					<th>Actions</th>
				</tr> 
			</thead> 
			<tbody class="sortable" id="{$code}"> 
				{foreach from=$classifier item=i}
					<tr id="section-{$i.case_id}"> 
						<td>{$i.lase_name}</td>
						<td>
							<a class="icn icn_edit" href="/admin/classifier/edit/code/{$code}/id/{$i.case_id}"></a>

							<a class="icn icn_trash" href="/admin/classifier/delete/code/{$code}/id/{$i.case_id}" onclick="return confirm('Are you sure you want to permanently delete selected item?');"></a>
						</td>
					</tr> 
				{/foreach}
			</tbody>	
		{elseif $code == 'cls_advert_category'}
			<thead> 
				<tr> 
					<th>Name</th>
					<th>Actions</th>
				</tr> 
			</thead> 
			<tbody class="sortable" id="{$code}"> 
				{foreach from=$classifier item=i}
					<tr id="category-{$i.caca_id}"> 
						<td>{$i.laca_name}</td>
						<td>
							<a class="icn icn_edit" href="/admin/classifier/edit/code/{$code}/id/{$i.caca_id}"></a>

							<a class="icn icn_trash" href="/admin/classifier/delete/code/{$code}/id/{$i.caca_id}" onclick="return confirm('Are you sure you want to permanently delete selected item?');"></a>
						</td>
					</tr> 
				{/foreach}
			</tbody>	
		{elseif $code == 'cls_currency'}
			<thead> 
				<tr> 
					<th>Code</th>
					<th>Name</th>
					<th>Country</th>
					<th>Actions</th>
				</tr> 
			</thead> 
			<tbody> 
				{foreach from=$classifier item=i}
					<tr id="type-{$i.ccur_id}"> 
						<td>{$i.ccur_code}</td>
						<td>{$i.ccur_name}</td>
						<td>{$i.clsc_name}</td>
						<td>
							<a class="icn icn_edit" href="/admin/classifier/edit/code/{$code}/id/{$i.ccur_id}"></a>

							<a class="icn icn_trash" href="/admin/classifier/delete/code/{$code}/id/{$i.ccur_id}" onClick="return confirm('Are you sure you want to permanently delete selected item?');"></a>
						</td>
					</tr> 
				{/foreach}
			</tbody>
		{elseif $code == 'cls_countries'}
			<thead> 
				<tr> 
					<th>Name</th>
					<th>Code</th>
					<th></th>
					<th>Actions</th>
				</tr> 
			</thead> 
			<tbody class="sortable" id="{$code}"> 
				{foreach from=$classifier item=i}
					<tr id="type-{$i.clsc_id}"> 
						<td>{$i.clsc_name_en}</td>
						<td>{$i.clsc_code}</td>
						<td>{if $i.clsc_is_active == 1}Active{else}Inactive{/if}
						<td>
							<a class="icn icn_edit" href="/admin/classifier/edit/code/{$code}/id/{$i.clsc_id}"></a>

							<a class="icn icn_trash" href="/admin/classifier/delete/code/{$code}/id/{$i.clsc_id}" onClick="return confirm('Are you sure you want to permanently delete selected item?');"></a>
						</td>
					</tr> 
				{/foreach}
			</tbody>
		{elseif $code == 'cls_sizes'}
			<thead> 
				<tr> 
					<th>Width</th>
					<th>Height</th>
					<th>Price</th>
					<th>Type</th>
					<th>Actions</th>
				</tr> 
			</thead> 
			<tbody class="sortable" id="{$code}"> 
				{foreach from=$classifier item=i}
					<tr id="type-{$i.clss_id}"> 
						<td>{$i.clss_width}</td>
						<td>{$i.clss_height}</td>
						<td>{$i.clss_base_price}</td>
						<td>{$i.cprt_name}
						<td>
							<a class="icn icn_edit" href="/admin/classifier/edit/code/{$code}/id/{$i.clss_id}"></a>

							<a class="icn icn_trash" href="/admin/classifier/delete/code/{$code}/id/{$i.clss_id}" onClick="return confirm('Are you sure you want to permanently delete selected item?');"></a>
						</td>
					</tr> 
				{/foreach}
			</tbody>						
		{elseif $code == 'cls_region'}
			<thead> 
				<tr> 
					<th>Name</th>
					<th>Actions</th>
				</tr> 
			</thead> 
			<tbody id="location-regions"></tbody>			
		{elseif $code == 'cls_city'}
			<thead> 
				<tr> 
					<th>Name</th>
					<th>Actions</th>
				</tr> 
			</thead> 
			<tbody id="location-cities"></tbody>			
		{/if}
		
		</table>				
	</div>
</article>

{if $code == 'cls_region'}
	<input type="hidden" id="location_type" value="region" />
	<article class="module width_half">
		<header>
			<h3>Filter</h3>
		</header>
	
		<div class="module_content">
			<fieldset>
				<label>Country</label>
				<select id="location-countries" onchange="getLocations('regions', locationsCallbackCls);">
							<option value="">-- Please Choose --</option>
					{foreach $country_list as $i}
							<option value="{$i.clsc_id}">{$i.clsc_name}</option>	
					{/foreach}
				</select>
			</fieldset>	
		</div>
	</article>
{/if}

<script src="/js/admin_{$_controller}.js"></script>
