	<form action="" method="post">
		<article class="module width_3_quarter">
			<header><h3>{$navigation.lnav_title}</h3></header>
			<div class="module_content">
				<input type="hidden" id="lnav_clsl_code" name="lnav_clsl_code" value="{$lang}" />
				<input type="hidden" name="switch_lang" id="switch_lang" />

				<fieldset>
					<label>Virsraksts</label>
					<input type="text" name="lnav_title" value="{$navigation.lnav_title}" />
				</fieldset>

				<fieldset>
					<label>Apraksts</label>
					<input type="text" name="lnav_meta_description" value="{$navigation.lnav_meta_description}" />
				</fieldset>

				<fieldset>
					<label>Atslēgvārdi</label>
					<input type="text" name="lnav_meta_keywords" value="{$navigation.lnav_meta_keywords}" />
				</fieldset>

			</div>
			<footer>
				<div class="submit_link">
					<input type="submit" value="Saglabāt" class="alt_btn" name="save" />
				</div>
			</footer>
			
		</article>


		<article class="module width_quarter">
			<header></header>
			<div class="module_content">

				<fieldset>
					<label>Language</label>
					<select name="langs" onChange="document.getElementById('switch_lang').value = this.value;submit();">
						{foreach $lang_list as $i}
							<option value="{$i.clsl_code}" {if $lang == $i.clsl_code}selected{/if}>{$i.clsl_name}</option>	
						{/foreach}
					</select>
				</fieldset>						

			</div>
			<footer></footer>
			
		</article>

	</form>		