{if $pages}
	<nav class="content-menu">
	{foreach $pages as $page}
		{if $page.ppag_show_in_menu == 1}
		    <a href="/{$lang}/{$page.ppag_group}#{$page.ppag_code}" id="link_{$page.ppag_code}">{$page.lpag_name}</a>
		{/if}
	{/foreach}
	</nav>
{/if}

{* MULTIPLE PAGES *}
{if $pages}
	{foreach $pages as $page}
	    <article id="{$page.ppag_code}">
	        {if $page.lpag_name}
	        <header class="{$lang}">
	            <h1>{$page.lpag_name}</h1>
	        </header>
	        {/if}
	        <div class="redactor_editor content">{$page.lpag_text}</div>
	    </article>
	{/foreach}
{elseif $gultas_vela === true}
	<style>
		@font-face {
		    font-family: BebasNeueBold;
		    src: url(/fonts/BebasNeueRegular.otf);
		}		

		#galvena-lapa {
			background-image: url(/images/landing-page/background.png);
			padding: 36px 49px 38px 46px;
		}

		#galvena-bottom {
			background-color: #f8f8f8;
			padding: 30px 45px 30px 42px;
		}

		.page-footer {
			margin-top: 0;
		}
	
			h1 {
			    /* Hide the text. */
			    text-indent: 110%;
			    white-space: nowrap;
			    overflow: hidden;
			}
			
				h1.top-heading {
					background: url(/images/landing-page/galvena-heading.png) no-repeat center center;
					width: 924px;
					height: 210px;
					margin-bottom: 10px;
				}
			
				h1.izveidojiet-heading {
					background: url(/images/landing-page/galvena-izveidojiet.png) no-repeat center center;
					height: 70px;
				}

				h1.padariet-heading {
					background: url(/images/landing-page/galvena-padariet.png) no-repeat center center;
					height: 50px;
				}
			
			h2 {
				font-family: "Open Sans";	
				font-weight: normal;
				font-size: 31.5px;
				color: #20515e;
				line-height: 31.5px;
				padding: 10px 0;
				text-transform: none;
				letter-spacing: 1.764px;
				white-space: nowrap;
			}
			
			div.desc {
				font-family: "Open Sans";
				color: #aaaaaa;
				text-align: justify;
				font-size: 10.1pt;
				line-height: 18pt;
				margin-top: 15pt;
			}
			
			.top-slider-container {
				width: 379px;
				height: 247px;
				overflow: hidden;
				float: left;
				outline: 1px solid rgba(237, 233, 239, 0.4);
				border: 7px solid rgba(255, 255, 255, 0.9);
			}
			
			.top-slider-description {
				width: 511px;
				float: right;
			}

			.top-slider-buttons {
				width: 511px;
				float: right;
				bottom: 0px;
				right: 0px;
				position: absolute;
				padding: 0;
				height: 56px;
			}
						
			ul.desc {
				margin: 0;
				padding-left: 30px;
				font-family: "Open Sans";
				font-size: 31px;
				color: #3a5258;
			    list-style-type: none;
			    text-align: justify;
			    font-weight: 300;
			    line-height: 35px;
			}
			
			ul.desc li {
				list-style-image: url(/images/landing-page/check_2.png);
				margin-bottom: 10pt;
			}
			
			ul.desc li:nth-child(1) {
				letter-spacing: -2.1px;
			}

			ul.desc li:nth-child(2) {
				letter-spacing: -1.9px;
/* 				list-style-image: url(/images/landing-page/check_2.png);	 */
			}

			ul.desc li:nth-child(3) {
				letter-spacing: 0.6px;
			}

			ul.desc li:nth-child(4) {
				letter-spacing: -2.6px;
/* 				list-style-image: url(/images/landing-page/check_2.png);	 */
			}
			
			#atsauksmes {
				margin-bottom: 20px;
				position: relative;
				overflow: hidden;
			}
			
			.atsauksmes-item {
				position: relative;
				width: 255px;
				height: 123px;
				background-color: rgba(250, 250, 250, 0.8);
				border: 4px solid rgba(255, 255, 255, 0.6);
				outline: 1px solid rgba(0, 0, 0, 0.1);
				float: left;
				margin: 1px;
				margin-right: 15px;
			}
			
			.atsauksmes-image {
				width: 97px;
				height: 97px;
				border: 2px solid rgba(255, 255, 255, 0.6);
				outline: 1px solid rgba(0, 0, 0, 0.1);
				margin: 12px 9px 11px 7px;
				float: left;
			}
			
			.atsauksmes-text {
				width: 125px;
				height: 100px;
				overflow: hidden;
				float: right;
				margin: 10px 10px 0px 0;
				font-family: "Open Sans";
				font-weight: 300;
				font-size: 14px;
				line-height: 14px;
				color: #284249;
			}
			
			.atsauksmes-text-header {
				background: url(/images/landing-page/atsauksmes-header-poly.png) no-repeat left center;
				padding-left: 10px;
				line-height: 17px;
				font-weight: 400;
				color: #176478;
			}
			
			.clear {
				clear:both;
			}
			
			#info {
				padding: 30px 0 0;
			}
			
			.info-item {
				width: 183px;
				height: 220px;
				background-color: rgba(250, 250, 250, 0.8);
				border: 4px solid rgba(255, 255, 255, 0.6);
				outline: 1px solid rgba(0, 0, 0, 0.1);
				float: left;
				margin-left: 12px;
				padding: 24px 15px 18px 13px;	
			}			
			
			.info-item img {
				float: left;
				margin-right: 5px;
				margin-top: 4px;
			}
			
			.info-item .info-header {
				font-family: "Open Sans";
				color: #2b6d7e;
				font-size: 21px;
			}

			.info-item:nth-child(1) .info-header {
				letter-spacing: -1.26px;
			}

			.info-item:nth-child(2) .info-header {
				letter-spacing: -1.47px;
			}

			.info-item:nth-child(3) .info-header {
				letter-spacing: -0.21px;
			}

			.info-item:nth-child(4) .info-header {
				letter-spacing: -0.84px;
			}
			
			.info-item .info-text {
				font-family: "Open Sans";
				font-size: 15px;
				letter-spacing: -1px;
				padding-top: 10pt;
				margin-top: 10pt;
				border-top: 1px solid #dfd9df;
				text-align: justify;
				color: #767676;				
			}
			
			.info-item:nth-of-type(1) {
				margin-left: 0;
			}
			
			#instructions {
				margin: 10pt 0;
			}
			
			.instructions-list {
				width: 465px;
				float: left;
			}
			
			.instructions-list ul {
				margin: 0;
				margin-bottom: 10pt;
				padding-left: 30px;
				font-family: "Open Sans";
				font-size: 17pt;
				line-height: 17pt;
				color: #486168;
			    list-style-type: none;
			    text-align: justify;
			    font-weight: 300;
			    padding: 0;
			}
			
			.instructions-list ul li {
				background: url(/images/landing-page/instructions-list-bullet.png) no-repeat left top;
				height: 35pt;
				vertical-align: middle;
				padding-left: 50px;
				padding-top: 3px;
				position: relative;
			}			
			
			.instructions-list ul li span {
				position: absolute;
				top: 6px;
				left: 10px;
				color: #1b6d89;
			}			
			
			.instructions-video {
				width: 400px;
				float: right;
			}
			
			.sleepz {
				float:right;
				width:410px;
			}

		#top-slider .bx-wrapper, #top-slider .bx-viewport {
		    height: 379px !important;
		    width: 379px !important;
		}

		#atsauksmes .bx-wrapper, #atsauksmes .bx-viewport {
		    height: 140px !important;
		    max-width: 815px !important;
		}
			
      .atsauksmes-slider {
        margin: 0;
        zoom: 1; }
        .atsauksmes-slider:before, .atsauksmes-slider:after {
          content: "";
          display: table; }
        .atsauksmes-slider:after {
          clear: both; }

      .atsauksmes-nav {
        position: absolute;
        top: 0;
        height: 130px;
        width: 15px; }
        .atsauksmes-nav:before {
          position: absolute;
          top: 50%;
          height: 0;
          width: 0; }
        .atsauksmes-nav.prev {
          background: url(/images/landing-page/ats-slider-left.png) no-repeat center left;
          left: 0; }
          .atsauksmes-nav.prev:before {
            content: "";
            left: 0px; }
        .atsauksmes-nav.next {
          background: url(/images/landing-page/ats-slider-right.png) no-repeat center right;
          right: 0; }
          .atsauksmes-nav.next:before {
            content: "";
            right: 0px; }

		hr {
			background: url(/images/landing-page/hr-galvena.png) no-repeat center center;	
			width: 924px;
			height: 3px;
			border: 0;
			margin: 0;
		}			
	</style>

	<div id="galvena-lapa">
		<h1 class="top-heading">JŪSU PATĪKAMĀKĀ GULTAS VEĻA KĀDĀ BŪSIET GULĒJIS!</h1>
		
		<hr>

		<h2>Mīksta, elpojoša, mitruma absorbējoša un antibakteriāla</h2>

		<hr>
		
		<section id="top-slider" style="position:relative;height:254px;margin-top:30pt;">
			<div class="top-slider-container">
				<div class="top-slider">
	                <img src="/images/landing-page/1.jpg" alt="">
	                <img src="/images/landing-page/2.jpg" alt="">
	                <img src="/images/landing-page/3.jpg" alt="">
	                <img src="/images/landing-page/4.jpg" alt="">
	                <img src="/images/landing-page/5.jpg" alt="">
	                <img src="/images/landing-page/6.jpg" alt="">
	                <img src="/images/landing-page/7.jpg" alt="">
	                <img src="/images/landing-page/8.jpg" alt="">
	                <img src="/images/landing-page/9.jpg" alt="">
	                <img src="/images/landing-page/10.jpg" alt="">
	                <img src="/images/landing-page/11.jpg" alt="">
				</div>
			</div>

			<div class="top-slider-description">
				<ul class="desc">
					<li>100% Dabīgs audums, miesai un garam</li>
					<li>Iespēja izveidot savu individuālu dizainu</li>
					<li>Piemērota bērniem un zīdaiņiem</li>
					<li>Bezmaksas piegāde jebkuram pirkumam</li>
				</ul>
			</div>
			
			<div class="top-slider-buttons">
				<div style="float:left;margin-right:4px;">
					<a href="/{$lang}/katalogs"><img src="/images/landing-page/button_pasutit_gatavu.png" style="border: 3px solid #fff;"></a>
				</div>

				<div style="float:right;">
					<a href="/{$lang}/darbnica"><img src="/images/landing-page/button_izveidot_savu.png" style="border: 3px solid #fff;"></a>				
				</div>
			</div>
		</section>
			
		<div class="clear"></div>
			
		<img src="../images/landing-page/atsauksmes-header.png" alt="ATSAUKSMES" style="margin: 20pt 0 40pt;">

		<section id="atsauksmes">
			<div class="atsauksmes-slider">
				{foreach $feedback_list as $item}
					<div class="atsauksmes-item">
						<div class="atsauksmes-image">
						{if $item.first_image}
							<img src="/uploads/feedbackimages/{$item.pfbk_id}/{$item.first_image[0]['pimg_name']}" height="97" alt="" />
						{/if}
						</div>
						<div class="atsauksmes-text">
<!-- 							<span class="atsauksmes-text-header">{$item.lfbk_name}</span><br> -->
							{$item.lfbk_text}
						</div>
					</div>
				{/foreach}
			</div>

            <a href="#" class="atsauksmes-nav prev"></a>
            <a href="#" class="atsauksmes-nav next"></a>			

			&nbsp;
		</section>

		<hr>			

		<section id="info">
			<div class="info-item">
				<img src="/images/landing-page/tips-tree.png">
				<div class="info-header">100% DABĪGS AUDUMS</div>
				<div class="clear"></div>
				<div class="info-text">Tencela satīna audumam ir dabīga izcelsme. Tas darināts no eikalipta koksnes šķiedras, kas ir mīkstāks nekā zīds, vairāk absorbējošs nekā kokvilna.</div>
			</div>

			<div class="info-item">
				<img src="/images/landing-page/tips-user.png">
				<div class="info-header">INDIVIDUĀLS DIZAINS</div>
				<div class="clear"></div>
				<div class="info-text">Dizaina darbnīcā variet konstruēt unikālu gultas veļas dizainu,  kas lieliski iederēsies tieši jūsu guļamistabā. Ļaujiet Jūsu iztēlei pārtapt mākslas darbā!</div>
			</div>

			<div class="info-item">
				<img src="/images/landing-page/tips-pen.png">
				<div class="info-header">PIEMĒROTA BĒRNIEM</div>
				<div class="clear"></div>
				<div class="info-text">Eikalipta šķiedras audums ir izteikti elpojošs, antibakteriāls un neelektrizējas, kas lieliski piemērots zīdaiņu un bērnu gultas veļai.</div>
			</div>

			<div class="info-item">
				<img src="/images/landing-page/tips-home.png">
				<div class="info-header">BEZMAKSAS PIEGĀDE</div>
				<div class="clear"></div>
				<div class="info-text">Jūsu ideālo gultas veļas komplektu saņemiet kopā ar mūsu sagatavotu pārsteigumu jebkurā vietā Latvijā bezmaksas!</div>
			</div>
			
			&nbsp;
		</section>

		<div class="clear"></div>
	</div>

	<div id="galvena-bottom">	
		<h1 class="izveidojiet-heading">IZVEIDOJIET GULTAS VEĻU, KAS LIELISKI IEDERAS TIEŠI JŪSU GUĻAMISTABĀ!</h1>

		<hr>

		<section id="instructions">
			<div class="instructions-list">
				<ul>
					<li><span>1</span>Izvēlieties produktu un tā izmērus</li>
					<li><span>2</span>Izveidojiet iecerēto dizainu</li>
					<li><span>3</span>Izvēlieties jums piemērotu apstrādes veidu un aizdares</li>
					<li><span>4</span>Izvēlieties jums izdevīgāko piegādes vietu, veiciet apmaksu</li>
					<li><span>5</span>Saņemiet savu ideālo gultas veļu!</li>
				</ul>
			</div>
			<div class="instructions-video">
				<iframe width="400" height="225" src="//www.youtube.com/embed/aYQIPHNyV-c" frameborder="0" allowfullscreen></iframe>
			</div>

			<div class="clear"></div>

			<div style="float:left;margin-right:4px;">
				<a href="/{$lang}/katalogs"><img src="/images/landing-page/button_pasutit_gatavu.png" style="border: 3px solid #fff;"></a>
			</div>

			<div style="float:left;">
				<a href="/{$lang}/darbnica"><img src="/images/landing-page/button_izveidot_savu.png" style="border: 3px solid #fff;"></a>				
			</div>

			<div class="sleepz">
				<h1 class="padariet-heading">PADARIET SAVU MIEGU VESELĪGĀKU!</h1>
			</div>
			&nbsp;
		</section>

		<hr>

		<div class="desc">ZIGZAG FACTORY ir unikāls gultas veļas veikals inernetā, kur iegūstiet Latvijā ražotus, kvalitatīvus gultas veļas komplektus. ZIGAZAG FACTORY gultas veļa darināta no tencela satīna auduma, kas ir mīkstāka nekā zīda gultas veļa un vairāk absorbējošāka nekā kokvilnas gultas veļa. Piedāvājam ne tikai komplektus, bet arī īpaši maigus, viegla materiāla spilvendrānas, virspalagus, palagus ar gumiju, gultas veļu zīdaiņiem un bērniem. Mūsu galvenā priekšrocība ir augstā kvalitāte, ko apvienojot ar sapņu radošumu, iegūstam lielisku gultas veļu, kas atvēsinās karstās vasarā un sasildīs bargās ziemās. Gultas veļa ir piemērota arī īpaši jutīgiem cilvēkiem - regulēs ķermeņa mitruma svārstības, neelektrizēs un veicinās ciešāku miegu. Kā viss notiek? Apskatiet mūsu produkcijas katalogu vai izveidojiet savu, oriģinālo gultas veļas dizainu Dizaina Darbnīcā. Izvēlieties, ko vēlaties uzdizainēt - gultas palagu, spilvendrānu, virspalagu, gultas veļas komplektu vai gultas veļas komplektu bērnam. Atzīmējiet sev vēlamo gultas veļas izmēru - 200x200, 220x240 u.c. , krāsu un aizdares vietu. Veiciet pasūtījumu un Jūsu unikāli veidotā sapņu gultas veļa nonāks mūsu lielisko šuvēju rokās. Mūsu produkcija ir 100% roku darbs. Kad gultas veļa būs gatava, mēs to piegādāsim Jums uz mājām BEZ MAKSAS. Ietaupiet laiku, iegādājoties gultas veļa internetā!</div>
	</div>
{else}
	<header style="margin-bottom:0;">
	    <h1>{if $page.lpag_name}{$page.lpag_name}{else}{$tr->_('Lapa netika atrasta')}{/if}</h1>

	    <div class="stages"></div>
	</header>

	{$page.lpag_text}
{/if}