<form action="" method="post">
	<article class="module width_3_quarter">
		<header>
			<h3>Pasūtījums Nr. {$order.pord_id}</h3>
		</header>
		
		<div class="module_content">
			<fieldset class="half_left">
				<label>* Vārds</label>
				<input type="text" name="pord_cl_first_name" value="{$order.pord_cl_first_name}" required>
			</fieldset>

					<fieldset class="half_right">
						<label>* Saņēmēja vārds</label>
						<input type="text" name="pord_cl_delivery_name" value="{$order.pord_cl_delivery_name}" required>
					</fieldset>

			<fieldset class="half_left">
				<label>* Uzvārds</label>
				<input type="text" name="pord_cl_last_name" value="{$order.pord_cl_last_name}" required>
			</fieldset>

					<fieldset class="half_right">
						<label>* Saņēmēja tālrunis</label>
						<input type="text" name="pord_cl_delivery_phone" value="{$order.pord_cl_delivery_phone}" required>
					</fieldset>
 
			<fieldset class="half_left">
				<label>* E-pasts</label>
				<input type="text" name="pord_cl_email" value="{$order.pord_cl_email}" required>
			</fieldset>
			
					<fieldset class="half_right">
						<label>* Valsts</label>
						<select name="pord_cl_delivery_country">
							{foreach $country_list as $country}
								<option value="{$country.clsc_id}" {if $country.clsc_id == $order.pord_cl_delivery_country}selected{/if}>{$country.clsc_name}</option>
							{/foreach}
						</select>
					</fieldset>
 
			<fieldset class="half_left">
				<label>Vēlas saņemt jaunumus</label>
				<input type="checkbox" name="pord_cl_newsletter" {if $order.pord_cl_newsletter == 1}checked{/if}>
			</fieldset>

					<fieldset class="half_right">
						<label>* Pilsēta</label>
						<input type="text" name="pord_cl_delivery_city" value="{$order.pord_cl_delivery_city}" required>
					</fieldset>
 
			<fieldset class="half_left">
				<label>* Tālrunis</label>
				<input type="text" name="pord_cl_billing_phone" value="{$order.pord_cl_billing_phone}" required>
			</fieldset>
			
					<fieldset class="half_right">
						<label>* Piegādes adrese - Iela, māja, numurs</label>
						<input type="text" name="pord_cl_delivery_street" value="{$order.pord_cl_delivery_street}" required>
					</fieldset>

			<fieldset class="half_left">
				<label>Papildus info</label>
				<textarea name="pord_cl_additional_info" rows="3">{$order.pord_cl_additional_info}</textarea>
			</fieldset>

					<fieldset class="half_right">
						<label>* Pasta indekss</label>
						<input type="text" name="pord_cl_delivery_zip" value="{$order.pord_cl_delivery_zip}" required>
					</fieldset>
			
			<div class="clear"></div>
		</div>
	</article>
	
	<article class="module width_quarter">
		<header><h3></h3></header>
		<div class="module_content">
			<fieldset>
				<label>Starpsumma</label>
				{$order.pord_invoice_subtotal}
			</fieldset>

			<fieldset>
				<label>PVN 21%</label>
				{$order.pord_invoice_vat}
			</fieldset>

			<fieldset>
				<label>Summa</label>
				{$order.pord_invoice_total}
			</fieldset>			

			{*
				 -1	- transaction expired with no try for the payment, means that the client just closed the AirPay window without proceeding the payment
				  0	- transaction is created by payment() or payment_req() methods of the AirPay class, means that the AirPay window opened
				  1	- transaction is successfull, means that the merchant can provide the service or product to the client
				  2	- transaction is pending, means that the client have tried to pay and the payment system is still processing the payment
				  3	- transaction is rejected, means that the client have no funds or cancelled the payment etc
				  4	- transaction is expired, means that it didn't receive any status after the pending for a long time (36 hours). consider it as rejected.
				  5	- transaction is refunded, means that the client received the funds back and Your account was charged for this amount
			*}
			
			<fieldset>
				<label>Maksājuma statuss (AirPay)</label>				
				{if $order.pord_airpay_code == ''}
					<span style="color:orange;"><b>Nav veikts</b></span>
				{elseif $order.pord_airpay_code == -1}
					<span style="color:red;"><b>Expired</b></span> (means that the client just closed the AirPay window without proceeding the payment)
				{elseif $order.pord_airpay_code == 0}
					<span style="color:orange;"><b>Created</b></span> (means that the AirPay window opened)
				{elseif $order.pord_airpay_code == 1}
					<span style="color:green;"><b>Successful</b></span>
				{elseif $order.pord_airpay_code == 2}
					<span style="color:orange;"><b>Pending</b></span> (means that the client have tried to pay and the payment system is still processing the payment)
				{elseif $order.pord_airpay_code == 3}
					<span style="color:red;"><b>Rejected</b></span> (means that the client have no funds or cancelled the payment etc)
				{elseif $order.pord_airpay_code == 4}
					<span style="color:red;"><b>Expired</b></span> (means that it didn't receive any status after the pending for a long time (36 hours). consider it as rejected.)
				{elseif $order.pord_airpay_code == 5}
					<span style="color:red;"><b>Refunded</b></span> (means that the client received the funds back and Your account was charged for this amount)
				{/if}
			</fieldset>

			<fieldset>
				<label>Pasūtījuma statuss</label><b>
					{if $order.pord_cost_id == 1}
						<span style="color:blue;">Jauns</span>
					{elseif $order.pord_cost_id == 2}
						<span style="color:orange;">Apstiprināts</span>
					{elseif $order.pord_cost_id == 4}
						<span style="color:green;">Izpildīts</span>
					{elseif $order.pord_cost_id == 3}
						<span style="color:red;">Atcelts</span>				
					{/if}</b>
			</fieldset>			
		</div>
		
		<footer>
			<div class="submit_link">
				<input type="submit" value="Save" class="alt_btn" name="save" id="save" />
				<input type="submit" value="Cancel" name="cancel" formnovalidate />
			</div>
		</footer>			
	</article>
	
	<article class="module width_3_quarter">
		<header>
			<h3>Produktu saraksts</h3>
		</header>
		
		<table class="tablesorter border_radius_bottom">
			<thead>
				<tr>
					<th>Nosaukums</th>
					<th>Cena par vienību</th>
					<th>Daudzums</th>
					<th>Summa</th>
				</tr>
			</thead>
			{if $order_items}
			<tbody>
				{foreach $order_items as $item}
				<tr>
					<td>
						<img src="/uploads/galleryimages/{$item.pgal_id}/st_{$item.first_image[0].pimg_name}" style="float:left;margin-right:10px;"><br><br>
						<span style="font-size:14px;color:grey;"><b>{$item.lgal_title}</b></span><br><br>
						{$item.cprt1_name} {$item.clss1_width} x {$item.clss1_height} cm<br> 
						{$item.cprt2_name} {$item.clss2_width} x {$item.clss2_height} cm<br> 
						{$item.cprt3_name} {$item.clss3_width} x {$item.clss3_height} cm<br> 
					</td>
					<td>{$item.poit_price}</td>
					<td style="text-align:center;"><input type="text" name="" value="{$item.poit_qty}" style="width:15px;"></td>
					<td>{$item.poit_total}</td>
				</tr>
				{/foreach}
			</tbody>
			{/if}
		</table>	
	</article>	
</form>

<script type="text/javascript" src="/js/admin_{$_controller}.js"></script>
