		<article class="module width_full">
		<header>
			<h3 class="tabs_involved">Pasūtījumi</h3>
			
			<ul class="tabs">
				{foreach $order_status_list as $li}
		   			<li><a href="#{$li.cost_code}">
		   				{if $li.cost_code == 'new'}Jaunie
		   				{elseif $li.cost_code == 'approved'}Apstiprinātie
		   				{elseif $li.cost_code == 'completed'}Izpildītie
		   				{elseif $li.cost_code == 'canceled'}Atceltie
		   				{/if}
		   				</a>
		   			</li>
				{/foreach}
 			</ul>
		</header>

		<div class="tab_container">
		{foreach $order_status_list as $li}
			<div id="{$li.cost_code}" class="tab_content no_margin">

			<table class="tablesorter border_radius_bottom" cellspacing="0">

			<thead> 
				<tr> 
					<th>Nr.</th>
    				<th style="width:150px;">Datums, laiks</th>
    				<th style="width:70px;">Summa</th>
    				<th>Statuss</th>
    				<th>Maksājuma statuss (AirPay)</th>
    				<th style="width:100px;">Rēķina Nr.</th>
    				<th style="width:50px;">Rēķins</th>
    				<th style="width:50px;">Pavadzīme</th>
    				<th>Apstrādā</th>
    				<th style="width:28px;"></th>
				</tr> 
			</thead> 
			<tbody> 
			{foreach $order_list as $i}
				{if $i.pord_cost_id == $li.cost_id}
				<tr>
					<td style="width:1%;">{$i.pord_id}</td>
					<td>{$i.pord_date}</td>
					<td style="text-align:right;">{$i.pord_invoice_total} €</td>
					<td>
						<b>
						{if $i.pord_cost_id == 1}
							<span style="color:blue;">Jauns</span>
						{elseif $i.pord_cost_id == 2}
							<span style="color:orange;">Apstiprināts</span>
						{elseif $i.pord_cost_id == 4}
							<span style="color:green;">Izpildīts</span>
						{elseif $i.pord_cost_id == 3}
							<span style="color:red;">Atcelts</span>				
						{/if}
						</b>						
					</td>
					<td>
						{if $i.pord_airpay_code == ''}
							<span style="color:orange;"><b>Nav veikts</b></span>
						{elseif $i.pord_airpay_code == -1}
							<span style="color:red;"><b>Expired</b></span>
						{elseif $i.pord_airpay_code == 0}
							<span style="color:orange;"><b>Created</b></span>
						{elseif $i.pord_airpay_code == 1}
							<span style="color:green;"><b>Successful</b></span>
						{elseif $i.pord_airpay_code == 2}
							<span style="color:orange;"><b>Pending</b></span>
						{elseif $i.pord_airpay_code == 3}
							<span style="color:red;"><b>Rejected</b></span>
						{elseif $i.pord_airpay_code == 4}
							<span style="color:red;"><b>Expired</b></span>
						{elseif $i.pord_airpay_code == 5}
							<span style="color:red;"><b>Refunded</b></span>
						{/if}						
					</td>
					<td>{$i.pord_invoice_number}</td>
					<td style="text-align:center;">{if $i.pord_invoice_number}<a href="/admin/order/invoice/{$i.pord_id}" target="_blank"><img src="/images/pdf_icon.png" width="24"></a>{/if}</td>
					<td style="text-align:center;">{if $i.pord_invoice_number}<a href="/admin/order/invoice/{$i.pord_id}/is_invoice/0" target="_blank"><img src="/images/pdf_icon.png" width="24"></a>{/if}</td>
					<td></td>
					<td>
						<a class="icn icn_edit" href="/admin/order/view/{$i.pord_id}"></a>
					</td>
				</tr>
				{/if}
			{/foreach}
			</tbody>

			</table>
						
			</div>
		{/foreach}
		</div>
		
		</article>
