<!doctype html>
<html>
<head>
<style type="text/css">
	* {
		font-family: "DejaVu Sans", sans-serif;;
		font-size: 8pt;
	}

	body {
		width: 555pt;
		margin: 0 auto;
	}
	
	table.rekviziti td {
		border-bottom: 1px solid black;
	}
	
	table.cart-items {
		margin: 20px 0;
		font-size: 8pt;
	}
		
	table.cart-items th, table.cart-items td {
		text-align: center;
		border-bottom: 1px solid black;
	}
	
	table.paraksti th {
		font-weight: normal;
		text-align: left;
		line-height: 15pt;
	}
	
	table.paraksti td {
		border-bottom: 1px solid black;
		width: 70%;
	}
</style>

</head>

<body>
	<img src="./images/zig-zag-logo.png" width="80" />
	<div style="position:absolute;right:1px;top:1px;width:250pt;">
		<table style="width:100%;">
			<tr>
				<td style="text-align:right;width:40%;">{$tr->_('Datums')}:</td>
				<td>&nbsp;{$order.pord_date}</td>
			</tr>
			<tr>
				<td style="text-align:right;">{$tr->_('Pasūtījuma Nr')}.:</td>
				<td>&nbsp;{$order.pord_id}</td>
			</tr>
		</table>	
	</div>
		
		<div style="text-align:center;margin: 20px 0;font-size:11pt;">{$tr->_('JŪSU MĪĻĀKĀ GULTAS VEĻA – JŪSU DIZAINS NO DRAUDZĪGA AUDUMA')}!</div>
		<div style="border-bottom:2px solid black;font-weight:bold;font-size:13pt;">
			{if $is_invoice == 1}
				{$tr->_('RĒĶINS')}
			{else}
				{$tr->_('PAVADZĪME')}
			{/if}
			{$tr->_('Nr')}. {$order.pord_invoice_number}
		</div>
		<table style="width:100%;" cellspacing="0">
			<tr>
				<td style="width:45%;" valign="top">
					<table style="width:100%;" class="rekviziti" cellspacing="0">
						<tr>
							<td style="width:45%;">{$tr->_('Piegādātājs')}:</td>
							<td>SIA "ZIGZAG FACTORY"</td>
						</tr>
						<tr>
							<td>{$tr->_('Reģ. Nr.')}:</td>
							<td>40103712517</td>
						</tr>
						<tr>
							<td>{$tr->_('Adrese')}:</td>
							<td>Kuldīga, Virkas iela 11</td>
						</tr>
						<tr>
							<td>AS DNB banka</td>
							<td>LV85RIKO0002013315734</td>
						</tr>
					</table>
				</td>
				<td></td>
				<td style="width:45%;" valign="top">
					<table style="width:100%;" class="rekviziti" cellspacing="0">
						<tr>
							<td style="width:45%;">{$tr->_('Maksātājs')}:</td>
							<td>{$order.pord_cl_first_name} {$order.pord_cl_last_name}</td>
						</tr>
{*
						<tr>
							<td>{$tr->_('Pers. Kods')}:</td>
							<td>XXXXXX-XXXXX</td>
						</tr>
*}
						<tr>
							<td>{$tr->_('Veids')}:</td>
							<td>{$tr->_('Kurjers')}</td>
						</tr>
						<tr>
							<td>{$tr->_('Vieta')}:</td>
							<td>
								{if $order.pord_cl_delivery_street}{$order.pord_cl_delivery_street}, {/if}
								{if $order.pord_cl_delivery_city}{$order.pord_cl_delivery_city}, {/if}
								{$order.pord_cl_delivery_zip}
							</td>
						</tr>
						<tr>
							<td>{$tr->_('Valsts')}:</td>
							<td>{$order.clsc_name}</td>
						</tr>
						<tr>
							<td>{$tr->_('Tālrunis')}:</td>
							<td>{$order.pord_cl_delivery_phone}</td>
						</tr>
						<tr>
							<td>{$tr->_('Maksājuma veids')}:</td>
							<td>Ar karti</td>
						</tr>
						{if $order.pord_cl_additional_info}
						<tr>
							<td>{$tr->_('Komentārs')}:</td>
							<td>{$order.pord_cl_additional_info}</td>
						</tr>
						{/if}
					</table>				
				</td>
			</tr>
		</table>
		
		<table style="width:100%;" cellspacing="0" class="cart-items">
			<tr>
				<th style="width:5%;">{$tr->_('Nr')}.</th>
				<th>{$tr->_('Nosaukums')}</th>
				<th style="width:7%;">{$tr->_('Mērv')}.</th>
				<th style="width:7%;">{$tr->_('Daudz')}.</th>
				<th style="width:10%;">{$tr->_('Cena bez PVN')}</th>
				<th style="width:7%;">{$tr->_('PVN')}</th>
				<th style="width:7%;">{$tr->_('Summa')}</th>
				<th style="width:10%;">{$tr->_('Atlaide')}</th>
				<th style="width:15%;">{$tr->_('Summa ar atlaidi')}</th>
			</tr>
			{foreach $order_items as $item name=order_items}
			<tr>
				<td>{$smarty.foreach.order_items.index + 1}.</td>
				<td style="text-align:left;">
					{if $item.lgal_title}{$tr->_('Gultas veļa komplekts')} ({$item.lgal_title}){else}{$tr->_('Jūsu ideālā gultas veļa')}{/if}.<br> 
					{if $item.cprt1_name}{$tr->_($item.cprt1_name)} ({$item.clss1_width}x{$item.clss1_height}){/if} 
					{if $item.cprt2_name},<br>{$tr->_($item.cprt2_name)} ({$item.clss2_width}x{$item.clss2_height}){/if} 
					{if $item.cprt3_name},<br>{$tr->_($item.cprt3_name)} ({$item.clss3_width}x{$item.clss3_height}){/if} 
					{if $item.cprt4_name},<br>{$tr->_($item.cprt4_name)} ({$item.clss4_width}x{$item.clss4_height}){/if} 
				</td>
				<td>{$tr->_('gab')}.</td>
				<td>{$item.poit_qty}</td>
				<td>{($item.poit_price / 1.21)|number_format:2}</td>
				<td>21%</td>
				<td>{$item.poit_price}</td>
				<td></td>
				<td>{$item.poit_total}</td>
			</tr>
			{/foreach}
			<tr>
				<td colspan="8" style="text-align:right;">{$tr->_('Kopsumma bez PVN')} 21%</td>
				<td>{$order.pord_invoice_subtotal}</td>
			</tr>
			<tr>
				<td colspan="8" style="text-align:right;">{$tr->_('PVN')} 21%</td>
				<td>{$order.pord_invoice_vat}</td>
			</tr>
			<tr>
				<td colspan="8" style="text-align:right;">{$tr->_('Summa apmaksai')} EUR {$tr->_('ar PVN')}</td>
				<td>€ {$order.pord_invoice_total}</td>
			</tr>
			<tr>
				<td colspan="8" style="text-align:right;">{$tr->_('Summa apmaksai')} LVL {$tr->_('ar PVN')}</td>
				<td>Ls {$order.pord_invoice_total_lvl}</td>
			</tr>
		</table>
	
		<table style="width:100%;" cellspacing="0">
			<tr>
				<td style="width:45%;" valign="top">
					<table style="width:100%;" cellspacing="0">
						<tr>
							<td>{$tr->_('Darījuma apraksts')}: {$tr->_('preču piegāde')}</td>
						</tr>
					</table>
				</td>
				<td></td>
				<td style="width:45%;" valign="top">
					<table style="width:100%;" cellspacing="0">
						<tr>
							<td>{$tr->_('Mobilais tālrunis uzziņām')} - +371 20087725</td>
						</tr>
					</table>				
				</td>
			</tr>
			<tr>
				<td>{$tr->_('Summa vārdiem')}: {$order.pord_invoice_total_words}</td>
			</tr>
		</table>		

		{if $is_invoice == 1}
			<table style="width:100%;margin-top:40px;" cellspacing="0">
				<tr>
					<td style="font-size:10pt;">{$tr->_('Rēķins sagatavots elektroniski un derīgs bez paraksta')}</td>
				</tr>
			</table>
		{else}
		<table style="width:100%;margin-top:20px;" cellspacing="0">
			<tr>
				<td style="width:45%;" valign="top">
					<table style="width:100%;" class="paraksti" cellspacing="0">
						<tr>
							<th colspan="2"><b>{$tr->_('Izsniedza')}/ {$tr->_('iepakoja')}:</b></th>
						</tr>
						<tr>
							<th>{$tr->_('Vārds')}, {$tr->_('Uzvārds')}</th>
							<td></td>
						</tr>
						<tr>
							<th>{$tr->_('Datums')}</th>
							<td></td>
						</tr>
						<tr>
							<th>{$tr->_('Paraksts')}</th>
							<td></td>
						</tr>
					</table>
				</td>
				<td></td>
				<td style="width:45%;" valign="top">
					<table style="width:100%;" class="paraksti" cellspacing="0">
						<tr>
							<th colspan="2"><b>{$tr->_('Pieņēma')}:</b></th>
						</tr>
						<tr>
							<th>{$tr->_('Vārds')}, {$tr->_('Uzvārds')}</th>
							<td></td>
						</tr>
						<tr>
							<th>{$tr->_('Datums')}</th>
							<td></td>
						</tr>
						<tr>
							<th>{$tr->_('Paraksts')}</th>
							<td></td>
						</tr>
					</table>				
				</td>
			</tr>
		</table>
		{/if}
</body>