<form action="" method="post">
	<article class="module width_3_quarter">
		<header>
			<h3>Pasūtījums Nr. {$order.pord_id}</h3>
		</header>
		
		<div class="module_content">
			<fieldset class="half_left">
				<label>Vārds</label>
				{$order.pord_cl_first_name}
			</fieldset>

					<fieldset class="half_right">
						<label>Saņēmēja vārds</label>
						{$order.pord_cl_delivery_name}
					</fieldset>

			<fieldset class="half_left">
				<label>Uzvārds</label>
				{$order.pord_cl_last_name}
			</fieldset>

					<fieldset class="half_right">
						<label>Saņēmēja tālrunis</label>
						{$order.pord_cl_delivery_phone}
					</fieldset>
 
			<fieldset class="half_left">
				<label>E-pasts</label>
				{$order.pord_cl_email}
			</fieldset>
			
					<fieldset class="half_right">
						<label>Valsts</label>
						{$order.clsc_name_lv}
					</fieldset>
 
			<fieldset class="half_left">
				<label>Vēlas saņemt jaunumus</label>
				<input type="checkbox" name="pord_cl_newsletter" {if $order.pord_cl_newsletter == 1}checked{/if} disabled="disabled">
			</fieldset>

					<fieldset class="half_right">
						<label>Pilsēta</label>
						{$order.pord_cl_delivery_city}
					</fieldset>
 
			<fieldset class="half_left">
				<label>Tālrunis</label>
				{$order.pord_cl_billing_phone}
			</fieldset>
			
					<fieldset class="half_right">
						<label>Piegādes adrese - Iela, māja, numurs</label>
						{$order.pord_cl_delivery_street}
					</fieldset>

			<fieldset class="half_left">
				<label>Papildus info</label>
				{$order.pord_cl_additional_info}
			</fieldset>

					<fieldset class="half_right">
						<label>Pasta indekss</label>
						{$order.pord_cl_delivery_zip}
					</fieldset>
			
			<div class="clear"></div>
		</div>
	</article>
	
	<article class="module width_quarter">
		<header></header>
		<div class="module_content">
			<fieldset>
				<label>Starpsumma</label>
				{$order.pord_invoice_subtotal}
			</fieldset>

			<fieldset>
				<label>PVN 21%</label>
				{$order.pord_invoice_vat}
			</fieldset>

			<fieldset>
				<label>Summa</label>
				{$order.pord_invoice_total}
			</fieldset>			

			{*
				 -1	- transaction expired with no try for the payment, means that the client just closed the AirPay window without proceeding the payment
				  0	- transaction is created by payment() or payment_req() methods of the AirPay class, means that the AirPay window opened
				  1	- transaction is successfull, means that the merchant can provide the service or product to the client
				  2	- transaction is pending, means that the client have tried to pay and the payment system is still processing the payment
				  3	- transaction is rejected, means that the client have no funds or cancelled the payment etc
				  4	- transaction is expired, means that it didn't receive any status after the pending for a long time (36 hours). consider it as rejected.
				  5	- transaction is refunded, means that the client received the funds back and Your account was charged for this amount
			*}
			
			<fieldset>
				<label>Maksājuma statuss (AirPay)</label>				
				{if $order.pord_airpay_code == ''}
					<span style="color:orange;"><b>Nav veikts</b></span>
				{elseif $order.pord_airpay_code == -1}
					<span style="color:red;"><b>Expired</b></span> (means that the client just closed the AirPay window without proceeding the payment)
				{elseif $order.pord_airpay_code == 0}
					<span style="color:orange;"><b>Created</b></span> (means that the AirPay window opened)
				{elseif $order.pord_airpay_code == 1}
					<span style="color:green;"><b>Successful</b></span>
				{elseif $order.pord_airpay_code == 2}
					<span style="color:orange;"><b>Pending</b></span> (means that the client have tried to pay and the payment system is still processing the payment)
				{elseif $order.pord_airpay_code == 3}
					<span style="color:red;"><b>Rejected</b></span> (means that the client have no funds or cancelled the payment etc)
				{elseif $order.pord_airpay_code == 4}
					<span style="color:red;"><b>Expired</b></span> (means that it didn't receive any status after the pending for a long time (36 hours). consider it as rejected.)
				{elseif $order.pord_airpay_code == 5}
					<span style="color:red;"><b>Refunded</b></span> (means that the client received the funds back and Your account was charged for this amount)
				{/if}
			</fieldset>

			<fieldset>
				<label>Pasūtījuma statuss</label><b>
					{if $order.pord_cost_id == 1}
						<span style="color:blue;">Jauns</span>
					{elseif $order.pord_cost_id == 2}
						<span style="color:orange;">Apstiprināts</span>
					{elseif $order.pord_cost_id == 4}
						<span style="color:green;">Izpildīts</span>
					{elseif $order.pord_cost_id == 3}
						<span style="color:red;">Atcelts</span>				
					{/if}</b>
			</fieldset>			
		</div>
		
		<footer>
			<div class="submit_link">
				{if $order.pord_cost_id == 1 && $order.pord_airpay_code == 1}			
					<input type="submit" value="Apstiprināt" vlass="alt_btn" name="approve" id="approve" />
				{elseif $order.pord_cost_id == 2}
					<input type="submit" value="Izpildīt" vlass="alt_btn" name="complete" id="complete" />
				{elseif $order.pord_cost_id == 1 && ($order.pord_airpay_code == -1 || $order.pord_airpay_code == 3 || $order.pord_airpay_code == 4 || $order.pord_airpay_code == 5)}
					<input type="submit" value="Atcelt" vlass="alt_btn" name="cancel" id="cancel" />
				{/if}
			
				<input type="submit" value="Labot" name="edit" id="edit" />
			</div>
		</footer>			
	</article>
	
	<article class="module width_3_quarter">
		<header>
			<h3>Produktu saraksts</h3>
		</header>
		
		<table class="tablesorter border_radius_bottom">
			<thead>
				<tr>
					<th>Nosaukums</th>
					<th>Cena par vienību</th>
					<th>Daudzums</th>
					<th>Summa</th>
				</tr>
			</thead>
			{if $order_items}
			<tbody>
				{foreach $order_items as $item}
				<tr>
					<td>
						{if $item.first_image}<img src="/uploads/galleryimages/{$item.pgal_id}/st_{$item.first_image[0].pimg_name}" style="float:left;margin-right:10px;"><br><br>{/if}
						<span style="font-size:14px;color:grey;"><b>{$item.lgal_title}</b></span><br><br>
						{$item.cprt1_name} {$item.clss1_width} x {$item.clss1_height} cm<br> 
						{$item.cprt2_name} {$item.clss2_width} x {$item.clss2_height} cm<br>
						{$item.cprt3_name} {$item.clss3_width} x {$item.clss3_height} cm<br>
						{if $item.cprt4_name}{$item.cprt4_name} {$item.clss4_width} x {$item.clss4_height} cm<br><br>{/if}
						{if $item.pfac_id}<a href="#" class="layout-preview">Apskatīt</a>{/if}
					</td>
					<td>{$item.poit_price}</td>
					<td style="text-align:center;">{$item.poit_qty}</td>
					<td>{$item.poit_total}</td>
				</tr>
				{/foreach}
			</tbody>
			{/if}
		</table>	
	</article>	
</form>

<script>
  $(function() {
    $('#dialog').dialog({
	    autoOpen: false,
	    width: 800,
	    height: 600
    });
    
    $('#tabs').tabs();

  	$('.layout-preview').on('click', function(e) {
	    e.preventDefault();

	    $('#dialog').dialog('open');
  	 });  
  });
</script>

<div id="dialog">
	{if $factory_items}
	<div id="tabs">
		<ul>
			{foreach $factory_items as $f_item}	
			<li><a href="#tabs-{$f_item.pfai_id}">{$f_item.cprt_name_singular} {$f_item.clss_width}x{$f_item.clss_height}</a></li>
			{/foreach}
		</ul>
		
		{foreach $factory_items as $i => $f_item}
		<div id="tabs-{$f_item.pfai_id}">
			{if $f_item.cprt_code == 'palags'}
				<div style="background-color:{$f_item.pfai_bottom_color};width:375px;height:475px;float:left;"></div>
			{else}
				<div style="width:375px;float:left;">
					<table style="width:100%;" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
						{for $w_foo=0 to ($f_item.clss_width / 5) - 1}
							<tr>
								{for $h_foo=0 to ($f_item.clss_height / 5) - 1}								
								<td class="constructor-cell" 
									style="border:1px solid #fff;background-color:{$f_item.pfai_content[$w_foo * ($f_item.clss_width / 5) + $h_foo]};">&nbsp;</td>
								{/for}
							</tr>
						{/for}
					</table>
					
					<div style="background-color:{$f_item.pfai_bottom_color};width:375px;height:75px;margin-top:25px;"></div>
				</div>							
			{/if}

			<div style="float:left;margin-left:20px;width:320px;">
				<table>
					<tr>
						<th>Platums:</th>
						<td>{$f_item.clss_width} cm</td>
					</tr>
					<tr>
						<th>Augstums:</th>
						<td>{$f_item.clss_height} cm</td>
					</tr>
					<tr>
						<th>Aizdare/Apstrāde:</th>
						<td>{$f_item.option_aa_name}</td>
					</tr>
				</table>
			</div>
			<div style="clear:both;"></div>		
		</div>
		{/foreach}
	</div>	
	{else}
		Kļūda 404 : dizains netiks atrasts!	
	{/if}
</div>


<script type="text/javascript" src="/js/preview.js"></script>

<script type="text/javascript"></script>