<form action="" method="post">
	<article class="module width_3_quarter">
		<header>
			<h3>
				{if $id == ''}
					Jauns Šablons
				{else}
					Šablons "{$gallery.pgal_title}"
				{/if}
			</h3>
		</header>
		
		<div class="module_content">
			<fieldset>
				<label></label>
				<center>
					<div id="user-design-table"></div>
				</center>
			</fieldset>
		</div>
		
			<div class="clear"></div>
		</div>
	</article>

	<article class="module width_quarter">
		<header><h3></h3></header>
		<div class="module_content">
			<fieldset>
				<label>Status</label>
				<input type="radio" id="hidden" class="state_toggle" name="gallery_state" value="0" {if $gallery.pgal_is_active == 0}checked="checked"{/if} />
				<label for="hidden" class="checkbox">Slēpts</label><br/>
				<input type="radio" id="published" class="state_toggle" name="gallery_state" value="1" {if $gallery.pgal_is_active == 1}checked="checked"{/if} />
				<label for="published" class="checkbox">Publisks</label>
			</fieldset>
		
			<fieldset>
				<label>Krāsas</label>
				<div id="color-table"></div>
			</fieldset>

			<fieldset>
				<label>Izmaksas</label>
				<div id="price">
					<table style='text-align:right;'>
						<tr>
							<td>Bāzes cena :</td>
							<td style="width:100px;text-align:right;">57.14 €</td>
						</tr>
						<tr>
							<td>Vīles :</td>
							<td>40.00 €</td>
						</tr>
						<tr>
							<th style="text-align:right;">Kopā :</th>
							<th style="text-align:right;">97.14 €</th>
						</tr>
					</table>
					
				</div>
			</fieldset>

		</div>
		
		<footer>
			<div class="submit_link">
				<input type="submit" value="Save" class="alt_btn" name="save" id="save" />
				<input type="submit" value="Cancel" name="cancel" formnovalidate />
			</div>
		</footer>			
	</article>
</form>

<script type="text/javascript">
	var active_color;
	var mouse_up_coords;
	var mouse_down_coords;
	
	var layout = new Array();

	var color_pallete = new Array('#f00', '#3914af', '#ffd300', '#0c0', '#600cac', '#00a383', '#c9007a');
	
	function saveLayout()
	{
		layout = new Array();
		$('#design-table tr').each(function(){
		    $(this).find('td').each(function(){
		        layout.push($(this).css('background-color'));
		    });
		});
	}
	
	function loadLayout()
	{
		var i = 0;
		$('#design-table tr').each(function(){
		    $(this).find('td').each(function(){
		       	$(this).css('background-color', layout[i]);
		       	i++;
		    });
		});		
	}
	
	function drawUserDesignTable(x, y)
	{
        var poz = document.getElementById('user-design-table');
       
        tab = document.createElement('table');
        poz.appendChild(tab);

        tab.id = 'design-table';
        tab.style.borderCollapse = 'collapse';
        tab.style.width = 375 + 'px';
        tab.style.height = 375 + Math.floor((x - y) * (375 / y)) + 'px'; 
        
        for (var i = 0; i < x; i++){
            var row = tab.insertRow(i);

            for(var j = 0; j < y; j++){
                var cell = row.insertCell(j);

                cell.id = 'x[' + i + ']y[' + j + ']';                            

                cell.setAttribute('x', i);
                cell.setAttribute('y', j);
                
                cell.style.border 	= '1px solid #000';
                cell.style.width 	= Math.floor(375 / y) + 'px';
                cell.style.height 	= this.width;
                cell.onclick 		= function() {
                	this.style.backgroundColor = this.style.backgroundColor == active_color ? '#fff' : active_color; 
                };
                
                cell.onmousedown 	= function() { 
                	saveLayout(); 
                	mouse_down_coords = [Number(this.getAttribute('x')), Number(this.getAttribute('y'))];
                };
                	
                cell.onmouseup 		= function() { 
                	mouse_up_coords = [Number(this.getAttribute('x')), Number(this.getAttribute('y'))]; 
//                	colorSquare(mouse_down_coords, mouse_up_coords); 
                	saveLayout();
                	mouse_down_coords = false; 
                	mouse_up_coords = false; 
                };
            };
        };

	    $('#design-table tr td').bind(
	    	'mouseenter' , function() {
		    	if (mouse_down_coords)
		    	{
		        	mouse_up_coords = [Number($(this).attr('x')), Number($(this).attr('y'))]; 

		        	if (mouse_down_coords && mouse_up_coords)
		        	{
		            	if (layout)
		            	{
		            		loadLayout();
		            	}
		            	
		            	colorSquare(mouse_down_coords, mouse_up_coords);
		            }	                	
		        }
	    	}
	    );
	}
	
	function drawColorTable()
	{
       var poz = document.getElementById('color-table');

        tab = document.createElement('table');
        poz.appendChild(tab);

        tab.cellSpacing = 5;
//        tab.style.borderCollapse = 'collapse';
        
        var z = 0;
        for (var i = 0; i < color_pallete.length / 6; i++){
            var row = tab.insertRow(i);

            for(var j = 0; j < 6 ; j++){
                var cell = row.insertCell(j);
                //cell.innerHTML = '';
//                cell.style.border = '1px solid #000000';
                cell.style.backgroundColor = color_pallete[z];
                cell.style.height = '20px';
                cell.style.width = '20px';
                cell.onclick = function() { active_color = this.style.backgroundColor; };
                z++;
            };
        };			
	}
	
	function colorSquare(mouse_down_coords, mouse_up_coords)
	{
		if (!mouse_down_coords || !mouse_up_coords || mouse_down_coords == mouse_up_coords)
		{
			return false;
		}
		
		if (mouse_down_coords[0] > mouse_up_coords[0]) {
			var x_begin = mouse_up_coords[0];
			var x_end = mouse_down_coords[0];
		} else {
			var x_begin = mouse_down_coords[0];
			var x_end = mouse_up_coords[0];
		}
		
		if (mouse_down_coords[1] > mouse_up_coords[1]) {
			var y_begin = mouse_up_coords[1];
			var y_end = mouse_down_coords[1];
		} else {
			var y_begin = mouse_down_coords[1];
			var y_end = mouse_up_coords[1];	
		}
														
		for(var i = x_begin; i <= x_end; i++)
		{
			for(var j = y_begin; j <= y_end; j++)
			{
				var el = document.getElementById('x[' + i + ']y[' + j + ']');

				el.style.backgroundColor = active_color;
			}
		}
	}
	
	function drawTables()
	{
		drawColorTable();
		drawUserDesignTable(Math.round(260 / 5), Math.round(240 / 5));
	}
	
	$(function()
	{
		drawTables();
	});
</script>